@using RegistryWeb.ViewModel
@using RegistryWeb.Models.Entities
@using RegistryWeb.Extensions;
@model ClaimsVM;
@{
    Context.Session.Set("Controller", "Claims");
    Context.Session.Set("Action", "ClaimsReports");
    ViewData["Title"] = "Мастер массовых операций над исковыми работами";
    var text = "Количество записей: " + Model.PageOptions.TotalRows;
    var canEdit = ViewBag.CanEdit;
    var errorClaims = (List<Claim>)ViewData["ErrorClaims"];
}
@section styles
{
    <link rel="stylesheet" href="~/css/claims.css" runat="server" />
}

@section Scripts
{
    <script src="~/js/claim.reports.js" asp-append-version="true"></script>
}

<div class="col status"></div>

<h1>@ViewData["Title"]</h1>
<h4 class="mb-3">@text</h4>

@if (errorClaims != null && errorClaims.Any())
{
    <div class="alert alert-danger text-center">
        <p class="mb-0">
            Во время массовой операции были пропущены исковые работы со следующими реестровыми номерами:
            @(errorClaims.Select(v => v.IdClaim.ToString()).Aggregate((acc, v) => acc + ", " + v))
        </p>
        <p class="mb-0">Причина: @ViewBag.ErrorReason</p>
    </div>
}

<div class="form-row">
    <div class="form-group col-md-1 col-lg-3">
        <a class="form-control btn btn-primary" asp-controller="Claims" asp-action="Index" asp-route-isBack="true">Назад</a>
    </div>
    <div class="form-group col-md-2 col-lg-3">
        <a class="form-control btn btn-primary" asp-controller="Claims" asp-action="ClearSessionIds">Очистить</a>
    </div>
    <div class="form-group col-md-3 col-lg-3">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle col-md-12" type="button" id="reportButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-document"></span>  Отчеты
            </button>
            <div class="dropdown-menu" aria-labelledby="reportButton">
                <button class="dropdown-item rr-report-request-to-bsk" @(Model.Claims.Any() ? "" : "disabled") href="#" data-id-claim="0">Запрос в БКС</button>
                <button class="dropdown-item rr-report-memo-to-lawyers" @(Model.Claims.Any() ? "" : "disabled") href="#" data-id-claim="0">СЗ в юридический отдел</button>
                <button class="dropdown-item" id="exportBtn" @(Model.Claims.Any() ? "" : "disabled") href="#">Экспорт</button>
                <button class="dropdown-item" id="doverieBtn" @(Model.Claims.Any() ? "" : "disabled") href="#">Сформировать обменный файл АИС "Доверие"</button>
            </div>
        </div>
    </div>
    <div class="form-group col-md-3 col-lg-3">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle col-md-12" type="button" id="operationsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-pencil"></span>  Операции
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="operationsButton">
                <button class="dropdown-item" @(canEdit && Model.Claims.Any() ? "" : "disabled") href="#" id="addClaimState">Создать этап претензионно-исковой работы</button>
                <button class="dropdown-item" @(canEdit && Model.Claims.Any() ? "" : "disabled") href="#" id="setDeptPeriod">Установить период предъявления</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover c-table">
    <thead>
        <tr>
            <th style="width:70px;">№</th>
            <th>Адрес / ЛС</th>
            <th width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Claims.Any())
        {
            foreach (var item in Model.Claims)
            {
                <tr>
                    <td>@item.IdClaim</td>
                    <td>
                        <div class="mb-1">
                            <b>Лицевой счет: </b>@item.IdAccountNavigation.Account
                        </div>
                        @if (Model.RentObjects.ContainsKey(item.IdAccount))
                        {
                            <div>
                                @foreach (var address in Model.RentObjects[item.IdAccount])
                                {
                                    @await Component.InvokeAsync("ClaimsAddressComponent", new { address = address, idClaim = item.IdClaim })
                                }
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-auto">
                                    <button class="btn btn-success oi oi-home mr-1 mt-2 disabled dropdown-toggle" type="button" title="Здания и помещения" aria-label="Здания и помещения"></button>
                                </div>
                                <div class="col-lg-9 col-md-8 mt-1">
                                    @item.IdAccountNavigation.Crn, @item.IdAccountNavigation.RawAddress
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                               asp-controller="Claims" asp-action="Details" asp-route-idClaim="@item.IdClaim" asp-route-action="Details" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                               asp-action="RemoveSessionId" asp-controller="Claims" asp-route-id="@item.IdClaim"></a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="3" class="text-center"><i>Элементы отсутствуют</i></td></tr>
        }

    </tbody>
</table>

<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

<partial name="ReportsModals" model="@Model">