@using RegistryWeb.Extensions
@using RegistryWeb.Enums;
@using RegistryWeb.ViewModel;
@using RegistryServices.ViewModel.KumiAccounts;
@model RegistryServices.ViewModel.Claims.ClaimVM;
@{

    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание новой исковой работы";
    }
    else
    {
        ViewData["Title"] = "Исковая работа №" + Model.Claim.IdClaim;
    }
    ViewData["Id"] = Model.Claim.IdClaim;
    ViewData["StateTypes"] = Model.StateTypes;
    ViewData["StateTypeRelations"] = Model.StateTypeRelations;
    ViewData["CurrentExecutor"] = Model.CurrentExecutor;
    ViewData["ClaimCourtOrders"] = Model.Claim.ClaimCourtOrders;
    ViewData["Executors"] = Model.Executors;
    ViewData["Judges"] = Model.Judges;
    ViewData["Signers"] = Model.Signers;
    
    List<KumiAccountTenancyInfoVM> activeKumiTenancyInfo = null;
    if (Model.Claim.IdAccountKumi != null && Model.TenancyInfoKumi != null)
    {
        activeKumiTenancyInfo = Model.TenancyInfoKumi.Where(r => r.TenancyProcess.TenancyPersons.Any(p => p.ExcludeDate == null || p.ExcludeDate > DateTime.Now)
        && (r.TenancyProcess.RegistrationNum == null || !r.TenancyProcess.RegistrationNum.EndsWith("н"))).ToList();
    }
}

@section styles {
    <link href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/claims.css" runat="server" />
}


<div class="card">
    <div class="card-header d-flex flex-column flex-lg-row">
        <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0">@ViewData["Title"]</label>

        <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
            @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
            {

                @if (Model.RentObjectsBks.Any())
                {
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Здания и помещения" aria-label="Здания и помещения" id="registryBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-home"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="registryBtn">
                            @{
                                var rentObjects = Model.RentObjectsBks;
                                var premisesIds = rentObjects.Where(r => r.AddressType == AddressTypes.Premise).Select(r => r.Id)
                                                .Union(rentObjects.Where(r => r.AddressType == AddressTypes.SubPremise).Select(r => r.IdParents["Premise"]))
                                                .Select(r => int.Parse(r));
                                var buildingIds = rentObjects.Where(r => r.AddressType == AddressTypes.Building).Select(r => r.Id)
                                                .Union(rentObjects.Where(r => r.AddressType == AddressTypes.Premise).Select(r => r.IdParents["Building"]))
                                                .Union(rentObjects.Where(r => r.AddressType == AddressTypes.SubPremise).Select(r => r.IdParents["Building"]))
                                                .Select(r => int.Parse(r));

                                foreach (int buildingId in buildingIds)
                                {
                                    var btnTitle = "Здание";
                                    if (buildingIds.Count() > 1)
                                    {
                                        btnTitle += " № " + buildingId;
                                    }

                                    <a class="dropdown-item" title="@btnTitle" aria-label="@btnTitle"
                                       asp-controller="Buildings" asp-action="Details" asp-route-idBuilding="@buildingId" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">@btnTitle</a>
                                }
                                foreach (int premisesId in premisesIds)
                                {
                                    var btnTitle = "Помещение";
                                    if (premisesIds.Count() > 1)
                                    {
                                        btnTitle += " № " + premisesId;
                                    }

                                    <a class="dropdown-item" title="@btnTitle" aria-label="@btnTitle"
                                       asp-controller="Premises" asp-action="Details" asp-route-idPremises="@premisesId" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">@btnTitle</a>
                                }
                            }
                        </div>
                    </div>
                }

                <div class="btn-group" role="group" aria-label="Панель доступа">
                    @if (ViewBag.Action == "Details" && (ViewBag.CanEditBaseInfo ?? false))
                    {
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@Model.Claim.IdClaim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-wrench"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="toolsBtn_@Model.Claim.IdClaim">
                                <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                   asp-controller="Claims" asp-action="Edit" asp-route-idClaim="@Model.Claim.IdClaim" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                                <a class="btn btn-danger oi oi-x @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" title="Удалить" aria-label="Удалить"
                                   asp-controller="Claims" asp-action="Delete" asp-route-idClaim="@Model.Claim.IdClaim" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            </div>
                        </div>
                    }

                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <button class="btn btn-dark dropdown-toggle" type="button" title="Связанные объекты" aria-label="Связанные объекты" id="objectsBtn_@Model.Claim.IdClaim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-grid-two-up"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_@Model.Claim.IdClaim">
                            @if (Model.Claim.IdAccountKumi != null)
                            {
                                <a class="dropdown-item" title="Лицевой счет КУМИ" aria-label="Лицевой счет КУМИ"
                                   asp-controller="KumiAccounts" asp-action="Details" asp-route-idAccount="@Model.Claim.IdAccountKumi" 
                                   asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Лицевой счет@(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? " КУМИ" : "")</a>
                            }
                            @if (Model.Claim.IdAccount != null)
                            {
                        <a class="dropdown-item" title="Лицевой счет БКС (основной)" aria-label="Лицевой счет БКС (основной)"
                           asp-controller="PaymentAccounts" asp-action="PaymentAccountsTable"
                           asp-route-idAccount="@Model.Claim.IdAccount" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Лицевой счет@(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? " БКС" : "") @(Model.Claim.IdAccountAdditional != null ? "(основной)":"")</a>
                                @if (Model.Claim.IdAccountAdditional != null)
                                {
                                <a class="dropdown-item" title="Лицевой счет БКС (дополнительный)" aria-label="Лицевой счет БКС (дополнительный)"
                                   asp-controller="PaymentAccounts" asp-action="PaymentAccountsTable" asp-route-idAccount="@Model.Claim.IdAccountAdditional"
                                   asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Лицевой счет@(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? " БКС" : "") (дополнительный)</a>
                                }
                            }
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="Отчеты">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@Model.Claim.IdClaim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@Model.Claim.IdClaim">
                            <a class="dropdown-item rr-report-request-to-bsk" href="#" title="Запрос в БКС" aria-label="Запрос в БКС" data-id-claim="@Model.Claim.IdClaim" data-id-reportbkstype="1">Запрос в БКС</a>
                            <a class="dropdown-item rr-report-request-to-bsk" href="#" title="Запрос в БКС" aria-label="Запрос в БКС (с периодом расчета)" data-id-claim="@Model.Claim.IdClaim" data-id-reportbkstype="2">Запрос в БКС (с периодом расчета)</a>
                            <a class="dropdown-item rr-report-memo-to-lawyers" href="#" title="СЗ в юридический отдел" aria-label="СЗ в юридический отдел" data-id-claim="@Model.Claim.IdClaim">СЗ в юридический отдел</a>
                        </div>
                    </div>
                </div>
            }
            <div class="btn-group" role="group" aria-label="Панель доступа">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-controller="Claims" asp-action="Index" asp-route-isBack="true">Назад</a>
                }
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" id="createBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" id="editBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" id="deleteBtn" style="@(Model.Claim.PaymentClaims.Any() ? "cursor: initial" : "")" class="form-control btn btn-danger @(Model.Claim.PaymentClaims.Any() ? "disabled" : "")" />
                }

                <a href="#" data-for="Claim" class="form-control btn btn-primary claim-toggler" title="Развернуть исковую работу" style="font-weight:bold;">∧</a>
            </div>
        </div>
    </div>
    <div class="card-body pt-3 pb-3 pl-3 pr-3" id="Claim">
        @if (ViewBag.Action == "Delete" && (Model.Claim.PaymentClaims.Any()))
        {
            <div class="alert alert-danger text-center">Нельзя удалить претензионно-исковую работу, на которую распределены платежи.</div>
        }

        <form asp-controller="Claims" asp-action="@ViewBag.Action" id="ClaimForm" data-action="@ViewBag.Action" data-persons-source-selected="0" autocomplete="off" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Claim.IdClaim" />
            <input type="hidden" asp-for="LoadPersonsSource" />
            <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
            <input type="hidden" name="AnyAccountRequire" />
            <div class="row">
                <div class="form-group col-12 @(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? "col-md-8 col-lg-6" : "col-md-6 col-lg-3") mb-2">
                    <label class="mb-1 rr-claim-label" asp-for="Claim.IdAccount">Лицевой счет</label>
                    <input type="hidden" asp-for="Claim.IdAccount" />
                    <input type="hidden" asp-for="Claim.IdAccountKumi" />

                    <div class="input-group rr-claim-account-main">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle @(ViewBag.Action == "Delete" || ViewBag.Action == "Details" ? "disabled" : "")" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? "ЛС БКС/КУМИ" : Model.Claim.IdAccountKumi != null ? "ЛС КУМИ" : "ЛС БКС")</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">ЛС БКС</a>
                                <a class="dropdown-item" href="#">ЛС КУМИ</a>
                                <a class="dropdown-item d-none" href="#">ЛС БКС/КУМИ</a>
                            </div>
                        </div>
                        <input type="text" class="form-control @(Model.Claim.IdAccount == null ? "d-none" : "")" asp-for="Claim.IdAccountNavigation.Account" title="Номер лицевого счета БКС">
                        <input type="text" class="form-control @(Model.Claim.IdAccountKumi == null ? "d-none" : "")" asp-for="Claim.IdAccountKumiNavigation.Account" title="Номер лицевого счета КУМИ">
                    </div>
                    <span class="text-danger field-validation-valid" data-valmsg-for="AnyAccountRequire" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group col-12 @(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? "col-md-4" : "col-md-6") col-lg-3 mb-2 rr-claim-account-additional @(Model.Claim.IdAccount == null ? "d-none" : "")">
                    <label class="mb-1 rr-claim-label" asp-for="Claim.IdAccountAdditional">Лицевой счет (доп.)</label>
                    <input type="hidden" asp-for="Claim.IdAccountAdditional" />
                    <input type="text" class="form-control" asp-for="Claim.IdAccountAdditionalNavigation.Account" title="Номер лицевого счета БКС">
                </div>
                <div class="form-group col-12 @(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? "col-md-4 col-lg-3" : Model.Claim.IdAccountKumi != null ? "col-md-6 col-lg-3" : "col-md-4 col-lg-2") mb-2">
                    <label class="mb-1 rr-claim-label" asp-for="Claim.AtDate">Дата фомирования</label>
                    <input type="date" class="form-control" asp-for="Claim.AtDate"
                           value="@(Model.Claim.AtDate.HasValue ? Model.Claim.AtDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата формирования">
                </div>
                <div class="form-group col-12 @(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? "col-md-4 col-lg-6" : Model.Claim.IdAccountKumi != null ? "col-md-6 col-lg-3" : "col-md-4 col-lg-2") mb-2">
                    <label class="mb-1 rr-claim-label" asp-for="Claim.StartDeptPeriod">Предъявлено с</label>
                    <input type="date" class="form-control" asp-for="Claim.StartDeptPeriod"
                           value="@(Model.Claim.StartDeptPeriod.HasValue ? Model.Claim.StartDeptPeriod.Value.ToString("yyyy-MM-dd") : "")" title="Дата начала предъявляемого периода">
                </div>
                <div class="form-group col-12 @(Model.Claim.IdAccount != null && Model.Claim.IdAccountKumi != null ? "col-md-4 col-lg-6" : Model.Claim.IdAccountKumi != null ? "col-md-6 col-lg-3" : "col-md-4 col-lg-2") mb-2">
                    <label class="mb-1 rr-claim-label" asp-for="Claim.EndDeptPeriod">Предъявлено по</label>
                    <input type="date" class="form-control" asp-for="Claim.EndDeptPeriod"
                           value="@(Model.Claim.EndDeptPeriod.HasValue ? Model.Claim.EndDeptPeriod.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания предъявляемого периода">
                </div>
            </div>
            <div class="row">
                @{
                    var bksAddress = Model.Claim.IdAccountNavigation?.RawAddress;
                    var registryAddressBks = "";
                    var registryAddressKumi = "";
                    if (Model.Claim.IdAccountKumi != null && Model.TenancyInfoKumi != null && Model.TenancyInfoKumi.Any())
                    {
                        List<Address> rentObjectsKumi = null;
                        rentObjectsKumi = Model.TenancyInfoKumi.FirstOrDefault().RentObjects.Select(r => r.Address).ToList();
                        if (activeKumiTenancyInfo.Any())
                        {
                            rentObjectsKumi = activeKumiTenancyInfo.FirstOrDefault().RentObjects.Select(r => r.Address).ToList();
                        }
                        if (rentObjectsKumi.Any())
                        {
                            registryAddressKumi = rentObjectsKumi.Select(r => r.Text).Aggregate((acc, v) => acc + ", " + v);
                        }
                    }
                    if (Model.Claim.IdAccount != null && Model.RentObjectsBks != null && Model.RentObjectsBks.Any())
                    {
                        registryAddressBks = Model.RentObjectsBks.Select(r => r.Text).Aggregate((acc, v) => acc + ", " + v);
                    }
                }
                <div class="form-group col-12 col-lg-6 mb-2 rr-claim-bks-address @(Model.Claim.IdAccount == null ? "d-none" : "")">
                    <label class="mb-1 rr-claim-label" for="Claim.BksAddress">Адрес арендуемого ЖП по БКС @(Model.Claim.IdAccountKumi != null && Model.Claim.IdAccount != null ? "(ЛС БКС)" : "")</label>
                    <input type="text" disabled name="Claim.BksAddress" value="@bksAddress" class="form-control" title="Адрес по БКС">
                </div>
                <div class="form-group col-12 col-lg-6 mb-2 rr-claim-bks-address @(Model.Claim.IdAccount == null ? "d-none" : "")">
                    <label class="mb-1 rr-claim-label" for="Claim.RegistryAddressBks">Адрес арендуемого ЖП по ЖФ @(Model.Claim.IdAccountKumi != null && Model.Claim.IdAccount != null ? "(ЛС БКС)" : "")</label>
                    <input type="text" disabled class="form-control" value="@registryAddressBks" name="Claim.RegistryAddressBks" title="Адрес по жилищному фонду БКС">
                </div>
                <div class="form-group col-12 mb-2 rr-claim-kumi-address @(Model.Claim.IdAccountKumi == null ? "d-none" : "")">
                    <label class="mb-1 rr-claim-label" for="Claim.RegistryAddressKumi">Адрес арендуемого ЖП @(Model.Claim.IdAccountKumi != null && Model.Claim.IdAccount != null ? "(ЛС КУМИ)" : "")</label>
                    <input type="text" disabled class="form-control" value="@registryAddressKumi" name="Claim.RegistryAddressKumi" title="Адрес по жилищному фонду КУМИ">
                </div>
                <div class="form-group col-12 mb-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="Claim.EndedForFilter">
                        <label class="form-check-label" asp-for="Claim.EndedForFilter" title="Не учитывать при фильтрации">Не учитывать при фильтрации</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 rr-claim-card">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between pt-2 pb-2">
                            <h4 class="mt-1 rr-claim-amount-sum-header">Задолженность</h4>
                            <div class="btn-group" role="group">
                                @if (ViewBag.Action == "Edit")
                                {
                                    <button class="form-control btn btn-outline-info dropdown-toggle oi oi-loop-circular" type="button"
                                        title="Обновить задолженность" aria-label="Обновить задолженность" style="font-weight:bold;"
                                        id="accountsBtn_@Model.Claim.IdClaim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu rr-claim-account-update-arrears" aria-labelledby="accountsBtn_@Model.Claim.IdClaim">
                                        <a href="#" class="dropdown-item" title="По ЛС КУМИ" aria-label="По ЛС КУМИ">По ЛС КУМИ</a>
                                        <a href="#" class="dropdown-item" title="По ЛС БКС (основной)" aria-label="По ЛС БКС (основной)">По ЛС БКС</a>
                                    </div>
                                }
                                <a href="#" data-for="ClaimAmount" class="form-control btn btn-primary claim-toggler" title="Отобразить информацию по задолженности" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <div id="ClaimAmount" class="card-body @(ViewBag.Action == "Delete" || ViewBag.Action == "Details" ? "p-0" : "p-3")">
                            @if (ViewBag.Action == "Delete" || ViewBag.Action == "Details")
                            {
                                <table class="table table-bordered table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th class="text-center p-1"></th>
                                            <th class="text-center p-1" title="Найм">Найм</th>
                                            <th class="text-center p-1" title="Пени">Пени</th>
                                            <th class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")" title="ДГИ">ДГИ</th>
                                            <th class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")" title="Падун">Падун</th>
                                            <th class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")" title="ПКК">ПКК</th>
                                            <th class="text-center p-1" title="Итого">Итого</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center p-1"><b>Предъявлено</b></td>
                                            <td class="text-center p-1">@(Model.Claim.AmountTenancy ?? 0.00m)</td>
                                            <td class="text-center p-1">@(Model.Claim.AmountPenalties ?? 0.00m)</td>
                                            <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@(Model.Claim.AmountDgi ?? 0.00m)</td>
                                            <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@(Model.Claim.AmountPadun ?? 0.00m)</td>
                                            <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@(Model.Claim.AmountPkk ?? 0.00m)</td>
                                            <td class="text-center p-1">
                                                @((Model.Claim.AmountTenancy + Model.Claim.AmountPenalties + Model.Claim.AmountDgi + Model.Claim.AmountPadun + Model.Claim.AmountPkk) ?? 0.00m)
                                            </td>
                                        </tr>
                                        @if (Model.Claim.IdAccountKumiNavigation != null)
                                        {
                                            <tr>
                                                <td class="text-center p-1"><b>Высужено</b></td>
                                                <td class="text-center p-1">@(Model.Claim.FactAmountTenancy ?? 0.00m)</td>
                                                <td class="text-center p-1">@(Model.Claim.FactAmountPenalties ?? 0.00m)</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@(Model.Claim.FactAmountDgi ?? 0.00m)</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@(Model.Claim.FactAmountPadun ?? 0.00m)</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@(Model.Claim.FactAmountPkk ?? 0.00m)</td>
                                                <td class="text-center p-1">
                                                    @((Model.Claim.FactAmountTenancy + Model.Claim.FactAmountPenalties + Model.Claim.FactAmountDgi + Model.Claim.FactAmountPadun + Model.Claim.FactAmountPkk) ?? 0.00m)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="text-center p-1"><b>Фактически взыскано</b></td>
                                                <td class="text-center p-1">
                                                    @if (Model.Claim.AmountTenancyRecovered > 0 || Model.Claim.AmountPenaltiesRecovered > 0)
                                                    {
                                                        <a asp-controller="KumiPayments" target="_blank" asp-action="Index"
                                                           asp-route-filterOptions.IdClaim="@Model.Claim.IdClaim">@Model.Claim.AmountTenancyRecovered</a>
                                                    }
                                                    else
                                                    {
                                                        @(Model.Claim.AmountTenancyRecovered ?? 0.00m)
                                                    }
                                                </td>
                                                <td class="text-center p-1">
                                                    @if (Model.Claim.AmountTenancyRecovered > 0 || Model.Claim.AmountPenaltiesRecovered > 0)
                                                    {
                                                        <a asp-controller="KumiPayments" target="_blank" asp-action="Index"
                                                           asp-route-filterOptions.IdClaim="@Model.Claim.IdClaim">@Model.Claim.AmountPenaltiesRecovered</a>
                                                    }
                                                    else
                                                    {
                                                        @(Model.Claim.AmountPenaltiesRecovered ?? 0.00m)
                                                    }
                                                </td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1">
                                                    @if (Model.Claim.AmountTenancyRecovered > 0 || Model.Claim.AmountPenaltiesRecovered > 0)
                                                    {
                                                        <a asp-controller="KumiPayments" target="_blank" asp-action="Index"
                                                           asp-route-filterOptions.IdClaim="@Model.Claim.IdClaim">@(Model.Claim.AmountTenancyRecovered + Model.Claim.AmountPenaltiesRecovered)</a>
                                                    }
                                                    else
                                                    {
                                                        @((Model.Claim.AmountTenancyRecovered + Model.Claim.AmountPenaltiesRecovered) ?? 0.00m)
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center p-1"><b>Остаток задолженности</b></td>
                                                <td class="text-center p-1">
                                                    @((Model.Claim.AmountTenancy ?? 0.00m) - (Model.Claim.AmountTenancyRecovered ?? 0.00m))
                                                </td>
                                                <td class="text-center p-1">
                                                    @((Model.Claim.AmountPenalties ?? 0.00m) - (Model.Claim.AmountPenaltiesRecovered ?? 0.00m))
                                                </td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1">
                                                    @(((Model.Claim.AmountTenancy + Model.Claim.AmountPenalties) ?? 0.00m) - ((Model.Claim.AmountTenancyRecovered + Model.Claim.AmountPenaltiesRecovered) ?? 0.00m))
                                                </td>
                                            </tr>
                                        }
                                        @if (Model.LastPaymentInfo != null || Model.Claim.IdAccountKumiNavigation != null)
                                        {
                                            <tr><td colspan="@(Model.Claim.IdAccount == null ? "4" : "7")" class="text-center p-1"><b>Сальдо на текущий месяц</b></td></tr>
                                        }
                                        @if (Model.LastPaymentInfo != null)
                                        {
                                            <tr>
                                                <td class="text-center p-1"><b>Входящее@(Model.LastPaymentInfo != null && Model.Claim.IdAccountKumiNavigation != null ? " БКС" : "")</b></td>
                                                <td class="text-center p-1">@Model.LastPaymentInfo.BalanceTenancy</td>
                                                <td class="text-center p-1">@Model.LastPaymentInfo.BalanceInputPenalties</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@Model.LastPaymentInfo.BalanceDgi</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@Model.LastPaymentInfo.BalancePadun</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@Model.LastPaymentInfo.BalancePkk</td>
                                                <td class="text-center p-1">@Model.LastPaymentInfo.BalanceInput</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center p-1"><b>Исходящее@(Model.LastPaymentInfo != null && Model.Claim.IdAccountKumiNavigation != null ? " БКС" : "")</b></td>
                                                <td class="text-center p-1">@Model.LastPaymentInfo.BalanceOutputTenancy</td>
                                                <td class="text-center p-1">@Model.LastPaymentInfo.BalanceOutputPenalties</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@Model.LastPaymentInfo.BalanceOutputDgi</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@Model.LastPaymentInfo.BalanceOutputPadun</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">@Model.LastPaymentInfo.BalanceOutputPkk</td>
                                                <td class="text-center p-1">@Model.LastPaymentInfo.BalanceOutputTotal</td>
                                            </tr>
                                        }
                                        @if (Model.Claim.IdAccountKumiNavigation != null)
                                        {
                                            <tr>
                                                <td class="text-center p-1"><b>Исходящее@(Model.LastPaymentInfo != null && Model.Claim.IdAccountKumiNavigation != null ? " КУМИ" : "")</b></td>
                                                <td class="text-center p-1">@(Model.Claim.IdAccountKumiNavigation.CurrentBalanceTenancy ?? 0.00m)</td>
                                                <td class="text-center p-1">@(Model.Claim.IdAccountKumiNavigation.CurrentBalancePenalty ?? 0.00m)</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1 @(Model.Claim.IdAccount == null ? "d-none" : "")">0,00</td>
                                                <td class="text-center p-1">@((Model.Claim.IdAccountKumiNavigation.CurrentBalanceTenancy + Model.Claim.IdAccountKumiNavigation.CurrentBalancePenalty) ?? 0.00m)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h5>Предъявленная задолженость</h5>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-4 mb-2">
                                        <label class="mb-1" asp-for="Claim.AmountTenancy">Найм</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.AmountTenancy" title="Сумма к взысканию (найм)">
                                        <span asp-validation-for="Claim.AmountTenancy" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-2">
                                        <label class="mb-1" asp-for="Claim.AmountPenalties">Пени</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.AmountPenalties" title="Сумма к взысканию (пени)">
                                        <span asp-validation-for="Claim.AmountPenalties" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-2">
                                        <label class="mb-1">Итого</label>
                                        <input type="text" disabled class="form-control" id="Claim_AmountTotal" name="Claim.AmountTotal"
                                               value="@(Model.Claim.AmountTenancy + Model.Claim.AmountPenalties + Model.Claim.AmountDgi + Model.Claim.AmountPadun + Model.Claim.AmountPkk)"
                                               title="Сумма к взысканию (итого)">
                                    </div>
                                </div>
                                <div class="row rr-claim-additional-amount @(Model.Claim.IdAccount != null ? "" : "d-none")">
                                    <div class="form-group col-4 mb-0">
                                        <label class="mb-1" asp-for="Claim.AmountDgi">ДГИ</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.AmountDgi" title="Сумма к взысканию (ДГИ)">
                                        <span asp-validation-for="Claim.AmountDgi" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-0">
                                        <label class="mb-1" asp-for="Claim.AmountPadun">Падун</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.AmountPadun" title="Сумма к взысканию (Падун)">
                                        <span asp-validation-for="Claim.AmountPadun" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-0">
                                        <label class="mb-1" asp-for="Claim.AmountPkk">ПКК</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.AmountPkk" title="Сумма к взысканию (ПКК)">
                                        <span asp-validation-for="Claim.AmountPkk" class="text-danger"></span>
                                    </div>
                                </div>
                                <h5 class="mt-3">Высуженная задолженность</h5>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-4 mb-2">
                                        <label class="mb-1" asp-for="Claim.FactAmountTenancy">Найм</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.FactAmountTenancy" title="Высужено (найм)">
                                        <span asp-validation-for="Claim.FactAmountTenancy" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-2">
                                        <label class="mb-1" asp-for="Claim.FactAmountPenalties">Пени</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.FactAmountPenalties" title=Высужено (пени)">
                                        <span asp-validation-for="Claim.FactAmountPenalties" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-2">
                                        <label class="mb-1">Итого</label>
                                        <input type="text" disabled class="form-control" id="Claim_FactAmountTotal" name="Claim.FactAmountTotal"
                                               value="@(Model.Claim.FactAmountTenancy + Model.Claim.FactAmountPenalties + Model.Claim.FactAmountDgi + Model.Claim.FactAmountPadun + Model.Claim.FactAmountPkk)"
                                               title="Высужено (итого)">
                                    </div>
                                </div>
                                <div class="row rr-claim-additional-amount @(Model.Claim.IdAccount != null ? "" : "d-none")">
                                    <div class="form-group col-4 mb-0">
                                        <label class="mb-1" asp-for="Claim.FactAmountDgi">ДГИ</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.FactAmountDgi" title="Высужено (ДГИ)">
                                        <span asp-validation-for="Claim.FactAmountDgi" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-0">
                                        <label class="mb-1" asp-for="Claim.FactAmountPadun">Падун</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.FactAmountPadun" title="Высужено (Падун)">
                                        <span asp-validation-for="Claim.FactAmountPadun" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4 mb-0">
                                        <label class="mb-1" asp-for="Claim.FactAmountPkk">ПКК</label>
                                        <input type="text" class="form-control decimal input-decimal" asp-for="Claim.FactAmountPkk" title="Высужено (ПКК)">
                                        <span asp-validation-for="Claim.FactAmountPkk" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 rr-claim-card">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between pt-2 pb-2">
                            <h4 class="mt-1" for="Claim.Description">Дополнительные сведения</h4>
                            <div class="btn-group" role="group">
                                <a href="#" data-for="ClaimDescription" class="form-control btn btn-primary claim-toggler" title="Развернуть дополнительные сведения" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <textarea id="ClaimDescription" class="form-control toggle-hide" maxlength="2048" asp-for="Claim.Description" title="Дополнительные сведения"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <partial name="ClaimStates" model="Model.Claim.ClaimStates" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="ClaimPersons" model="Model.Claim.ClaimPersons" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="AttachmentFiles" model="Model.Claim.ClaimFiles" />
            </div>
        </div>
    </div>
</div>

<partial name="ReportsModals">

@section Scripts {
    <script src="~/js/claim.common.js" asp-append-version="true"></script>
    <script src="~/js/claim.reports.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
    {
        <script>
            $(function () {
                $('select').prop('disabled', true);
                $('input').prop('disabled', true);
                $('textarea').prop('disabled', true);
                $('input[type="hidden"]').prop('disabled', false);
                $('input[type="submit"]').prop('disabled', false);
            })
        </script>
    }
}

