@using RegistryDb.Models.Entities.Claims
@model ClaimCourtOrder

@{
    var id = Guid.NewGuid();
}

<li class="list-group-item pl-3 pr-3 pb-3 pt-3">
    <input type="hidden" asp-for="IdOrder" id="IdOrder_@id" name="IdOrder_@id" />
    <input type="hidden" asp-for="IdSigner" id="IdSigner_@id" name="IdSigner_@id" />
    <input type="hidden" asp-for="IdJudge" id="IdJudge_@id" name="IdJudge_@id" />
    <input type="hidden" asp-for="OpenAccountDate" id="OpenAccountDate_@id" name="OpenAccountDate_@id"
           value="@(Model.OpenAccountDate.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : Model.OpenAccountDate.ToString("yyyy-MM-dd"))" />
    <input type="hidden" asp-for="AmountTenancy" id="AmountTenancy_@id" name="AmountTenancy_@id" />
    <input type="hidden" asp-for="AmountPenalties" id="AmountPenalties_@id" name="AmountPenalties_@id" />
    <input type="hidden" asp-for="AmountDgi" id="AmountDgi_@id" name="AmountDgi_@id" />
    <input type="hidden" asp-for="AmountPadun" id="AmountPadun_@id" name="AmountPadun_@id" />
    <input type="hidden" asp-for="AmountPkk" id="AmountPkk_@id" name="AmountPkk_@id" />
    <input type="hidden" asp-for="StartDeptPeriod" id="StartDeptPeriod_@id" name="StartDeptPeriod_@id"
           value="@(Model.StartDeptPeriod.HasValue ? Model.StartDeptPeriod.Value.ToString("yyyy-MM-dd") : "")" />
    <input type="hidden" asp-for="EndDeptPeriod" id="EndDeptPeriod_@id" name="EndDeptPeriod_@id"
           value="@(Model.EndDeptPeriod.HasValue ? Model.EndDeptPeriod.Value.ToString("yyyy-MM-dd") : "")" />
    <div class="form-row">
        <div class="form-group col-6 col-md-3 mb-0 mb-md-2">
            <label class="mb-1">Дата создания</label>
            <input type="date" class="form-control" disabled asp-for="CreateDate"
                   value="@(Model.CreateDate.HasValue ? Model.CreateDate.Value.ToString("yyyy-MM-dd") : "")"
                   id="CreateDate_@id" name="CreateDate_@id" title="Дата создания">
        </div>
        <div class="form-group col-6 col-md-3 mb-0 mb-md-2">
            <label class="rr-claim-label mb-1">Дата формирования</label>
            <input type="date" class="form-control" disabled asp-for="OrderDate"
                   value="@(Model.OrderDate.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : Model.OrderDate.ToString("yyyy-MM-dd"))"
                   id="OrderDate_@id" name="OrderDate_@id" title="Дата формирования">
        </div>
        <div class="form-group col-9 col-md-4 mb-0">
            <label class="mb-1">Исполнитель</label>
            <select class="selectpicker form-control" disabled asp-for="IdExecutor"
                    asp-items="@(new SelectList(ViewBag.Executors, "IdExecutor", "ExecutorName"))" id="IdExecutor_@id" name="IdExecutor_@id" title="Исполнитель">
                <option></option>
            </select>
        </div>

        @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
        {
            <div class="text-right col-3 col-md-2 rr-claim-court-order-edit-buttons">
                <div class="btn-group edit-del-court-order-panel" role="group" aria-label="Панель редактирования">
                    <a class="btn btn-primary claim-court-order-edit-btn disabled" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger claim-court-order-delete-btn disabled" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
        {
            <div class="text-right col-3 col-md-2 rr-claim-court-order-view-buttons">
                <div class="btn-group view-del-court-order-panel" role="group" aria-label="Панель редактирования">
                    <a class="btn btn-primary claim-court-order-open-btn" href="#" title="Открыть дополнительную информацию о версии судебного приказа" aria-label="Открыть дополнительную информацию о версии судебного приказа">
                        <span class="oi oi-eye"></span>
                    </a>
                    <div class="btn-group" role="group" aria-label="Отчеты">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@Model.IdOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@Model.IdOrder">
                            <a class="dropdown-item rr-report-court-order-statement" href="#" title="Заявление о выдаче судебного приказа" aria-label="Заявление о выдаче судебного приказа" data-id-order="@Model.IdOrder">Заявление о выдаче судебного приказа</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</li>