@model RegistryWeb.ViewModel.ClaimsVM;
@using RegistryWeb.SecurityServices;

@{
    var securityService = (SecurityService)ViewData["SecurityService"];
}

<form asp-action="Index" method="get" class="filterForm" autocomplete="off">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    <input type="hidden" asp-for="FilterOptions.Address.AddressType" />
    <input type="hidden" asp-for="FilterOptions.Address.Id" />

    <div class="form-row">
        @if (securityService.HasPrivilege(Privileges.ClaimsWrite))
        {
            <div class="form-group col-2 col-md-1 col-lg-1">
                <a class="btn btn-success" title="Добавить" aria-label="Добавить" asp-controller="Claims" asp-action="Create" asp-route-idAccount="@Model.FilterOptions.IdAccount">&#10010;</a>
            </div>
        }
        @if (Model.FilterOptions.IsAddressEmpty())
        {
            <div class="form-group @(securityService.HasPrivilege(Privileges.ClaimsWrite) ? "col-10 col-md-4 col-lg-6" : "col-12 col-md-5 col-lg-7")">
                <input type="text" class="form-control col rr-alt-address-search" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
            </div>
        }
        else
        {
            <div class="form-group @(securityService.HasPrivilege(Privileges.ClaimsWrite) ? "col-10 col-md-4 col-lg-6" : "col-12 col-md-5 col-lg-7")">
                <div class="input-group">
                    <input type="text" class="form-control col rr-alt-address-search" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
                    <div class="input-group-append h-auto d-inline-block">
                        <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
                    </div>
                </div>
            </div>
        }
        @if (Model.FilterOptions.IsModalEmpty())
        {
            <div class="form-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
            </div>
        }
        else
        {
            <div class="form-group btn-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
                <a class="btn btn-outline-secondary" href="#" id="filterClearBtn">&#10006;</a>
            </div>
        }
        <div class="form-group col-6 col-md-4 col-lg-3">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle col-md-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-grid-three-up"></span> Мастер операций
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a href="#" class="dropdown-item addselect">Добавить отфильтрованные помещения</a>
                    <a class="dropdown-item" asp-controller="Claims" asp-action="ClaimsReports">Перейти в мастер</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Фильтр исковых работ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-6 col-lg-3">
                            <label asp-for="FilterOptions.Crn">СРН</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.Crn" title="СРН">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label asp-for="FilterOptions.Account">Лицевой счет</label>
                            <input type="text" class="form-control input-filter-numbers" asp-for="FilterOptions.Account" title="Лицевой счет">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label asp-for="FilterOptions.RawAddress">Адрес по БКС</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.RawAddress" title="Адрес по БКС">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-lg-2">
                            <label asp-for="FilterOptions.IdRegion">Район</label>
                            <select class="selectpicker form-control" data-size="10" data-live-search="true" title="Район" asp-for="FilterOptions.IdRegion" asp-items="@Model.KladrRegionsList">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-lg-4">
                            <label asp-for="FilterOptions.IdStreet">Улица</label>
                            <select class="selectpicker form-control" data-size="10" data-live-search="true" title="Улица" asp-for="FilterOptions.IdStreet" asp-items="@Model.KladrStreetsList">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.House">Номер дома</label>
                            <input type="text" class="form-control input-filter-house" asp-for="FilterOptions.House" title="Номер дома">
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.PremisesNum">Номер помещения</label>
                            <input type="text" class="form-control input-filter-premise-num" asp-for="FilterOptions.PremisesNum" title="Номер помещения">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="FilterOptions.AtDate">Дата формирования</label>
                            <div class="input-group date">
                                <input type="date" class="form-control" asp-for="FilterOptions.AtDate" title="Дата формирования">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="FilterOptions.CourtOrderNum">Номер судебного приказа</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.CourtOrderNum" title="Номер судебного приказа">
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.BalanceOutputTotalOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.BalanceOutputTotal" class="rr-claim-filter-label">Сальдо тек. исх. (Итого)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.BalanceOutputTotal">
                            </div>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.BalanceOutputTenancyOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.BalanceOutputTenancy" class="rr-claim-filter-label">Сальдо тек. исх. (Найм)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.BalanceOutputTenancy">
                            </div>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.BalanceOutputPenaltiesOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.BalanceOutputPenalties" class="rr-claim-filter-label">Сальдо тек. исх. (Пени)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.BalanceOutputPenalties">
                            </div>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.BalanceOutputDgiPadunPkkOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.BalanceOutputDgiPadunPkk" class="rr-claim-filter-label">Сальдо тек. исх. (ДГИ/Падун/ПКК)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.BalanceOutputDgiPadunPkk">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.AmountTotalOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.AmountTotal" class="rr-claim-filter-label">К взысканию (Итого)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.AmountTotal">
                            </div>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.AmountTenancyOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.AmountTenancy" class="rr-claim-filter-label">К взысканию (Найм)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.AmountTenancy">
                            </div>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.AmountPenaltiesOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.AmountPenalties" class="rr-claim-filter-label">К взысканию (Пени)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.AmountPenalties">
                            </div>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.AmountDgiPadunPkkOp" />
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.AmountDgiPadunPkk" class="rr-claim-filter-label">К взысканию (ДГИ/Падун/ПКК)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control input-filter-decimal" asp-for="FilterOptions.AmountDgiPadunPkk">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="FilterOptions.IdClaimState">Текущее состояние</label>
                            <select class="selectpicker form-control" title="Текущее состояние" asp-for="FilterOptions.IdClaimState" asp-items="@(new SelectList(Model.StateTypes, "IdStateType", "StateType"))">
                                <option selected></option>
                            </select>
                        </div>
                        <input type="hidden" class="c-arithmetic-op" asp-for="FilterOptions.ClaimStateDateOp" />
                        <div class="form-group col-6">
                            <label asp-for="FilterOptions.ClaimStateDate" class="rr-claim-filter-label">Дата установки состояния</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">≥</a>
                                        <a class="dropdown-item" href="#">≤</a>
                                    </div>
                                </div>
                                <input type="date" class="form-control" asp-for="FilterOptions.ClaimStateDate">
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-check">
                                <input disabled type="checkbox" class="form-check-input" asp-for="FilterOptions.IsCurrentState">
                                <label class="form-check-label" for="FilterOptions_IsCurrentState">Фильтровать только по текущему состоянию</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="filterClearModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                    <button id="searchModalBtn" type="button" class="btn btn-secondary">Найти</button>
                </div>
            </div>
        </div>
    </div>
</form>