@model RegistryWeb.ViewModel.PrivatizationListVM;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.SecurityServices;
@{
    var securityService = (SecurityService)ViewData["SecurityService"];
    var canEdit = true;
}
<table class="table table-hover b-table">
    <thead>
        <tr>
            <th class="align-middle" style="width:250px;">
                №
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Descending && Model.OrderOptions.OrderField == "IdBuilding")
                {
                    <a href="#" class="oi oi-sort-descending sort b-sorted" data-order-field="IdBuilding" data-order-direction="0"></a>
                }
                else
                {
                    <a href="#" class="oi oi-sort-ascending sort @(Model.OrderOptions.OrderField == "IdBuilding" ? "b-sorted" : "")"
                       data-order-field="IdBuilding" data-order-direction="@(Model.OrderOptions.OrderField == "IdBuilding" ? "1" : "0")"></a>
                }
            </th>
            <th class="align-middle">
                Адрес
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Descending && Model.OrderOptions.OrderField == "Address")
                {
                    <a href="#" class="oi oi-sort-descending sort b-sorted" data-order-field="Address" data-order-direction="0"></a>
                }
                else
                {
                    <a href="#" class="oi oi-sort-ascending sort @(Model.OrderOptions.OrderField == "Address" ? "b-sorted" : "")"
                       data-order-field="Address" data-order-direction="@(Model.OrderOptions.OrderField == "Address" ? "1" : "0")"></a>
                }
            </th>
            <th class="align-middle"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model.PrivContracts)
        {
        <tr>
            <td title="@contract.RegNumber">
                <div style="width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@contract.RegNumber</div>
            </td>
            <td>
                <div class="row">
                    <div class="col-auto">@contract.AddressPrivatization</div>
                    
                </div>
            </td>
            <td>
                <div class="btn-group float-right" role="group" aria-label="Панель доступа">
                    @if (contract.IdBuilding != null || contract.IdPremise != null)
                    {
                        <button class="btn btn-success oi oi-home dropdown-toggle" type="button" title="Здания и помещения" aria-label="Здания и помещения" id="homesBtn_@contract.IdContract" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="homesBtn_@contract.IdContract">
                            @if (contract.IdBuilding != null)
                            {
                                <a class="dropdown-item" asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@contract.IdBuilding">Здание</a>
                            }
                            @if (contract.IdPremise != null)
                            {
                                <a class="dropdown-item" asp-action="Details" asp-controller="Premises" asp-route-idPremises="@contract.IdPremise">Помещение</a>
                            }
                        </div>
                    }
                    @if (canEdit)
                    {
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-controller="Privatization" asp-action="Details" asp-route-idContract="@contract.IdContract" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                        <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                           asp-controller="Privatization" asp-action="Edit" asp-route-idContract="@contract.IdContract" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                           asp-controller="Privatization" asp-action="Delete" asp-route-idContract="@contract.IdContract" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                    }
                    else
                    {
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-controller="Privatization" asp-action="Details" asp-route-idContract="@contract.IdContract" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                    }
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>