@using RegistryWeb.ViewModel;
@model RegistryWeb.Models.Entities.PrivContract;
@{
    ViewData["Title"] = Model == null? "Новый договор приватизации":
        "Договор приватизации №" + Model.RegNumber;
}
@section Styles {
    @*<link rel="stylesheet" href="~/css/owner.processes.css" asp-append-version="true" />*@
}
@section Scripts {
    @*<script src="~/js/ownerProcess.address.js" asp-append-version="true"></script>
        <script src="~/js/ownerProcess.files.js" asp-append-version="true"></script>
        <script src="~/js/ownerProcess.owner.js" asp-append-version="true"></script>*@
    <script src="~/js/privContract.common.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header d-flex flex-column flex-lg-row">
        <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0">@ViewData["Title"]</label>
        <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
            <div class="btn-group" role="group" aria-label="Панель доступа">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-controller="Privatization" asp-action="Index">Назад</a>
                }
                @if (ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="privatizationCreate" class="form-control btn btn-success">Создать</a>
                }
                @if (ViewBag.Action == ActionTypeEnum.Edit)
                {
                    <a href="#" id="privatizationEdit" class="form-control btn btn-success">Сохранить</a>
                }
                @if (ViewBag.Action == ActionTypeEnum.Delete)
                {
                    <a href="#" id="privatizationDelete" class="form-control btn btn-danger">Удалить</a>
                }
                <a href="#" id="privatizationToggle" class="form-control btn btn-primary" title="Развернуть">
                    <span class="oi oi-chevron-top"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body" id="privatization">
        <form enctype="multipart/form-data" asp-controller="Privatization" asp-action="@ViewBag.Action" id="privatizationForm" data-action="@ViewBag.Action" method="post">
            <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" />
            <input type="hidden" asp-for="IdContract"/>
            <div class="validation text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="RegNumber">RegNumber</label>
                <input type="text" asp-for="RegNumber" class="form-control" />
            </div>
            <div class="form-group form-check">
                <input type="checkbox" asp-for="IsRefusenik" class="form-check-input" />
                <label asp-for="IsRefusenik" class="form-check-label">IsRefusenik</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" asp-for="IsRefuse" class="form-check-input" />
                <label asp-for="IsRefuse" class="form-check-label">IsRefuse</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" asp-for="IsRasprivatization" class="form-check-input" />
                <label asp-for="IsRasprivatization" class="form-check-label">IsRasprivatization</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" asp-for="IsRelocation" class="form-check-input" />
                <label asp-for="IsRelocation" class="form-check-label">IsRelocation</label>
            </div>
            <div class="form-group">
                <label asp-for="IdExecutor">IdExecutor</label>
                <input type="text" asp-for="IdExecutor" class="form-control" />
            </div>
            <div class="form-group">
                <label>ExecutorName</label>
                <input type="text" value="@Model?.ExecutorNavigation?.ExecutorName" class="form-control" />
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Контракторы</h4>
                            <div class="btn-group" role="group">
                                @if (ViewBag.Action == ActionTypeEnum.Edit)
                                {
                                    <a href="#" id="privContractorAdd" class="form-control btn btn-success" title="Добавить контрактора">
                                        <span class="oi oi-plus"></span>
                                    </a>
                                }
                                <a href="#" id="privContractorsToggle" class="form-control btn btn-primary" title="Развернуть контракторов">
                                    <span class="oi oi-chevron-top"></span>
                                </a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush" id="privContractors" data-action="@ViewBag.Action" data-id="@ViewBag.Id">
                            <li class="list-group-item text-center rr-list-group-item-empty" style="@((Model != null && Model.PrivContractors.Any()) ? "display: none" : "")">
                                <i>Участники найма отсутствуют</i>
                            </li>
                            @if (Model != null && Model.PrivContractors.Any())
                            {
                                @for (var i = 0; i < Model.PrivContractors.Count(); i++)
                                {
                                    <partial name="PrivContract" model="@(new PrivContractorVM() {
                                        PrivContractor = Model.PrivContractors[i],
                                        I = i,
                                        Action = ViewBag.Action
                                    })" />
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>