using RegistryWeb.ViewModel;
@model RegistryWeb.Models.Entities.PrivContract;
@section Styles {
    @*<link rel="stylesheet" href="~/css/owner.processes.css" asp-append-version="true" />*@
}
@section Scripts {
    @*<script src="~/js/ownerProcess.address.js" asp-append-version="true"></script>
    <script src="~/js/ownerProcess.files.js" asp-append-version="true"></script>
    <script src="~/js/ownerProcess.owner.js" asp-append-version="true"></script>
    <script sr*@c="~/js/ownerProcess.common.js" asp-append-version="true"></script>
}
<h1>Privatization</h1>
<form enctype="multipart/form-data" asp-controller="Privatization" asp-action="@ViewBag.Action" id="privatizationForm" data-action="@ViewBag.Action" method="post">
    <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" />
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <label class="form-check-label h2">@ViewData["Title"]</label>
            <div class="btn-group" role="group" aria-label="Панель доступа">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-controller="Privatization" asp-action="Index">Назад</a>
                }
                @if (ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="privatizationCreate" class="form-control btn btn-success">Создать</a>
                }
                @if (ViewBag.Action == ActionTypeEnum.Edit)
                {
                    <a href="#" id="privatizationEdit" class="form-control btn btn-success">Сохранить</a>
                }
                @if (ViewBag.Action == ActionTypeEnum.Delete)
                {
                    <a href="#" id="privatizationDelete" class="form-control btn btn-danger">Удалить</a>
                }
                <a href="#" id="privatizationToggle" class="form-control btn btn-primary" title="Развернуть">
                    <span class="oi oi-chevron-top"></span>
                </a>
            </div>
        </div>
        <div class="card-body" id="ownerProcess">
            <input type="hidden" value="@Model.IdContract" name="IdProcess" />
            <div class="validation text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label>RegNumber</label>
                <input type="text" value="@Model.RegNumber" />
            </div>
            <div class="form-group">
                <label>RegNumber</label>
                <input type="text" value="@Model.IsRefusenik" />
            </div>
            <div class="form-group">
                <label>IsRasprivatization</label>
                <input type="text" value="@Model.IsRasprivatization" />
            </div>
            <div class="form-group">
                <label>IsRelocation</label>
                <input type="text" value="@Model.IsRelocation" />
            </div>
            @*<div class="card" id="annulOwnerProcessCard">
            <div class="card-header d-flex justify-content-between">
                <h3>Завершение процесса</h3>
                <div>
                    <a href="#" id="annulOwnerProcessToggle" class="form-control btn btn-primary" title="Развернуть панель аннулирования">
                        <span class="oi oi-chevron-top"></span>
                    </a>
                </div>
            </div>
            <div id="annulOwnerProcess" class="card-body row">
                <div class="col-2">
                    <input type="date" class="form-control rr-valid-ignore" placeholder="Дата аннулирования" title="Дата аннулирования"
                           data-val="true"
                           value="@Model.AnnulDate?.ToString("yyyy-MM-dd")" name="AnnulDate" />
                </div>
                <div class="col">
                    <input type="text" class="form-control rr-valid-ignore" placeholder="Причина аннулирования" title="Причина аннулирования"
                           value="@Model.AnnulComment" name="AnnulComment" />
                </div>
            </div>
        </div>*@
        </div>
    </div>
</form>