<tr class="rr-charge-total-row">
    <td class="text-center p-1"><b>Итого</b></td>

    @* Найм *@
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")"><b>-</b></td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")"><b>-</b></td>
    @if (ViewBag.IdAccount == null)
    {
        <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")"><b>-</b></td>
    }
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "") rr-charge-total-tenancy"><b>@ViewBag.TotalChargeTenancy</b></td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "") rr-charge-total-penalty"><b>@ViewBag.TotalChargePenalty</b></td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")">
        @if (ViewBag.IdAccount != null)
        {
            <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentTenancy - ViewBag.TotalPaymentTenancyByAccount) руб." asp-action="Index"
               asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentTenancy</b></a>
        }
        else
        {
            <b>@ViewBag.TotalPaymentTenancy</b>
        }
    </td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")">
        @if (ViewBag.IdAccount != null)
        {
            <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentPenalty - ViewBag.TotalPaymentPenaltyByAccount) руб." asp-action="Index"
               asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentPenalty</b></a>
        }
        else
        {
            <b>@ViewBag.TotalPaymentPenalty</b>
        }
    </td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "") rr-charge-total-recalc-tenancy"><b>@ViewBag.TotalRecalcTenancy</b></td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "") rr-charge-total-recalc-penalty"><b>@ViewBag.TotalRecalcPenalty</b></td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")"><b>-</b></td>
    <td class="text-center p-1 rr-charge-tenancy @(ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges ? "d-none" : "")"><b>-</b></td>

    @* ДГИ *@
    @if (ViewBag.HasDgiCharges)
    {
        <td class="text-center p-1 rr-charge-dgi d-none"><b>-</b></td>
        <td class="text-center p-1 rr-charge-dgi d-none"><b>@ViewBag.TotalChargeDgi</b></td>
        <td class="text-center p-1 rr-charge-dgi d-none">
            @if (ViewBag.IdAccount != null)
            {
                <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentDgi - ViewBag.TotalPaymentDgiByAccount) руб." asp-action="Index"
                   asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentDgi</b></a>
            }
            else
            {
                <b>@ViewBag.TotalPaymentDgi</b>
            }
        </td>
        <td class="text-center p-1 rr-charge-dgi d-none"><b>@ViewBag.TotalRecalcDgi</b></td>
        <td class="text-center p-1 rr-charge-dgi d-none"><b>-</b></td>
    }

    @* ПКК *@
    @if (ViewBag.HasPkkCharges)
    {
        <td class="text-center p-1 rr-charge-pkk d-none"><b>-</b></td>
        <td class="text-center p-1 rr-charge-pkk d-none"><b>@ViewBag.TotalChargePkk</b></td>
        <td class="text-center p-1 rr-charge-pkk d-none">
            @if (ViewBag.IdAccount != null)
            {
                <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentPkk - ViewBag.TotalPaymentPkkByAccount) руб." asp-action="Index"
                   asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentPkk</b></a>
            }
            else
            {
                <b>@ViewBag.TotalPaymentPkk</b>
            }
        </td>
        <td class="text-center p-1 rr-charge-pkk d-none"><b>@ViewBag.TotalRecalcPkk</b></td>
        <td class="text-center p-1 rr-charge-pkk d-none"><b>-</b></td>
    }

    @* Падун *@
    @if (ViewBag.HasPadunCharges)
    {
        <td class="text-center p-1 rr-charge-padun d-none"><b>-</b></td>
        <td class="text-center p-1 rr-charge-padun d-none"><b>@ViewBag.TotalChargePadun</b></td>
        <td class="text-center p-1 rr-charge-padun d-none">
            @if (ViewBag.IdAccount != null)
            {
                <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentPadun - ViewBag.TotalPaymentPadunByAccount) руб." asp-action="Index"
                   asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentPadun</b></a>
            }
            else
            {
                <b>@ViewBag.TotalPaymentPadun</b>
            }
        </td>
        <td class="text-center p-1 rr-charge-padun d-none"><b>@ViewBag.TotalRecalcPadun</b></td>
        <td class="text-center p-1 rr-charge-padun d-none"><b>-</b></td>
    }

    @* Всего *@
    @if (ViewBag.HasDgiCharges || ViewBag.HasPkkCharges || ViewBag.HasPadunCharges)
    {
        <td class="text-center p-1 rr-charge-total"><b>-</b></td>
        <td class="text-center p-1 rr-charge-total"><b>-</b></td>
        <td class="text-center p-1 rr-charge-total rr-charge-total-all"><b>@(ViewBag.TotalChargeTenancy + ViewBag.TotalChargePkk + ViewBag.TotalChargeDgi + ViewBag.TotalChargePadun)</b></td>
        <td class="text-center p-1 rr-charge-total rr-charge-total-all-penalty"><b>@ViewBag.TotalChargePenalty</b></td>
        <td class="text-center p-1 rr-charge-total">
            @if (ViewBag.IdAccount != null)
            {
                <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentTotal - ViewBag.TotalPaymentTotalByAccount) руб." asp-action="Index"
                   asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentTotal</b></a>
            }
            else
            {
                <b>@ViewBag.TotalPaymentTotal</b>
            }
        </td>
        <td class="text-center p-1 rr-charge-total">
            @if (ViewBag.IdAccount != null)
            {
                <a asp-controller="KumiPayments" target="_blank" title="Из них по исковым работам @(ViewBag.TotalPaymentPenalty - ViewBag.TotalPaymentPenaltyByAccount) руб." asp-action="Index"
                   asp-route-filterOptions.IdAccount="@ViewBag.IdAccount" asp-route-filterOptions.Kbk=" "><b>@ViewBag.TotalPaymentPenalty</b></a>
            }
            else
            {
                <b>@ViewBag.TotalPaymentPenalty</b>
            }
        </td>
        <td class="text-center p-1 rr-charge-total rr-charge-total-recalc-all"><b>@(ViewBag.TotalRecalcTenancy + ViewBag.TotalRecalcDgi + ViewBag.TotalRecalcPkk + ViewBag.TotalRecalcPadun)</b></td>
        <td class="text-center p-1 rr-charge-total rr-charge-total-recalc-all-penalty"><b>@ViewBag.TotalRecalcPenalty</b></td>
        <td class="text-center p-1 rr-charge-total"><b>-</b></td>
        <td class="text-center p-1 rr-charge-total"><b>-</b></td>
    }
</tr>