@model IEnumerable<RegistryWeb.Models.Entities.Building>
@{
    ViewData["Title"] = "Отчеты";
}
<h1>@ViewData["Title"]</h1>

<div class="form-row">
    <div class="form-group col">
        <a class="form-control btn btn-primary" asp-controller="Buildings" asp-action="Index">Назад</a>
    </div>
    <div class="form-group col">
        <a class="btn btn-block btn-primary" asp-controller="Buildings" asp-action="SessionIdBuildingsClear">Очистить</a>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <button class="btn btn-block btn-success" type="button" id="forma1">Форма 1</button>
    </div>
    <div class="form-group col">
        <button class="btn btn-block btn-success" type="button" id="forma2">Форма 2</button>
    </div>
    <div class="form-group col">
        <button class="btn btn-block btn-success" type="button" id="forma3">Форма 3</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>№ по реестру</th>
            <th>Адрес</th>
            <th width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IdBuilding</td>
            <td>@item.IdStreetNavigation.StreetName, д.@item.House</td>
            <td>
                <div class="btn-group" role="group" aria-label="Панель доступа">
                    <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                       asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@item.IdBuilding"></a>
                    <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                       asp-action="SessionIdBuildingRemove" asp-controller="Buildings" asp-route-idBuilding="@item.IdBuilding"></a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>