@model RegistryWeb.Models.Entities.Building;
@using RegistryWeb.Extensions;
@using RegistryWeb.SecurityServices;

@{
    var controller = Context.Session.Get<string>("Controller");
    var action = Context.Session.Get<string>("Action");
    var securityService = (SecurityService)ViewBag.SecurityService;
    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового здания";
    }
    else
    {
        ViewData["Title"] = "Здание №" + Model.IdBuilding;
    }
}
@section validation
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
}
@section scripts
    {
    <script src="~/js/building.common.js" asp-append-version="true"></script>
    <script src="~/js/building.reports.js" asp-append-version="true"></script>
}
@section styles
    {
    <link rel="stylesheet" href="~/css/building.css" runat="server" />
}
<div class="card">
    <div class="card-header d-flex flex-column flex-lg-row">
        <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0">@ViewData["Title"]</label>

        <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
            @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
            {
                <a class="btn btn-success" title="Помещения здания" aria-label="Помещения здания" asp-action="Index" asp-controller="Premises" asp-route-FilterOptions.IdBuilding="@Model.IdBuilding">
                    <span class="oi oi-home"></span>
                </a>
                <div class="btn-group" role="group" aria-label="Панель доступа">
                    @if (ViewBag.Action == "Details" && ((ViewBag.CanEditBaseInfo ?? false) || (ViewBag.CanEditDemolishingInfo ?? false)))
                    {
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@Model.IdBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-wrench"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="toolsBtn_@Model.IdBuilding">
                                <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                   asp-controller="Buildings" asp-action="Edit" asp-route-idBuilding="@Model.IdBuilding" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                                <a class="btn btn-danger oi oi-x @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" title="Удалить" aria-label="Удалить"
                                   asp-controller="Buildings" asp-action="Delete" asp-route-idBuilding="@Model.IdBuilding" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            </div>
                        </div>
                    }

                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <button class="btn btn-dark dropdown-toggle" type="button" title="Связанные объекты" aria-label="Связанные объекты" id="objectsBtn_@Model.IdBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-grid-two-up"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_@Model.IdBuilding">
                            <a class="dropdown-item" title="История фонда" aria-label="История фонда"
                               asp-controller="FundsHistory" asp-action="Index" asp-route-idObject="@Model.IdBuilding" asp-route-typeObject="Building" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">История фонда</a>

                            @if (securityService.HasPrivilege(Privileges.TenancyRead))
                            {
                                <a class="dropdown-item" title="Найм помещения" aria-label="Найм помещения"
                                   asp-controller="TenancyProcesses" asp-action="Index" asp-route-filterOptions.IdBuilding="@Model.IdBuilding">Процессы найма</a>
                            }
                            @if (securityService.HasPrivilege(Privileges.OwnerRead))
                            {
                                <a class="dropdown-item" title="Собственники помещения" aria-label="Собственники помещения"
                                   asp-controller="OwnerProcesses" asp-action="Index" asp-route-filterOptions.IdBuilding="@Model.IdBuilding">Процессы собственности</a>
                            }
                            @if (securityService.HasPrivilege(Privileges.ClaimsRead))
                            {
                                <a class="dropdown-item" title="Лицевые счета БКС" aria-label="Лицевые счета"
                                   asp-controller="PaymentAccounts" asp-action="Index" asp-route-filterOptions.IdBuilding="@Model.IdBuilding">Лицевые счета БКС</a>
                            }
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="Отчеты">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="отчеты" id="reportsBtn_@Model.IdBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@Model.IdBuilding">
                            <a class="dropdown-item rr-report-building-excerpt" href="#" title="Выписка на здание" aria-label="Выписка на здание" data-id-building="@Model.IdBuilding">Выписка на здание</a>
                        </div>
                    </div>
                </div>
            }
            <div class="btn-group" role="group" aria-label="Панель доступа">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-controller="Buildings" asp-action="Index" asp-route-isBack="true">Назад</a>
                }
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" id="createBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" id="editBtn" class="form-control btn btn-success  @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" id="deleteBtn" class="form-control btn btn-danger" />
                }

                <a href="#" id="buildingToggle" class="form-control btn btn-primary" title="Развернуть здание" style="font-weight:bold;">∧</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-controller="Buildings" asp-action="@ViewBag.Action" enctype="multipart/form-data" id="building" data-action="@ViewBag.Action" data-caneditbaseinfo="@ViewBag.CanEditBaseInfo" method="post">
            <input type="hidden" asp-for="IdBuilding" />
            <div class="form-row">
                <div class="form-group col-md-9 col-lg-8">
                    <label asp-for="IdStreet">Улица</label>
                    <select class="selectpicker form-control" data-live-search="true" asp-for="IdStreet" title="Улица"
                            asp-items="@{new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName", Model.IdStreet)}">
                        <option></option>
                    </select>
                    <span asp-validation-for="IdStreet" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-3 col-lg-2">
                    <label asp-for="House">Номер дома</label>
                    <input type="text" class="form-control" asp-for="House" title="Номер дома">
                    <span asp-validation-for="House" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-2">
                    <label asp-for="IdDecree">Постановление</label>
                    <select class="selectpicker form-control" asp-for="IdDecree" title="Постановление"
                            asp-items="@{new SelectList(ViewBag.GovernmentDecrees, "IdDecree", "Number", Model.IdDecree)}"></select>
                    <span asp-validation-for="IdDecree" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="IdStructureType">Тип строения (материал)</label>
                    <select class="selectpicker form-control" asp-for="IdStructureType" title="Тип строения (материал)"
                            asp-items="@{new SelectList(ViewBag.StructureTypes, "IdStructureType", "StructureTypeName", Model.IdStructureType)}"></select>
                    <span asp-validation-for="IdStructureType" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="IdStructureTypeOverlap">Тип перекрытий</label>
                    <select class="selectpicker form-control" asp-for="IdStructureTypeOverlap" title="Тип перекрытий"
                            asp-items="@{new SelectList(ViewBag.StructureTypeOverlaps, "IdStructureTypeOverlap", "StructureTypeOverlapName", Model.IdStructureTypeOverlap)}"></select>
                    <span asp-validation-for="IdStructureTypeOverlap" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="IdFoundationType">Тип фундамента</label>
                    <select class="selectpicker form-control" asp-for="IdFoundationType" title="Тип фундамента"
                            asp-items="@{new SelectList(ViewBag.FoundationTypes, "IdFoundationType", "Name", Model.IdFoundationType)}"></select>
                    <span asp-validation-for="IdFoundationType" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="StartupYear">Год ввода в эксплуатацию</label>
                    <input type="number" class="form-control" asp-for="StartupYear" title="Год ввода в эксплуатацию">
                    <span asp-validation-for="StartupYear" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="RegDate">Дата включения в РМИ</label>
                    <input type="date" class="form-control" asp-for="RegDate" value="@(Model.RegDate.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : Model.RegDate.ToString("yyyy-MM-dd"))" title="Дата включения в РМИ">
                    <span asp-validation-for="RegDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="IdState">Текущее состояние</label>
                    <select class="selectpicker form-control" asp-for="IdState" title="Текущее состояние"
                            asp-items="@{new SelectList(ViewBag.ObjectStates, "IdState", "StateNeutral", Model.IdState)}"></select>
                    <span asp-validation-for="IdState" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="IdHeatingType">Отопление</label>
                    <select class="selectpicker form-control" asp-for="IdHeatingType" title="Отопление"
                            asp-items="@{new SelectList(ViewBag.HeatingTypes, "IdHeatingType", "HeatingType1", Model.IdHeatingType)}"></select>
                    <span asp-validation-for="IdHeatingType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="TotalArea">Общая площадь</label>
                    <input type="text" class="form-control decimal" asp-for="TotalArea" title="Общая площадь">
                    <span asp-validation-for="TotalArea" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="LivingArea">Жилая площадь</label>
                    <input type="text" class="form-control decimal" asp-for="LivingArea" title="Жилая площадь">
                    <span asp-validation-for="LivingArea" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="UnlivingArea">Нежилая площадь</label>
                    <input type="text" class="form-control decimal" asp-for="UnlivingArea" title="Нежилая площадь">
                    <span asp-validation-for="UnlivingArea" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label class="rr-building-label" asp-for="CommonPropertyArea">Площадь общего имущества</label>
                    <input type="text" class="form-control decimal" asp-for="CommonPropertyArea" title="Площадь общего имущества">
                    <span asp-validation-for="CommonPropertyArea" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="Floors">Этажность</label>
                    <input type="number" class="form-control" asp-for="Floors" title="Этажность">
                    <span asp-validation-for="Floors" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="Entrances">Количество подъездов</label>
                    <input type="number" class="form-control" asp-for="Entrances" title="Количество подъездов">
                    <span asp-validation-for="Entrances" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="NumPremises">Число помещений (всего)</label>
                    <input type="number" class="form-control" asp-for="NumPremises" title="Число помеещний (всего)">
                    <span asp-validation-for="NumPremises" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="NumRooms">Число комнат</label>
                    <input type="number" class="form-control" asp-for="NumRooms" title="Число комнат">
                    <span asp-validation-for="NumRooms" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="NumApartments">Число квартир</label>
                    <input type="number" class="form-control" asp-for="NumApartments" title="Число квартир">
                    <span asp-validation-for="NumApartments" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label class="rr-building-label" asp-for="NumSharedApartments">Число квартир с подселением</label>
                    <input type="number" class="form-control" asp-for="NumSharedApartments" title="Число квартир с подселением">
                    <span asp-validation-for="NumSharedApartments" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="Series">Серия, тип постройки</label>
                    <input type="text" class="form-control" asp-for="Series" title="Серия, тип постройки">
                    <span asp-validation-for="Series" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="CadastralNum">Кадастровый номер</label>
                    <input type="text" class="form-control" asp-for="CadastralNum" title="Кадастровый номер">
                    <span asp-validation-for="CadastralNum" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="CadastralCost">Кадастровая стоимость</label>
                    <input type="text" class="form-control decimal" asp-for="CadastralCost" title="Кадастровая стоимость">
                    <span asp-validation-for="CadastralCost" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label asp-for="BalanceCost">Балансовая стоимость</label>
                    <input type="text" class="form-control decimal" asp-for="BalanceCost" title="Балансовая стоимость">
                    <span asp-validation-for="BalanceCost" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-lg-4">
                    <label class="rr-building-label" asp-for="LandCadastralNum">Кадастровый номер земельного участка</label>
                    <input type="text" class="form-control" asp-for="LandCadastralNum" title="Кадастровый номер земельного участка, на котором расположено здание">
                    <span asp-validation-for="LandCadastralNum" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label class="rr-building-label" asp-for="LandCadastralDate">Дата постановки ЗУ на кадастровый учет</label>
                    <input type="date" class="form-control" asp-for="LandCadastralDate" title="Дата постановки земельного учатска на кадастровый учет">
                    <span asp-validation-for="LandCadastralDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label class="rr-building-label" asp-for="LandArea">Площадь земельнго участка</label>
                    <input type="text" class="form-control" asp-for="LandArea" title="Площадь земельного участка">
                    <span asp-validation-for="LandArea" class="text-danger"></span>
                </div>
            </div>

            <fieldset class="form-row r-scheduler-border">
                <legend class="r-scheduler-border">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" style="margin-top:10px;" asp-for="IsMemorial" title="Памятник культуры">
                        <label asp-for="IsMemorial" class="form-check-label rr-building-label">Документ о присвоении статуса - памятник культуры</label>
                    </div>
                </legend>
                <div class="col-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">№</div>
                        </div>
                        <input type="text" class="form-control" asp-for="MemorialNumber" title="Номер документа">
                        <span asp-validation-for="MemorialNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="date" class="form-control" asp-for="MemorialDate" title="Дата документа">
                    <span asp-validation-for="MemorialDate" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Орган</div>
                        </div>
                        <input type="text" class="form-control" asp-for="MemorialNameOrg" title="Наименование органа, выдавшего документ">
                        <span asp-validation-for="MemorialNameOrg" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <div class="form-row ml-3 mb-2">
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="Improvement" title="Благоустроенность">
                    <label asp-for="Improvement" class="form-check-label">Благоустроенность</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="Elevator" title="Наличие в доме лифта">
                    <label asp-for="Elevator" class="form-check-label">Наличие в доме лифта</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="RubbishChute.Value" title="Наличие в доме мусоропровода">
                    <label asp-for="RubbishChute.Value" class="form-check-label">Наличие в доме мусоропровода</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="Plumbing.Value" title="Водопровод">
                    <label asp-for="Plumbing.Value" class="form-check-label">Водопровод</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="HotWaterSupply.Value" title="Горячее водоснабжение">
                    <label asp-for="HotWaterSupply.Value" class="form-check-label">Горячее водоснабжение</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="Canalization.Value" title="Канализация">
                    <label asp-for="Canalization.Value" class="form-check-label">Канализация</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="Electricity.Value" title="Электроосвещение">
                    <label asp-for="Electricity.Value" class="form-check-label">Электроосвещение</label>
                </div>
                <div class="form-group form-check col-6 col-lg-4">
                    <input type="checkbox" class="form-check-input" asp-for="RadioNetwork.Value" title="Радиотрансляционная сеть">
                    <label asp-for="RadioNetwork.Value" class="form-check-label">Радиотрансляционная сеть</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Wear">Техническое состояние (Износ), %</label>
                    <input type="text" class="form-control" asp-for="Wear" title="Техническое состояние (Износ), %">
                    <span asp-validation-for="Wear" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="RentCoefficient">Коэффициент оплаты</label>
                    <input type="text" class="form-control decimal" asp-for="RentCoefficient" title="Коэффициент оплаты">
                    <span asp-validation-for="RentCoefficient" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="HousingCooperative">Управляющая компания / ТСЖ</label>
                <input type="text" class="form-control" asp-for="HousingCooperative" title="Управляющая компания / ТСЖ">
                <span asp-validation-for="HousingCooperative" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Description">Другие сведения</label>
                    <textarea rows="5" class="form-control" asp-for="Description" title="Другие сведения"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="BtiRooms">Приватиз. квартиры согласно БТИ</label>
                    <textarea rows="5" class="form-control" asp-for="BtiRooms" title="Приватиз. квартиры согласно БТИ"></textarea>
                    <span asp-validation-for="BtiRooms" class="text-danger"></span>
                </div>
            </div>
        </form>
        @await Component.InvokeAsync("RestrictionsComponent", new { id = Model.IdBuilding, type = AddressTypes.Building, action = ViewBag.Action })
        @await Component.InvokeAsync("OwnershipRightsComponent", new { address = new Address() { Id = Model.IdBuilding.ToString(), AddressType = AddressTypes.Building }, action = ViewBag.Action })
        @await Component.InvokeAsync("BuildingDemolitionInfoComponent", new { id = Model.IdBuilding,
            demolishedPlanDate = Model.DemolishedPlanDate, demolishedFactDate = Model.DemolishedFactDate,
            demandForDemolishingDeliveryDate = Model.DemandForDemolishingDeliveryDate,
            dateOwnerEmergency = Model.DateOwnerEmergency, action = ViewBag.Action })
        @await Component.InvokeAsync("AttachmentFilesComponent", new { id = Model.IdBuilding, type = AddressTypes.Building, action = ViewBag.Action })
    </div>
</div>

<partial name="ReportsModals">