@model RegistryWeb.Models.Entities.Building;
@using RegistryWeb.Extensions;
@{
    var controller = Context.Session.Get<string>("Controller");
    var action = Context.Session.Get<string>("Action");
    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового здания";
    }
    else
    {
        ViewData["Title"] = "Здание №" + Model.IdBuilding;
    }
}
@section scripts
{
    <script src="~/js/building.common.js" asp-append-version="true"></script>
}
@section styles
{
    <link rel="stylesheet" href="~/css/building.css" runat="server" />
}
<form asp-controller="Buildings" asp-action="@ViewBag.Action" id="buildingsForm" data-action="@ViewBag.Action" method="post">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <label class="form-check-label h2">@ViewData["Title"]</label>
            <div class="btn-group" role="group" aria-label="Панель доступа">
                <a class="form-control btn btn-primary" asp-controller="@controller" asp-action="@action" asp-route-isBack="true">Назад</a>
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" class="form-control btn btn-danger" />
                }
                <a href="#" id="buildingToggle" class="form-control btn btn-primary" title="Развернуть здание" style="font-weight:bold;">∧</a>
            </div>
        </div>
        <div class="card-body" id="building">
            <input type="hidden" asp-for="IdBuilding" />
            <div class="form-row">
                <div class="form-group col-8 r-form-group-label">
                    <label asp-for="IdStreet">Улица</label>
                </div>
                <div class="form-group col-2 r-form-group-label">
                    <label asp-for="House">Номер дома</label>
                </div>
                <div class="form-group col-2 r-form-group-label">
                    <label asp-for="IdDecree">Постановление</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-8">
                    <select class="form-control" asp-for="IdStreet" title="Улица"
                            asp-items="@{new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName", Model.IdStreet)}"></select>
                </div>
                <div class="form-group col-2">
                    <input type="text" class="form-control" asp-for="House" title="Номер дома">
                </div>
                <div class="form-group col-2">
                    <select class="form-control" asp-for="IdDecree" title="Постановление"
                            asp-items="@{new SelectList(ViewBag.GovernmentDecrees, "IdDecree", "Number", Model.IdDecree)}"></select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdState">Текущее состояние объекта</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdStructureType">Тип строения (материал)</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdStructureTypeOverlap">Тип перекрытий</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdHeatingType">Отопление</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <select class="form-control" asp-for="IdState" title="Текущее состояние объекта"
                            asp-items="@{new SelectList(ViewBag.ObjectStates, "IdState", "StateNeutral", Model.IdState)}"></select>
                </div>
                <div class="form-group col">
                    <select class="form-control" asp-for="IdStructureType" title="Тип строения (материал)"
                            asp-items="@{new SelectList(ViewBag.StructureTypes, "IdStructureType", "StructureTypeName", Model.IdStructureType)}"></select>
                </div>
                <div class="form-group col">
                    <select class="form-control" asp-for="IdStructureTypeOverlap" title="Тип строения (материал)"
                            asp-items="@{new SelectList(ViewBag.StructureTypeOverlaps, "IdStructureTypeOverlap", "StructureTypeOverlapName", Model.IdStructureTypeOverlap)}"></select>
                </div>
                <div class="form-group col">
                    <select class="form-control" asp-for="IdHeatingType" title="Отопление"
                            asp-items="@{new SelectList(ViewBag.HeatingTypes, "IdHeatingType", "HeatingType1", Model.IdHeatingType)}"></select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="TotalArea">Общая площадь</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="LivingArea">Жилая площадь</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="UnlivingArea">Нежилая площадь</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="CommonPropertyArea">Площадь общего имущества</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="TotalArea" title="Общая площадь">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="LivingArea" title="Жилая площадь">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="UnlivingArea" title="Нежилая площадь">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="CommonPropertyArea" title="Площадь общего имущества">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="Floors">Этажность</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="Floors">Количество подъездов</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="NumPremises">Число помеещний (всего)</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="NumRooms">Число комнат</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="NumApartments">Число квартир</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="NumSharedApartments">Число квартир с подселением</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="Floors" title="Этажность">
                </div>
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="Entrances" title="Количество подъездов">
                </div>
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="NumPremises" title="Число помеещний (всего)">
                </div>
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="NumRooms" title="Число комнат">
                </div>
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="NumApartments" title="Число квартир">
                </div>
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="NumSharedApartments" title="Число квартир с подселением">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="Series">Серия, тип постройки</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="CadastralNum">Кадастровый номер</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="CadastralCost">Кадастровая стоимость</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="BalanceCost">Балансовая стоимость</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="Series" title="Серия, тип постройки">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="CadastralNum" title="Кадастровый номер">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="LivingArea" title="Кадастровая стоимость">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="BalanceCost" title="Балансовая стоимость">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="LandCadastralNum">Кадастровый номер земельнго учатска, на котором расположено здание</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="LandCadastralDate">Дата постановки земельнго участка на кадастровый учет</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="LandArea">Площадь земельнго участка</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="LandCadastralNum" title="Кадастровый номер земельного участка, на котором расположено здание">
                </div>
                <div class="form-group col">
                    <input type="date" class="form-control" asp-for="LandCadastralDate" title="Дата  постановки на кадастровый учет">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="LandArea" title="Площадь земельного участка">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="StartupYear">Год ввода в эксплуатацию</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="RegDate">Дата включения в РМИ</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="DemolishedFactDate">Срок принятия собственниками решения о сносе</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="DemolishedFactDate">Фактическая дата сноса или реконструкции</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="number" class="form-control" asp-for="StartupYear" title="Год ввода в эксплуатацию">
                </div>
                <div class="form-group col">
                    <input type="date" class="form-control" asp-for="RegDate" title="Дата включения в РМИ">
                </div>
                <div class="form-group col">
                    <input type="date" class="form-control" asp-for="DateOwnerEmergency" title="Срок принятия собственниками решения о сносе или реконструкции">
                </div>
                <div class="form-group col">
                    <input type="date" class="form-control" asp-for="DemolishedFactDate" title="Фактическая дата сноса или реконструкции">
                </div>
            </div>

            <fieldset class="form-row r-scheduler-border">
                <legend class="r-scheduler-border">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" style="margin-top:10px;" asp-for="IsMemorial" title="Памятник культуры">
                        <label asp-for="IsMemorial" class="form-check-label">Документ о присвоении статуса - памятник культуры</label>
                    </div>
                </legend>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">№</div>
                        </div>
                        <input type="text" class="form-control" asp-for="MemorialNumber" title="Номер документа">
                    </div>
                </div>
                <div class="col-3">
                    <input type="date" class="form-control" asp-for="MemorialDate" title="Дата документа">
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Орган</div>
                        </div>
                        <input type="text" class="form-control" asp-for="MemorialNumber" title="Наименование органа, выдавшего документ">
                    </div>
                </div>
            </fieldset>

            <div class="form-row">
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="Improvement" title="Благоустроенность">
                    <label asp-for="Improvement" class="form-check-label">Благоустроенность</label>
                </div>
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="Elevator" title="Наличие в доме лифта">
                    <label asp-for="Elevator" class="form-check-label">Наличие в доме лифта</label>
                </div>
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="RubbishChute.Value" title="Наличие в доме мусоропровода">
                    <label asp-for="RubbishChute.Value" class="form-check-label">Наличие в доме мусоропровода</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="Plumbing.Value" title="Водопровод">
                    <label asp-for="Plumbing.Value" class="form-check-label">Водопровод</label>
                </div>
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="HotWaterSupply.Value" title="Горячее водоснабжение">
                    <label asp-for="HotWaterSupply.Value" class="form-check-label">Горячее водоснабжение</label>
                </div>
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="Canalization.Value" title="Канализация">
                    <label asp-for="Canalization.Value" class="form-check-label">Канализация</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="Electricity.Value" title="Электроосвещение">
                    <label asp-for="Electricity.Value" class="form-check-label">Электроосвещение</label>
                </div>
                <div class="form-group form-check col r-form-group-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="RadioNetwork.Value" title="Радиотрансляционная сеть">
                    <label asp-for="RadioNetwork.Value" class="form-check-label">Радиотрансляционная сеть</label>
                </div>
                <div class="form-group form-check col r-form-group-checkbox"></div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="Wear">Техническое состояние (Износ), %</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="RentCoefficient">Коэффициент оплаты</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="Wear" title="Техническое состояние (Износ), %">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" asp-for="RentCoefficient" title="Коэффициент оплаты">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="HousingCooperative">Управляющая компания / ТСЖ</label>
                <input type="text" class="form-control" asp-for="HousingCooperative" title="Управляющая компания / ТСЖ">
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Description">Другие сведения</label>
                    <textarea rows="5" class="form-control" asp-for="Description" title="Другие сведения"></textarea>
                </div>
                <div class="form-group col">
                    <label asp-for="BtiRooms">Приватиз. квартиры согласно БТИ</label>
                    <textarea rows="5" class="form-control" asp-for="BtiRooms" title="Приватиз. квартиры согласно БТИ"></textarea>
                </div>
            </div>

            @*@await Component.InvokeAsync("RestrictionsComponent", new { id = Model.IdBuilding, type = AddressTypes.Building, action = ViewBag.Action })*@


            @await Component.InvokeAsync("OwnershipRightsComponent", new {address = new Address() { Id = Model.IdBuilding.ToString(), AddressType = AddressTypes.Building }, action = ViewBag.Action })
        </div>
    </div>
</form>