@model RegistryWeb.ViewModel.BuildingsVM;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.DataHelpers;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.Extensions;
@{
    var ids = Context.Session.Get<List<int>>("idBuildings") ?? new List<int>();
    Context.Session.Set("Controller", "Buildings");
    Context.Session.Set("Action", "Index");
    Context.Session.Set("OrderOptions", Model.OrderOptions);
    Context.Session.Set("FilterOptions", Model.FilterOptions);
    Context.Session.Set("PageOptions", Model.PageOptions);
    var check = "";
    var securityService = (SecurityService)ViewData["SecurityService"];
}
<table class="table table-hover">
    <thead>
        <tr>
            @*<th class="r-table-header-cell">
                    <a href="#" data-order-field="IdBuilding" data-order-direction="@OrderDirection.Ascending">
                        № по реестру
                    </a>
                </th>*@
            @*<th class="align-middle"></th>*@
            <th class="align-middle">№ по реестру</th>
            <th class="align-middle">Адрес</th>
            <th class="align-middle">Текущее состояние</th>
            <th class="align-middle"></th>
            @*<th class="r-table-header-cell">
                    <a href="#" data-order-field="ObjectState" data-order-direction="@OrderDirection.Ascending">
                        Текущее состояние
                    </a>
                </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buildings)
        {
            <tr>
                @*@if (ids.Contains(item.IdBuilding))
                    {
                        check = "checked";
                    }
                    else
                    {
                        check = "";
                    }
                    <td class="align-middle"><input type="checkbox" class="idBuildingCheckbox" data-id="@item.IdBuilding" @Html.Raw(check) /></td>*@
                <td>@item.IdBuilding</td>
                <td>
                    @item.IdStreetNavigation.StreetName, д.@item.House
                    <div class="dopinfo">
                        @if (item.CadastralNum != null)
                        {
                            @Html.Raw("Кадастровый номер: " + item.CadastralNum + ";")
                        }
                        @if (item.CadastralNum != null && (item.TotalArea != 0 || item.LivingArea != 0))
                        {<br />}
                        @if (item.TotalArea != 0)
                        {
                            @Html.Raw("Общая площадь: " + item.TotalArea + ";")
                        }
                        @if (item.LivingArea != 0)
                        {
                            @Html.Raw("Жилая площадь: " + item.LivingArea + ";")
                        }
                    </div>
                </td>
                <td>@item.IdStateNavigation.StateNeutral</td>
                <td>
                    @{
                        var canEditBaseInfo = (securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal) && !Model.IsMunicipalDictionary[item.IdBuilding]) ||
                        (securityService.HasPrivilege(Privileges.RegistryWriteMunicipal) && Model.IsMunicipalDictionary[item.IdBuilding]);
                        var canEditExtInfo = securityService.HasPrivilege(Privileges.RegistryWriteExtInfo);
                    }
                    @if (canEditBaseInfo || canEditExtInfo)
                    {
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary oi oi-wrench dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@item.IdBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right but text-center" aria-labelledby="toolsBtn_@item.IdBuilding">
                                <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                                   asp-controller="Buildings" asp-action="Details" asp-route-idBuilding="@item.IdBuilding" asp-route-action="Details"></a>
                                <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                   asp-controller="Buildings" asp-action="Edit" asp-route-idBuilding="@item.IdBuilding" asp-route-action="Edit"></a>
                                @if (canEditBaseInfo)
                                {
                                <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                                   asp-controller="Buildings" asp-action="Delete" asp-route-idBuilding="@item.IdBuilding"></a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@item.IdBuilding"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>