@model RegistryWeb.ViewModel.BuildingsListVM;
@using RegistryWeb.ViewOptions;
<table class="table table-hover">
    <thead>
        <tr>
            @*<th class="r-table-header-cell">
            <a href="#" data-order-field="IdBuilding" data-order-direction="@OrderDirection.Ascending">
                № по реестру
            </a>
        </th>*@
            <th>№ по реестру</th>
            <th>Адрес</th>
            <th>Этажность</th>
            <th>Кадастровый номер</th>
            <th>Общая площадь</th>
            <th>Тип сторения (материал)</th>
            <th>Текущее состояние</th>
            @*<th class="r-table-header-cell">
                <a href="#" data-order-field="ObjectState" data-order-direction="@OrderDirection.Ascending">
                    Текущее состояние
                </a>
            </th>*@
            <th>Всего помещений</th>
            <th>Тип отопления</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buildings)
        {
            <tr>
                <td>@item.IdBuilding</td>
                <td>@item.IdStreetNavigation.StreetName, д.@item.House</td>
                <td>@item.Floors</td>
                <td>@item.CadastralNum</td>
                <td>@item.TotalArea</td>
                <td>@item.IdStructureTypeNavigation.StructureTypeName</td>
                <td>@item.IdStateNavigation.StateNeutral</td>
                <td>@item.NumPremises</td>
                <td>@item.IdHeatingTypeNavigation.HeatingType1</td>
                <td>
                    @*<a class="btn btn-default oi oi-eye" title="Подробнее" aria-label="Подробнее"
                       asp-action="Details" asp-controller="Building" asp-route-idBuilding="@item.IdBuilding"></a>
                    <a class="btn btn-default oi oi-pencil" title="Изменить" aria-label="Изменить"
                       asp-action="Edit" asp-controller="Building" asp-route-idBuilding="@item.IdBuilding"></a>
                    <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                       asp-action="Delete" asp-controller="Building" asp-route-idBuilding="@item.IdBuilding"></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>