@using RegistryWeb.Extensions
@using RegistryWeb.ViewOptions
@using RegistryWeb.Models.Entities
@using RegistryWeb.ViewModel
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;
@model DocumentIssueVM<DocumentIssuedBy>
@{
    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового паспортного стола";
    }
    else
    {
        ViewData["Title"] = "Паспортный стол №" + Model.DocumentIssue.IdDocumentIssuedBy;
    }
}

@section scripts
    {
    <script src="~/js/documentIssue.common.js" asp-append-version="true"></script>
}

<form asp-controller="DocumentIssued" asp-action="@ViewBag.Action" id="deleteform" data-action="@ViewBag.Action">
    <div class="card">
        <div class="card-header d-flex flex-column flex-lg-row">
            <label class="form-check-labe h2 col-sm-12 col-lg-8 col-xl-7 pl-0">@ViewData["Title"]</label>
            <div class="col-sm-12 col-lg-4 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
                <div class="btn-group" role="group" aria-label="Панель доступа">
                    @if (@ViewBag.ReturnUrl != null)
                    {
                        <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                    }
                    else
                    {
                        <a class="form-control btn btn-primary" asp-controller="DocumentIssued" asp-action="Index" asp-route-isBack="true">Назад</a>
                    }
                    @if (ViewBag.Action == "Create")
                    {
                        <input type="submit" value="Создать" id="createBtn" class="form-control btn btn-success" />
                    }
                    @if (ViewBag.Action == "Edit")
                    {
                        <input type="submit" value="Сохранить" id="editBtn" class="form-control btn btn-success" />
                    }
                    @if (ViewBag.Action == "Delete")
                    {
                        <input type="submit" value="Удалить" class="form-control btn btn-danger" />
                    }
                    <a href="#" data-for="documentIssuer" class="form-control btn btn-primary document-issuer-toggler" title="Развернуть помещение" style="font-weight:bold;">∧</a>
                </div>
            </div>
        </div>
        <div class="card-body" id="documentIssuer">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input type="hidden" asp-for="DocumentIssue.IdDocumentIssuedBy" />
                <label asp-for="DocumentIssue.DocumentIssuedByName" class="control-label">Наименование</label>
                <input type="text" asp-for="DocumentIssue.DocumentIssuedByName" class="form-control" />
                <span asp-validation-for="DocumentIssue.DocumentIssuedByName" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>