@model IEnumerable<RegistryWeb.ViewModel.OwnershipRightVM>;
@*{
    var v = Model;
}*@
<div class="card">
    <script src="~/js/ownershipRights.common.js" asp-append-version="true"></script>
    <div class="card-header d-flex justify-content-between">
        <h3>Список ограничений</h3>
        <!--<a href="#" class="form-control btn btn-success col-1" title="Добавить ограничение" style="font-weight:bold;">+</a>-->
        <div class="btn-group" role="group">
            @*
            @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
            {
                <a href="#" id="ownershipRightAdd" class="form-control btn btn-success" title="Добавить ограничение">&#10010;</a>
            }
*@
            <a href="#" id="ownershipRightsToggle" class="form-control btn btn-primary" title="Развернуть список ограничений" style="font-weight:bold;">∨</a>
        </div>
    </div>
    <table class="table table-bordered card-body" id="ownershipRightsTable" style="margin-bottom:0px;">
        <thead>
            <tr>
                @if (ViewBag.Type == AddressTypes.Premise)
                {
                    <th class="align-middle">Принадлежность</th>
                }
                <th class="align-middle">Номер</th>
                <th class="align-middle">Дата</th>
                <th class="align-middle">Наименование</th>
                <th class="align-middle">Тип ограничения</th>
                <th class="align-middle">Планируемая дата переселения</th>
                <th class="align-middle">Планируемая дата сноса</th>
                @*
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <th class="align-middle"></th>
                }
*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (ViewBag.Type == AddressTypes.Premise)
                    {
                    <td class="align-middle">
                        @if (item.AddressType == AddressTypes.Building)
                        {
                            <input type="text" class="form-control inputforcomponent" value="Здание" title="Принадлежность">
                        }
                        @if (item.AddressType == AddressTypes.Premise)
                        {
                            <input type="text" class="form-control inputforcomponent" value="Помещение" title="Принадлежность">
                        }
                    </td>
                    }
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.Number" title="@item.Number"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.Date" title="@item.Date.ToShortDateString()" value="@item.Date.ToShortDateString()"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.Description" title="@item.Description"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.OwnershipRightTypeNavigation.OwnershipRightTypeName" title="@item.OwnershipRightTypeNavigation.OwnershipRightTypeName"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.ResettlePlanDate" title="@item.ResettlePlanDate" value="@(item.ResettlePlanDate == null ? "" : item.ResettlePlanDate.Value.ToShortDateString())"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.DemolishPlanDate" title="@item.DemolishPlanDate" value="@(item.DemolishPlanDate == null ? "" : item.DemolishPlanDate.Value.ToShortDateString())"></td>
                    @*
                    @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                    {
                    <td class="align-middle">
                        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                           asp-controller="Premises" asp-action="Delete" asp-route-idpremises="@item.IdOwnershipRight"></a>
                    </td>
                    }
*@
                </tr>
            }
        </tbody>
    </table>
</div>