@model IEnumerable<RegistryWeb.Models.Entities.OwnershipRight>;
<div class="card">
    <script src="~/js/ownershipRights.common.js" asp-append-version="true"></script>
    <div class="card-header d-flex justify-content-between">
        <h3>Список ограничений</h3>
        <div class="btn-group" role="group">
            <a href="#" id="ownershipRightsToggle" class="form-control btn btn-primary" title="Развернуть список ограничений" style="font-weight:bold;">∨</a>
        </div>
    </div>
    <table class="table table-bordered card-body" id="ownershipRightsTable" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="align-middle">Номер в реестре</th>
                <th class="align-middle">Номер</th>
                <th class="align-middle">Дата</th>
                <th class="align-middle">Наименование</th>
                <th class="align-middle">Тип ограничения</th>
                <th class="align-middle">Планируемая дата переселения</th>
                <th class="align-middle">Планируемая дата сноса</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@item.IdOwnershipRight</td>
                    <td class="align-middle">@item.Number</td>
                    <td class="align-middle">@item.Date.ToShortDateString()</td>
                    <td class="align-middle">@item.Description</td>
                    <td class="align-middle">@item.OwnershipRightTypeNavigation.OwnershipRightTypeName</td>
                    <td class="align-middle">@(item.ResettlePlanDate == null ? "" : item.ResettlePlanDate.Value.ToShortDateString())</td>
                    <td class="align-middle">@(item.DemolishPlanDate == null ? "" : item.DemolishPlanDate.Value.ToShortDateString())</td>
                </tr>
            }
        </tbody>
    </table>
</div>