@model IEnumerable<RegistryWeb.ViewModel.OwnershipRightVM>;
<form id="ownershipRightsForm">
    <script src="~/js/ownershipRights.common.js" asp-append-version="true"></script>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between pt-2 pb-2">
            <h4 class="mt-1">
                Ограничения
                @{
                    var count = Model != null && Model.Any() ? Model.Count().ToString() : "";
                    var visible = Model != null && Model.Any() ? "" : "style='display: none;'";
                }
                <span class="badge badge-secondary rr-count-badge ml-1" @Html.Raw(visible)>
                    @count
                </span>
            </h4>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="ownershipRightAdd" class="form-control btn btn-success @(((bool?)ViewBag.CanEditBaseInfo ?? true) ? "" : "disabled")" title="Добавить ограничение">&#10010;</a>
                }
                <a href="#" id="ownershipRightsToggle" class="form-control btn btn-primary" title="Развернуть список ограничений" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="ownershipRightsList" data-addresstype="@ViewBag.Address.AddressType" data-id="@ViewBag.Address.Id" data-action="@ViewBag.Action">
            @foreach (var item in Model)
            {
                <partial name="OwnershipRight" model="item" />
            }
        </ul>
    </div>
</form>