@model RegistryWeb.ViewModel.OwnerProcessesVM;
<table class="table table-hover">
    <thead>
        <tr>
            <th>№ по реестру</th>
            <th>Тип собственника</th>
            <th>Адрес</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OwnerProcesses)
        {
            <tr>
                <td class="align-middle">@item.IdProcess</td>
                <td class="align-middle">@item.IdOwnerTypeNavigation.OwnerType1</td>
                <td class="align-middle">
                    @foreach (var address in Model.Addresses[item.IdProcess])
                    {
                        <p>@address</p>
                    }
                </td>
                <td class="align-middle">
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-action="Details" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess"></a>
                        <a class="btn btn-primary oi oi-pencil" title="Изменить" aria-label="Изменить"
                           asp-action="Edit" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess"></a>
                        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                           asp-action="Delete" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>