@using RegistryWeb.ViewOptions;
@using RegistryWeb.SecurityServices;
@model RegistryWeb.ViewModel.OwnerProcessesVM;
@{
    var securityService = (SecurityService)ViewData["SecurityService"];
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                № по реестру
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Ascending)
                {
                    <a href="#" class="oi oi-sort-descending sort " data-order-field="IdProcess" data-order-direction="1"></a>
                }
                else
                {
                    <a href="#" class="oi oi-sort-ascending sort" data-order-field="IdProcess" data-order-direction="0"></a>
                }
            </th>
            <th>Адрес</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OwnerProcesses)
        {
            <tr>
                <td class="align-middle">@item.IdProcess</td>
                <td class="align-middle">
                    @foreach (var oba in item.OwnerBuildingsAssoc)
                    {
                        <p>@oba.GetAddress()</p>
                    }
                    @foreach (var opa in item.OwnerPremisesAssoc)
                    {
                        <p>@opa.GetAddress()</p>
                    }
                    @foreach (var ospa in item.OwnerSubPremisesAssoc)
                    {
                        <p>@ospa.GetAddress()</p>
                    }
                </td>
                <td class="align-middle">
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                            asp-action="Details" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess"></a>
                        @if (securityService.HasPrivilege(Privileges.OwnerWrite))
                        {
                            <a class="btn btn-primary oi oi-pencil" title="Изменить" aria-label="Изменить"
                                asp-action="Edit" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess"></a>
                            <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                                asp-action="Delete" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess"></a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>