@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.SecurityServices;
@model RegistryWeb.ViewModel.OwnerProcessesVM;
@{
    var securityService = (SecurityService)ViewData["SecurityService"];
    var canEdit = securityService.HasPrivilege(Privileges.OwnerWrite);
    var returnUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                № по реестру
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Ascending)
                {
                    <a href="#" class="oi oi-sort-descending sort " data-order-field="IdProcess" data-order-direction="1"></a>
                }
                else
                {
                    <a href="#" class="oi oi-sort-ascending sort" data-order-field="IdProcess" data-order-direction="0"></a>
                }
            </th>
            <th>Адрес</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OwnerProcesses)
        {
            var annulStyle = "";
            @if (item.AnnulDate != null)
            {
                annulStyle = "style=\"background-color:lightpink;\" title=\"Аннулирован\"";
            }
            <tr @Html.Raw(annulStyle)>
                <td class="align-middle" style="font-weight: bold">@item.IdProcess</td>
                <td class="align-middle">
                    @foreach (var addr in Model.Addresses[item.IdProcess])
                    {
                        @await Component.InvokeAsync("OwnerProcessesAddressComponent", new { address = addr, idProcess = item.IdProcess })
                    }
                </td>
                <td class="align-middle">
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <button class="btn btn-primary oi oi-wrench dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@item.IdProcess" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right but text-center" aria-labelledby="toolsBtn_@item.IdProcess">
                            <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                               asp-action="Details" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess" asp-route-returnUrl="@returnUrl"></a>
                            <a class="btn btn-outline-dark oi oi-pencil @(canEdit ? "" : "disabled")" title="Изменить" aria-label="Изменить"
                               asp-action="Edit" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess" asp-route-returnUrl="@returnUrl"></a>
                            <a class="btn btn-danger oi oi-x @(canEdit ? "" : "disabled")" title="Удалить" aria-label="Удалить"
                               asp-action="Delete" asp-controller="OwnerProcesses" asp-route-idProcess="@item.IdProcess" asp-route-returnUrl="@returnUrl"></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>