@model RegistryWeb.ViewModel.OwnerProcessesVM;
@{ 
    var kladrStreetsList = new SelectList(Model.KladrStreets, "IdStreet", "StreetName", Model.FilterOptions.IdStreet);
    var ownerTypesList = new SelectList(Model.OwnerTypes, "IdOwnerType", "OwnerType1", Model.FilterOptions.IdOwnerType);
    var returnUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
}
<form asp-action="Index" method="get" class="filterForm">
    <input type="hidden" name="OrderOptions.OrderDirection" value="@Model.OrderOptions.OrderDirection" />
    <input type="hidden" name="OrderOptions.OrderField" value="@Model.OrderOptions.OrderField" />
    <input type="hidden" name="PageOptions.CurrentPage" value="@Model.PageOptions.CurrentPage" />
    <input type="hidden" name="PageOptions.CurrentPage" value="@Model.PageOptions.CurrentPage" />
    <input type="hidden" name="FilterOptions.Address.AddressType" value="@Model.FilterOptions.Address.AddressType" />
    <input type="hidden" name="FilterOptions.Address.Id" value="@Model.FilterOptions.Address.Id" />
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <div class="form-row">
        <div class="form-group col-2 col-md-1 col-lg-1">
            <a href="#" id="createOwnerProcessBtn"class="btn btn-success" title="Создать" aria-label="Создать">&#10010;</a>
        </div>
        @if (Model.FilterOptions.IsAddressEmpty())
        {
            <div class="form-group col-7 col-md-9 col-lg-9">
                <input type="text" class="form-control rr-alt-address-search" title="Адрес" placeholder="Адрес"
                       name="FilterOptions.Address.Text" value="@Model.FilterOptions.Address.Text" />
            </div>
        }
        else
        {
            <div class="form-group col-7 col-md-9 col-lg-9">
                <div class="input-group">
                    <input type="text" class="form-control col rr-alt-address-search" title="Адрес" placeholder="Адрес"
                           name="FilterOptions.Address.Text" value="@Model.FilterOptions.Address.Text" />
                    <div class="input-group-append h-auto d-inline-block">
                        <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
                    </div>
                </div>
            </div>
        }
        @if (Model.FilterOptions.IsModalEmpty())
        {
            <div class="form-group col-3 col-md-2 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
            </div>
        }
        else
        {
            <div class="form-group btn-group col-3 col-md-2 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
                <a class="btn btn-outline-secondary" href="#" id="filterClearBtn">&#10006;</a>
            </div>
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="ownerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ownerModalLabel">Фильтр процессов собственности</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label asp-for="FilterOptions.IdStreet">Улица</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Улица" asp-for="FilterOptions.IdStreet" asp-items="@kladrStreetsList"></select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.House">Номер дома</label>
                            <input type="text" class="form-control input-filter-house" asp-for="FilterOptions.House" title="Номер дома">
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.PremisesNum">Номер помещения</label>
                            <input type="text" class="form-control input-filter-premise-num" asp-for="FilterOptions.PremisesNum" title="Номер помещения">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="FilterOptions.IdProcess">Реестровый номер</label>
                            <input type="text" class="form-control input-filter-numbers" title="№ по реестру" placeholder="№ по реестру" asp-for="FilterOptions.IdProcess" />
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="FilterOptions.IdProcessType">Тип процесса</label>
                            <select class="selectpicker form-control" asp-for="FilterOptions.IdProcessType" title="Тип процесса">
                                <option value="1">Действующие</option>
                                <option value="2">Аннулированные</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="FilterOptions.IdOwnerType">Тип собственников</label>
                            <select class="selectpicker form-control" asp-for="FilterOptions.IdOwnerType" title="Тип собственников"
                                    asp-items="@ownerTypesList"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="filterClearModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                    <button id="searchModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Найти</button>
                </div>
            </div>
        </div>
    </div>
</form>
