@using RegistryWeb.Enums;
@model RegistryWeb.ViewModel.OwnerFileVM;
@{
    var i = Model.I;
    var canEdit = Model.Action == ActionTypeEnum.Create || Model.Action == ActionTypeEnum.Edit;
}
<li class="list-group-item">
    <input type="hidden" value="@Model.OwnerFile.Id" name="OwnerFiles[@i].Id" />
    <input type="hidden" value="@Model.OwnerFile.IdProcess" name="OwnerFiles[@i].IdProcess" />
    <div class="form-row align-items-end">
        <div class="form-group col-3">
            <label>Дата загрузки</label>
            <input type="date" class="form-control" value="@(Model.OwnerFile.DateDownload.ToString("yyyy-MM-dd"))"
                   name="OwnerFiles[@i].DateDownload" title="Дата загрузки" readonly>
        </div>
        @{
            var inputFileCol = canEdit ? "col-lg-8 col-7" : "col-lg-9 col-9";
        }
        <div class="form-group @inputFileCol">
            <label>Образ документа</label>
            <div class="input-group">
                <input type="text" maxlength="255" readonly class="form-control rr-file" value="@Model.OwnerFile.FileDisplayName"
                       name="OwnerFiles[@i].FileDisplayName" title="Наименование">
                <input type="file" name="attachmentFiles" style="position: absolute; left: -9999px; width: 1px; height: 1px" />
                <input type="hidden" name="removeFiles" value="false" data-isempty="@(Model.OwnerFile.FileDisplayName == null ? true : false)" />
                <div class="input-group-append">
                    @if (!canEdit)
                    {
                        <a class="btn btn-success rr-owner-file-download @(Model.OwnerFile.FileOriginName == null ? "disabled" : "")"
                           href="/OwnerProcesses/DownloadFile/?id=@Model.OwnerFile.Id" title="Скачать образ документа" aria-label="Скачать образ документа">
                            <span class="oi oi-data-transfer-download"></span>
                        </a>
                    }
                    @if (Model.Action == ActionTypeEnum.Edit)
                    {
                        <a href="#" class="btn btn-danger rr-owner-file-remove"
                           title="Удалить образ документа" aria-label="Удалить образ документа">
                            <span class="oi oi-trash"></span>
                        </a>
                        <a href="#" class="btn btn-success rr-owner-file-attach"
                           title="Прикрепить образ документа" aria-label="Прикрепить образ документа">
                            <span class="oi oi-paperclip"></span>
                        </a>
                        <a class="btn btn-success rr-owner-file-download"
                           href="/OwnerProcesses/DownloadFile/?id=@Model.OwnerFile.Id" title="Скачать образ документа" aria-label="Скачать образ документа">
                            <span class="oi oi-data-transfer-download"></span>
                        </a>
                    }
                    @if (Model.Action == ActionTypeEnum.Create)
                    {
                        <a href="#" class="btn btn-danger rr-owner-file-remove"
                           title="Удалить образ документа" aria-label="Удалить образ документа">
                            <span class="oi oi-x"></span>
                        </a>
                        <a href="#" class="btn btn-success rr-owner-file-attach"
                           title="Прикрепить образ документа" aria-label="Прикрепить образ документа">
                            <span class="oi oi-paperclip"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
        @if (canEdit)
        {
            <div class="form-group col-lg-1 col-2 text-right">
                <a href="#" class="btn btn-danger rr-owner-file-document-delete" title="Удалить" aria-label="Удалить">
                    <span class="oi oi-x"></span>
                </a>
            </div>
        }
    </div>
</li>