@model IEnumerable<RegistryWeb.Models.Entities.LogOwnerProcess>;
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3 for="Comment">Журнал изменений</h3>
        <div class="btn-group" role="group">
            <a href="#" id="logToggle" class="form-control btn btn-primary" title="Развернуть журнал изменений" style="font-weight:bold;">∨</a>
        </div>
    </div>
    @*<log-owner-process elements="Model" class="table table-bordered card-body" id="logTable"></log-owner-process>*@

    <table class="table table-bordered card-body" id="logTable">
        <thead>
            <tr>
                <th width="170px">Дата</th>
                <th>Пользователь</th>
                <th>Операция</th>
                <th>Объект</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                var log = Model.ElementAt(i);

                <tr>
                    <td>@log.Date</td>
                    <td>@log.IdUserNavigation.UserDescription</td>
                    <td>@log.IdLogTypeNavigation.Name</td>
                    <td>@log.IdLogObjectNavigation.Name</td>
                    <td><a href="#" class="form-control btn btn-primary logValueToggle" data-ind="@i" style="font-weight:bold;">∨</a></td>
                </tr>

                @foreach (var logValue in log.LogOwnerProcessesValue)
                {
                    <tr class="logValue" data-ind="@i">
                        <td></td>
                        <td colspan="4">@logValue.Field=@logValue.Value</td>
                    </tr>
                }
            }
            </tbody>
    </table>
</div>