@using RegistryDb.Models.Entities.Owners.Log;
@model IList<LogOwnerProcess>;
@{
    string Display(LogOwnerProcessValue logValue)
    {
        switch (logValue.Field)
        {
            case "annul_date":
                return "Дата аннулирования: " + logValue.Value;
            case "annul_comment":
                return "Причина аннулирования: " + logValue.Value;
            case "comment":
                return "Коментарий: " + logValue.Value;
            case "id_building":
                return logValue.Field + ": " + logValue.Value;
            case "id_premise":
                return logValue.Field + ": " + logValue.Value;
            case "id_sub_premise":
                return logValue.Field + ": " + logValue.Value;
            case "id_owner_type":
                return "Тип собственника: " + logValue.Field + ": " + logValue.Value;
            case "surname":
                return "Фамилия: " + logValue.Value;
            case "name":
            case "org_name":
                return "Имя: " + logValue.Value;
            case "patronymic":
                return "Отчество: " + logValue.Value;
            case "id_owner":
                return "Договор по Собственнику №" + logValue.Value;
            case "numerator_share":
                return "Числитель: " + logValue.Value;
            case "denominator_share":
                return "Знаменатель: " + logValue.Value;
            case "id_reason_type":
                return "Тип документа: " + logValue.Field + ": " + logValue.Value;
            case "reason_number":
                return "Номер документа: " + logValue.Value;
            case "reason_date":
                return "Дата документа: " + logValue.Value;
            default:
                return logValue.Field + ": " + logValue.Value;
        }
    }
}
<table class="table table-bordered card-body">
    <thead>
        <tr>
            <th width="170px">Дата</th>
            <th>Пользователь</th>
            <th>Операция</th>
            <th>Объект</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count(); i++)
        {
            var log = Model[i];
            <tr>
                <td>@log.Date</td>
                <td>@log.IdUserNavigation.UserDescription</td>
                <td>@log.IdLogTypeNavigation.Name</td>
                <td>@log.IdLogObjectNavigation.Name №@log.IdKey.ToString()</td>
                <td>
                    @if (log.IdLogType != 5 && log.IdLogType != 6)
                    {
                        <a href="#" class="form-control btn btn-primary logValueToggle" data-ind="@i">
                            <span class="oi oi-chevron-bottom"></span>
                        </a>
                    }
                </td>
            </tr>
            @foreach (var logValue in log.LogOwnerProcessesValue)
            {
                <tr class="logValue" data-ind="@i" style="display: none;">
                    <td></td>
                    <td colspan="4">@Display(logValue)</td>
                </tr>
            }
        }
    </tbody>
</table>