@using RegistryWeb.ViewModel;
@model OwnerVM;
@{
    var i = Model.I;
    var canEdit = Model.Action == ActionTypeEnum.Edit || Model.Action == ActionTypeEnum.Create;
}
<li class="list-group-item rr-owner" data-i="@i">
    <input type="hidden" value="@Model.Owner.IdOwner" name="Owners[@i].IdOwner" />
    <input type="hidden" value="@Model.Owner.IdProcess" name="Owners[@i].IdProcess" />
    <input type="hidden" value="@Model.Owner.IdOwnerType" name="Owners[@i].IdOwnerType" />
    <div class="form-row align-items-end">
        <div class="form-group col-2">
            <label>Тип</label>
            <input type="text" class="form-control" readonly value="@Model.Owner.IdOwnerTypeNavigation.OwnerType1" />
        </div>
        @if (Model.Owner.IdOwnerType == 1 && Model.Owner.OwnerPerson != null)
        {
            var colName = canEdit ? "col-2" : "col-3";
        <input type="hidden" value="@Model.Owner.OwnerPerson.IdOwner" name="Owners[@i].OwnerPerson.IdOwner" />
        <div class="form-group col-3">
            <label>Фамилия</label>
            <input type="text" class="form-control input-chars" placeholder="Фамилия" title="Фамилия"
                   value="@Model.Owner.OwnerPerson.Surname" name="Owners[@i].OwnerPerson.Surname" />
        </div>
        <div class="form-group @colName">
            <label>Имя</label>
            <input type="text" class="form-control input-chars" placeholder="Имя" title="Имя"
                   value="@Model.Owner.OwnerPerson.Name" name="Owners[@i].OwnerPerson.Name" />
        </div>
        <div class="form-group col-3">
            <label>Отчество</label>
            <input type="text" class="form-control input-chars" placeholder="Отчество" title="Отчество"
                   value="@Model.Owner.OwnerPerson.Patronymic" name="Owners[@i].OwnerPerson.Patronymic" />
        </div>
        }
        @if (Model.Owner.IdOwnerType != 1 && Model.Owner.OwnerOrginfo != null)
        {
            var colOrgName = canEdit ? "col-8" : "col-9";
        <input type="hidden" value="@Model.Owner.OwnerOrginfo.IdOwner" name="Owners[@i].OwnerOrginfo.IdOwner" />
        <div class="form-group @colOrgName">
            <label>Наименование</label>
            <input type="text" class="form-control" placeholder="Наименование"
                   value="@Model.Owner.OwnerOrginfo.OrgName" name="Owners[@i].OwnerOrginfo.OrgName" />
        </div>
        }
        @{
            var colPanel = canEdit ? "col-2" : "col-1";
        }
        <div class="form-group btn-group @colPanel" role="group">
            @if (canEdit)
            {
            <a href="#" class="form-control btn btn-success rr-owner-reason-add" title="Добавить реквизит права собственности">
                <span class="oi oi-plus"></span>
            </a>
            <a href="#" class="form-control btn btn-danger rr-owner-delete" title="Удалить" aria-label="Удалить">
                <span class="oi oi-x"></span>
            </a>
            }
            <a href="#" class="form-control btn btn-primary rr-owner-reasons-toggle" title="Развернуть список документов">
                <span class="oi oi-chevron-top"></span>
            </a>
        </div>
    </div>
</li>
@for (var j = 0; j < Model.Owner.OwnerFilesAssoc.Count(); j++)
{
<partial name="OwnerFileAssoc" model="@{new OwnerFileAssocVM() {
    OwnerFileAssoc = Model.Owner.OwnerFilesAssoc[j],
    I = i,
    J = j,
    Action = ViewBag.Action }} " />
}