@model RegistryWeb.ViewModel.OwnerReasonVM;
@{
    var i = Model.IOwner;
    var j = Model.IReason;
}
<tr class="reasonBlock" data-i-owner="@i" data-i-reason="@j">
    <input type="hidden" value="@Model.OwnerReason.IdReason" name="Owners[@i].OwnerReasons[@j].IdReason" />
    <input type="hidden" value="@Model.OwnerReason.IdOwner" name="Owners[@i].OwnerReasons[@j].IdOwner" />
    <td></td>
    <td class="align-middle" colspan="3">
        <div class="row">
            <div class="input-group col-2">
                <input type="text" value="@Model.OwnerReason.NumeratorShare" class="form-control input-numbers reasonNumeratorShare" title="Числитель"
                       name="Owners[@i].OwnerReasons[@j].NumeratorShare" />
                    <span class="input-group-text">/</span>
                <input type="text" value="@Model.OwnerReason.DenominatorShare" class="form-control input-numbers reasonDenominatorShare" title="Знаменатель"
                       name="Owners[@i].OwnerReasons[@j].DenominatorShare" />
            </div>
            <div class="col-4">
                <select value="@Model.OwnerReason.IdReasonType" class="form-control" title="Тип документа основания"                        
                        name="Owners[@i].OwnerReasons[@j].IdReasonType" asp-items="@{new SelectList(ViewBag.OwnerReasonTypes, "IdReasonType", "ReasonName", Model.OwnerReason.IdReasonType)}"></select>
            </div>
            <div class="col">
                <input type="text" value="@Model.OwnerReason.ReasonNumber" class="form-control reasonNum" placeholder="Номер документа" title="Номер документа"
                       name="Owners[@i].OwnerReasons[@j].ReasonNumber" />
            </div>
            <div class="col">
                <input type="date" value="@Model.OwnerReason.ReasonDate?.ToString("yyyy-MM-dd")" class="form-control reasonDate" title="Дата документа"
                       name="Owners[@i].OwnerReasons[@j].ReasonDate" />
            </div>
        </div>
    </td>
    @if (Model.Action == ActionTypeEnum.Create || Model.Action == ActionTypeEnum.Edit)
    {
    <td>
        <a href="#" class="btn btn-danger reasonDelete" title="Удалить" aria-label="Удалить">
            <span class="oi oi-x"></span>
        </a>
    </td>
    }
</tr>