
@model RegistryServices.ViewModel.KumiAccounts.KumiPaymentsVM;
@using RegistryWeb.SecurityServices;

@{
    var securityService = (SecurityService)ViewData["SecurityService"];
    var canWrite = securityService.HasPrivilege(Privileges.AccountsWrite) && Model.FilterOptions.IdAccount == null && Model.FilterOptions.IdClaim == null &&
        Model.FilterOptions.IdCharge == null;
}

<form asp-action="Index" method="get" class="filterForm" autocomplete="off">
    <input type="hidden" asp-for="FilterOptions.IdAccount" />
    <input type="hidden" asp-for="FilterOptions.IdClaim" />
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    <div class="form-row">

        @if (canWrite)
        {
            <div class="form-group  col-2 col-md-1 col-lg-1">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle col-md-12 pl-md-1 pr-md-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Добавить платеж">
                        &#10010;
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-controller="KumiPayments" asp-action="Create">Вручную</a>
                        <a href="#" class="dropdown-item rr-add-payment-by-memorial-order">На основании мемориального ордера</a>
                    </div>
                </div>
            </div>
        }
        @{
            var searchPlacehodler = "УИН или назначение платежа, ИНН, КПП или наименование плательщика, КБК";
        }
        @if (Model.FilterOptions.CommonFilter == null)
        {
            <div class="form-group @(canWrite ? "col-10 col-md-4 col-lg-6" : "col-6 col-md-9 col-lg-10")">
                <input type="text" class="form-control" title="@searchPlacehodler" asp-for="FilterOptions.CommonFilter" placeholder="@searchPlacehodler" />
            </div>
        }
        else
        {
            <div class="form-group @(canWrite ? "col-10 col-md-4 col-lg-6" : "col-6 col-md-9 col-lg-10")">
                <div class="input-group">
                    <input type="text" class="form-control" title="@searchPlacehodler" asp-for="FilterOptions.CommonFilter" placeholder="@searchPlacehodler" />
                    <div class="input-group-append h-auto d-inline-block">
                        <button class="btn btn-outline-secondary" type="button" id="paymentFilterClearBtn">&#10006;</button>
                    </div>
                </div>
            </div>
        }
        @if (Model.FilterOptions.IsModalEmpty())
        {
            <div class="form-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
            </div>
        }
        else
        {
            <div class="form-group btn-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
                <a class="btn btn-outline-secondary" href="#" id="filterClearBtn">&#10006;</a>
            </div>
        }
        @if (canWrite)
        {
            <div class="form-group col-6 col-md-4 col-lg-3">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle col-md-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-grid-three-up" style="font-size: 80%;"></span> Мастер операций
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" style="padding: 0;" href="#">
                                <label class="mb-0" style="cursor: pointer; width:100%;padding: .25rem 1.5rem;" for="UploadPaymentsFiles">Загрузить платежи из файлов ФК (bd*, vt*, zip, 7z) или БКС (xlsx)</label>
                            </a>
                            <a class="dropdown-item" asp-controller="KumiPayments" target="_blank" asp-action="LoadPaymentsLog">Лог загрузки файлов ФК</a>
                            <a href="#" class="dropdown-item payment-ufs-download-btn">Сформировать файл с уведомлениями об уточнении платежей</a>
                            <a href="#" class="dropdown-item addselect">Добавить отфильтрованные платежи в форму распределения</a>
                            <a class="dropdown-item" asp-controller="KumiPayments" asp-action="PaymentsMassDistributeForm">Перейти на форму массового распределения платежей</a>
                            <a href="#" class="dropdown-item" id="BksSetDateEnrollUfk">Указать дату зачисления на л\с УФК платежам от БКС</a>
                        </div>
                    </div>
            </div>
        }
    </div>

    <!-- Modal -->
    <partial name="FilterModal"/>
</form>

<form asp-action="UploadPayments" name="UploadPaymentsForm" style="visibility: hidden; position: absolute; left: -9999px; top: -9999px" method="post" enctype="multipart/form-data">
    <input name="Files" id="UploadPaymentsFiles" type="file" multiple />
    <input name="DateEnrollUfk" type="date" />
</form>

<form name="UploadPaymentsDateEnrollUfkForm">
    <div class="modal fade" id="UploadPaymentsDateEnrollUfkModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Укажите дату зачисления на л\с УФК</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="rr-account-filter-label" for="UploadPayments_DateEnrollUfk">Дата зачисления на л\с УФК</label>
                            <input type="date" class="form-control" id="UploadPayments_DateEnrollUfk" name="UploadPayments_DateEnrollUfk" title="Дата зачисления на л\с УФК"
                                   data-val="true" data-val-required="Введите дату зачисления на л\с УФК" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                            <span class="text-danger" data-valmsg-for="UploadPayments_DateEnrollUfk" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rr-report-submit">Загрузить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form name="UpdateBksPaymentsDateEnrollUfkForm">
    <div class="modal fade" id="UpdateBksPaymentsDateEnrollUfkModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Проставить дату зачисления на л\с УФК</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label class="rr-account-filter-label" for="UpdateBksPaymentsDateEnrollUfk_DateDoc">Дата платежного документа</label>
                            <input type="date" class="form-control" id="UpdateBksPaymentsDateEnrollUfk_DateDoc" name="DateDoc" title="Дата платежного документа"
                                   data-val="true" data-val-required="Введите дату платежного документа" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                            <span class="text-danger" data-valmsg-for="DateDoc" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="rr-account-filter-label" for="UpdateBksPaymentsDateEnrollUfk_DateEnrollUfk">Дата зачисления на л\с УФК</label>
                            <input type="date" class="form-control" id="UpdateBksPaymentsDateEnrollUfk_DateEnrollUfk" name="DateEnrollUfk" title="Дата зачисления на л\с УФК"
                                   data-val="true" data-val-required="Введите дату зачисления на л\с УФК" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                            <span class="text-danger" data-valmsg-for="DateEnrollUfk" data-valmsg-replace="true"></span>
                        </div>
                        <div class="rr-update-date-enroll-ufk-error alert alert-danger text-center p-1 mb-0 d-none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rr-report-submit">Обновить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</form>