@using RegistryWeb.Extensions;
@using RegistryDb.Models.Entities.KumiAccounts;
@using RegistryDb.Models.Entities.RegistryObjects.Kladr;
@using RegistryServices.Models.KumiPayments;
@model RegistryServices.ViewModel.KumiAccounts.KumiPaymentsVM;
@{
    Context.Session.Set("Controller", "KumiPayments");
    Context.Session.Set("Action", "KumiPaymentReports");

    ViewData["Title"] = "Форма массового распределения платежей";
    var kbkDescriptions = (List<KumiKbkDescription>)ViewBag.KbkDescriptions;
    var text = "Количество записей: " + ViewBag.Count;
}

@section styles
    {
    <link rel="stylesheet" href="~/css/kumi.payments.css" runat="server" />
}

<div class="col status"></div>

<h1>@ViewData["Title"]</h1>
<h4 class="mb-3">@text</h4>

<div class="d-none">
    <select id="KladrStreetsForSearchIdByName" asp-items="@(new SelectList((List<KladrStreet>)ViewData["Streets"], "IdStreet", "StreetName"))"></select>
</div>

<div class="form-row">
    <div class="form-group col-md-3">
        <a class="form-control btn btn-primary" id="MassPaymentDistributionBackBtn" asp-controller="KumiPayments" asp-action="Index" asp-route-isBack="true">Назад</a>
    </div>
    <div class="form-group col-md-3">
        <a class="form-control btn btn-primary" id="MassPaymentDistributionClearAllBtn" asp-controller="KumiPayments" asp-action="ClearSessionIds">Очистить</a>
    </div>

    <div class="form-group col-md-3">
        <a class="form-control btn btn-warning disabled" id="RunMassPaymentDistribution" href="#">Распределить платежи</a>
    </div>
    <div class="form-group col-md-3">
        <a class="form-control btn btn-warning disabled" id="StopMassPaymentDistribution" href="#">Остановить распределение</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Платеж</th>
            <th class="text-center">Информация о распределении</th>
            <th width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Payments.Any())
        {
            foreach (var item in Model.Payments)
            {
                var sum = item.Sum;
                var sumPosted = item.PaymentCharges.Select(r => r.TenancyValue + r.PenaltyValue).Sum() + item.PaymentClaims.Select(r => r.TenancyValue + r.PenaltyValue).Sum();
                <tr class="rr-payment-for-distribution" data-state="initial" data-payment-sum="@sum" data-payment-sum-posted="@sumPosted" data-id-payment="@item.IdPayment">
                    <td>
                        @{
                            var isPl = item.IdSource == 3 || item.IdSource == 5;
                        }

                        <div>
                            <b>Сумма:</b> <span class="rr-payment-sum">@item.Sum руб.@(@sumPosted > 0 ? ", расп.: " + @sumPosted + " руб." : "")</span>
                            @{
                                var accounts = Model.DistributionInfoToObjects.Where(r =>
                                    r.ObjectType == RegistryServices.Enums.KumiPaymentDistributeToEnum.ToKumiAccount &&
                                    r.IdPayment == item.IdPayment).Select(r => (KumiPaymentDistributionInfoToAccount)r).ToList();
                                var claims = Model.DistributionInfoToObjects.Where(r =>
                                    r.ObjectType == RegistryServices.Enums.KumiPaymentDistributeToEnum.ToClaim &&
                                    r.IdPayment == item.IdPayment).Select(r => (KumiPaymentDistributionInfoToClaim)r).ToList();
                            }
                            <div class="rr-payment-distribution-sum-details">
                                @foreach (var account in accounts.GroupBy(r => new { r.IdAccount, r.Account })
                             .Select(r => new
                             {
                                 r.Key.Account,
                                 r.Key.IdAccount,
                                 DistrubutedToTenancySum = r.Sum(v => v.DistrubutedToTenancySum),
                                 DistrubutedToPenaltySum = r.Sum(v => v.DistrubutedToPenaltySum)
                             }))
                                {
                                    <div class="text-danger rr-payment-object-detail" data-id-account="@account.IdAccount" data-payment-distrib-tenancy="@account.DistrubutedToTenancySum" data-payment-distrib-penalty="@account.DistrubutedToPenaltySum">
                                        <u>ЛС №@account.Account:</u>
                                        <a class="btn oi oi-eye p-0 text-primary rr-payment-list-eye-btn" target="_blank" asp-controller="KumiAccounts" asp-action="Details" asp-route-idAccount="@account.IdAccount"></a>
                                        <br />найм @account.DistrubutedToTenancySum руб., пени @account.DistrubutedToPenaltySum руб.
                                    </div>
                                }

                                @foreach (var claim in claims.GroupBy(r => new { r.IdClaim, r.IdAccountKumi, r.Account })
                         .Select(r => new
                         {
                             IdClaim = r.Key.IdClaim,
                             IdAccountKumi = r.Key.IdAccountKumi,
                             Account = r.Key.Account,
                             DistrubutedToTenancySum = r.Sum(v => v.DistrubutedToTenancySum),
                             DistrubutedToPenaltySum = r.Sum(v => v.DistrubutedToPenaltySum)
                         }))
                                {
                                    <div class="text-danger rr-payment-object-detail"  data-id-claim="@claim.IdClaim" data-payment-distrib-tenancy="@claim.DistrubutedToTenancySum" data-payment-distrib-penalty="@claim.DistrubutedToPenaltySum">
                                        <u>ИР №@claim.IdClaim</u>
                                        <a class="btn oi oi-eye p-0 text-primary rr-payment-list-eye-btn" target="_blank" asp-controller="Claims" asp-action="Details" asp-route-idClaim="@claim.IdClaim"></a>
                                        <u>ЛС №@claim.Account:</u>
                                        <a class="btn oi oi-eye p-0 text-primary rr-payment-list-eye-btn" target="_blank" asp-controller="KumiAccounts" asp-action="Details" asp-route-idAccount="@claim.IdAccountKumi"></a>
                                        <br />найм @claim.DistrubutedToTenancySum руб., пени @claim.DistrubutedToPenaltySum руб.
                                    </div>
                                }
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(item.Kbk))
                        {
                            var description = kbkDescriptions.FirstOrDefault(r => r.Kbk == item.Kbk);
                            <div title="@(description == null ? "Неизвестный КБК" : description.Description)">
                                <b>КБК:</b> @item.Kbk
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.NumDocument) || item.DateDocument != null)
                        {
                            <div class="rr-payment-doc-requisits">
                                <b>@(isPl ? "Распоряжение" : "Платежный документ"):</b>
                                @if (!string.IsNullOrEmpty(item.NumDocument))
                                {
                                    <span>№ @item.NumDocument</span>
                                }
                                @if (!string.IsNullOrEmpty(item.NumDocument) && item.DateDocument != null)
                                {
                                    <span> </span>
                                }
                                @if (item.DateDocument != null)
                                {
                                    <span>от @item.DateDocument.Value.ToString("dd.MM.yyyy")</span>
                                }
                            </div>
                        }
                        @if (item.DateIn != null && !isPl)
                        {
                            <div>
                                <b>Дата поступления:</b> @item.DateIn.Value.ToString("dd.MM.yyyy")
                            </div>
                        }
                        @if (item.DateExecute != null)
                        {
                            <div>
                                <b>@(isPl ? "Дата исполнения" : "Дата списания"):</b> @item.DateExecute.Value.ToString("dd.MM.yyyy")
                            </div>
                        }
                        <div>
                            <b>Назначение:</b>
                        </div>
                        <div title="@item.Purpose" class="rr-payment-purpose rr-distribute-form-payment-purpose">@item.Purpose</div>
                    </td>
                    <td>
                        @{
                            var validKbk = true;
                            if (!new[] { "90111109044041000120" }.Contains(item.Kbk))
                            {
                                validKbk = false;
                            }
                            var fullDistributed = false;
                            if (sum == sumPosted)
                            {
                                fullDistributed = true;
                            }
                        }
                        <div>
                            <div class="rr-payment-distribution-details-loader text-center @(!validKbk || fullDistributed ? "d-none" : "")">
                                <img src="/image/spinner.gif" /> <span class="rr-loader-title">Поиск связи по назначению...</span>
                            </div>
                            <div class="rr-payment-distribution-result-info text-center @(!validKbk || fullDistributed ? "" : "d-none")
                                 @(validKbk ? "" : "text-danger")
                                 @(fullDistributed ? "text-success" : "")">
                                @Html.Raw(!validKbk ? "Неверный КБК" : fullDistributed ? "Платеж распределен" : "")
                            </div>
                            <div class="rr-payment-distribution-object-info text-center d-none">
                                <div class="rr-payment-distribution-object-caption"></div>
                                <div class="rr-payment-distribution-object-controls">
                                    <a class="rr-control-add-object" href="#">Добавить</a>
                                    <a class="rr-control-change-object" href="#">Изменить</a>
                                    <a class="rr-control-delete-object ml-2" href="#">Удалить</a>
                                </div>
                            </div>
                            <div class="rr-payment-distribution-sums-wrapper form-row d-none">
                                <div class="form-group mb-0 col-lg-6">
                                    <label class="rr-payment-label mb-1">Найм</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary rr-distrib-to-tenancy-sum-lefovers" type="button">
                                                <span class="oi oi-action-redo"></span>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control input-decimal rr-distribution-tenancy-sum" title="Распределение на найм">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="rr-payment-label mb-1">Пени</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary rr-distrib-to-penalty-sum-lefovers" type="button">
                                                <span class="oi oi-action-redo"></span>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control input-decimal rr-distribution-penalty-sum" title="Распределение на пени">
                                    </div>

                                </div>
                            </div>
                            <div class="rr-payment-checked-for-distrib-wrapper text-center d-none">
                                <input type="checkbox" class="rr-payment-checked-for-distrib" /> Платеж проверен
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <a class="btn btn-primary oi oi-eye" title="Подробнее" target="_blank" aria-label="Подробнее"
                               asp-action="Details" asp-controller="KumiPayments" asp-route-idPayment="@item.IdPayment"></a>
                            <a class="btn btn-danger oi oi-x rr-remove-payment-from-master" href="#" title="Удалить платеж из мастера"></a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="4" class="text-center"><i>Элементы отсутствуют</i></td></tr>
        }


    </tbody>
</table>

<partial name="PaymentModals" />

@section Scripts {
    <script src="~/js/kumiPayments.distributeToAccount.js" asp-append-version="true"></script>
    <script src="~/js/kumiPayments.massDistribute.js" asp-append-version="true"></script>
}