<form id="PaymentUfDownloadModalForm">
    <div class="modal fade" id="PaymentUfDownloadModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Сформировать уведомление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="PaymentUfDownload_IdPayemntUf" />
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="rr-account-filter-label" for="PaymentUfDownload_IdSigner">Подписывающий</label>
                            <select class="selectpicker form-control" title="Подписывающий" id="PaymentUfDownload_IdSigner" name="PaymentUfDownload_IdSigner"
                                data-val="true" data-val-required="Укажите подписывающего" asp-items="@(new SelectList(ViewBag.PaymentUfSigners, "IdRecord", "Snp"))">
                            </select>
                            <span class="text-danger" data-valmsg-for="PaymentUfDownload_IdSigner" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label class="rr-account-filter-label" for="PaymentUfDownload_SignDate">Дата подписания</label>
                            <input type="date" class="form-control" id="PaymentUfDownload_SignDate" name="PaymentUfDownload_SignDate" title="Дата подписания"
                                   data-val="true" data-val-required="Введите дату подписания" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                            <span class="text-danger" data-valmsg-for="PaymentUfDownload_SignDate" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary rr-report-submit">Сформировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="PaymentUfsDownloadModalForm">
    <div class="modal fade" id="PaymentUfsDownloadModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Сформировать файл с уведомлениями</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="PaymentUfDownload_IdPayemntUf" />
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="rr-account-filter-label" for="PaymentUfsDownload_IdSigner">Подписывающий</label>
                            <select class="selectpicker form-control" title="Подписывающий" id="PaymentUfsDownload_IdSigner" name="PaymentUfsDownload_IdSigner"
                                    data-val="true" data-val-required="Укажите подписывающего" asp-items="@(new SelectList(ViewBag.PaymentUfSigners, "IdRecord", "Snp"))"></select>
                            <span class="text-danger" data-valmsg-for="PaymentUfsDownload_IdSigner" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label class="rr-account-filter-label" for="PaymentUfsDownload_SignDate">Дата подписания</label>
                            <input type="date" class="form-control" id="PaymentUfsDownload_SignDate" name="PaymentUfsDownload_SignDate" title="Дата подписания"
                                   data-val="true" data-val-required="Введите дату подписания" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                            <span class="text-danger" data-valmsg-for="PaymentUfsDownload_SignDate" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-md-12 pl-0 pr-0">
                        <h5>Критерий отбора уведомлений</h5>
                        <hr>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="rr-account-filter-label" for="PaymentUfsDownload_DateUf">Дата уведомления</label>
                            <input type="date" class="form-control" id="PaymentUfsDownload_DateUf" name="PaymentUfsDownload_DateUf" title="Дата уведомления"
                                   data-val="true" data-val-required="Введите дату уведомления" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                            <span class="text-danger" data-valmsg-for="PaymentUfsDownload_DateUf" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary rr-report-submit">Сформировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="MemorialOrderModalForm">
    <div class="modal fade" id="MemorialOrderModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Поиск ордера</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="MemorialOrder_IdPayment" type="hidden" name="IdPayment" />
                    @{ 
                        var returnUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
                        if (ViewBag.Action != null)
                        {
                            if (ViewBag.ReturnUrl != null)
                            {
                                returnUrl = ViewBag.ReturnUrl;
                            } else
                            {
                                returnUrl = Url.Action("Index");
                            }
                        }
                    }
                    <input id="MemorialOrder_ReturnUrl" type="hidden" name="ReturnUrl" value="@returnUrl" />
                    <div class="form-row">
                        <div class="form-group col-12 col-md-4">
                            <label class="rr-payment-label" for="MemorialOrder_NumDocument">№ документа/уведомления</label>
                            <input type="text" class="form-control input-filter-numbers" maxlength="15" id="MemorialOrder_NumDocument" title="№ документа/уведомления">
                        </div>
                        <div class="form-group col-12 col-md-4">
                            <label class="rr-payment-label" for="MemorialOrder_DateDocument">Дата документа/уведомления</label>
                            <input type="date" class="form-control" id="MemorialOrder_DateDocument" title="Дата документа/уведомления">
                        </div>
                        <div class="form-group col-12 col-md-4">
                            <label class="rr-account-filter-label" for="MemorialOrder_Sum">Сумма</label>
                            <input type="text" class="form-control input-filter-decimal" id="MemorialOrder_Sum" title="Сумма">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-4">
                            <label class="rr-payment-label" for="MemorialOrder_Kbk">КБК</label>
                            <input type="text" class="form-control input-filter-numbers" maxlength="20" id="MemorialOrder_Kbk" title="КБК">
                        </div>
                        <div class="form-group col-8 col-md-4">
                            <label class="rr-payment-label" for="MemorialOrder_Okato">Код ОКТМО</label>
                            <input type="text" class="form-control input-filter-numbers" maxlength="20" id="MemorialOrder_Okato" title="Код ОКТМО">
                        </div>
                        <div class="form-group d-flex align-items-end justify-content-end col-4 col-md-4">
                            <button id="searchMemorialOrderModalBtn" type="button" class="btn btn-secondary">Найти</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="resultMemorialOrderModal" class="form-group col-12"></div>
                    </div>
                    <div class="form-row">
                        <div id="errorMemorialOrderModal" class="form-group col-12 text-center"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="clearMemorialOrderModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                        <button id="setMemorialOrderModalBtn" type="button" class="btn btn-success" disabled>Привязать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>