@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.SecurityServices;
@using RegistryDb.Models.Entities.KumiAccounts;
@using RegistryServices.Models.KumiPayments;
@model RegistryServices.ViewModel.KumiAccounts.KumiPaymentGroupsVM;


@{
    ViewData["Title"] = "Лог загрузки файлов ФК";
    var TotalRows = "Количество записей: " + Model.PageOptions.TotalRows;
}

<h2>@ViewData["Title"]</h2>
<h4>@TotalRows</h4>


<table class="table table-hover rr-payments-log-table">
    <thead>
        <tr style="align-content: center;">
            <th></th>
            <th class="r-table-header-cell">
                Дата
            </th>
            <th class="r-table-header-cell">
                Пользователь
            </th>
            <th class="r-table-header-cell">
                Список файлов
            </th>
            <th class="r-table-header-cell">
                Дата выписки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.paymentGroups)
        {
            var textFiles = item.PaymentGroupFiles?.Select(c => c.FileName).ToList();
            <tr>
                <td></td>
                <td>
                    @item.Date.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @item.User
                </td>
                <td>
                    @foreach (var text in textFiles)
                    {
                        <div>@text</div>
                    }
                </td>
                <td>
                    @{
                        var notices = @item.PaymentGroupFiles?.Where(c => c.NoticeDate != null).Select(c => c.NoticeDate).Distinct();

                        if (notices.Count() > 1)
                        {
                            <div><b>Несколько выписок: </b></div>
                        }
                        foreach (var notice in notices)
                        {
                            <div>@notice.Value.ToString("dd.MM.yyyy")</div>
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                       asp-action="UploadLog" asp-controller="KumiPayments" asp-route-idGroup="@item.IdGroup"></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

<form asp-action="PaymentLog" method="get" class="filterForm" autocomplete="off">
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
</form>

@section Scripts {
    <script src="~/js/index.common.js" asp-append-version="true"></script>
}
