@using RegistryWeb.ViewModel;
@model BuildingVM;
@{
    ViewData["Title"] = "Здание " + Model.Building.IdBuilding;
}
<h2>@ViewData["Title"]</h2>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Общие сведения</a>
        </li>
        <li role="presentation">
            <a href="#cadastral" aria-controls="cadastral" role="tab" data-toggle="tab">Кадастровая информация</a>
        </li>
        <li role="presentation">
            <a href="#rights" aria-controls="rights" role="tab" data-toggle="tab">Ограничения</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="general">
                    <dl class="col-sm-6">
                        <dt>Адрес</dt>
                        <dd>@Model.Building.IdStreetNavigation.StreetLong, д.@Model.Building.House</dd>
                        <dt>Этажность дома</dt>
                        <dd>@Model.Building.Floors</dd>
                        <dt>Год ввода в эксплуатацию</dt>
                        <dd>@Model.Building.StartupYear</dd>
                        <dt>Фактическая дата сноса</dt>
                        <dd>
                            @(Model.Building.DemolishedFactDate == null ?
                                                "" :
                                                Model.Building.DemolishedFactDate.Value.Year.ToString())
                        </dd>
                    </dl>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="cadastral">
            <dl class="col-sm-6">
                <dt>Кадастровый номер</dt>
                <dd>@Model.Building.CadastralNum</dd>
                <dt>Кадастровая стоимость</dt>
                <dd>@Model.Building.CadastralCost</dd>
                <dt>Балансовая стоимость</dt>
                <dd>@Model.Building.BalanceCost</dd>
                <dt>Кадастровый номер земельного участка</dt>
                <dd>@Model.Building.LandCadastralNum</dd>
                <dt>Дата постановки земельного участка на кадастровый учет</dt>
                <dd>@Model.Building.LandCadastralDate</dd>
                <dt>Площадь земельного участка</dt>
                <dd>@Model.Building.LandArea</dd>
            </dl>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rights">
            @Html.Partial("OwnershipRightsList", Model.OwnershipRights)
        </div>
    </div>
</div>


