@using RegistryWeb.ViewModel;
@model BuildingVM;
@{
    ViewData["Title"] = "Здание " + Model.Building.IdBuilding;
}
<h2>@ViewData["Title"]</h2>
<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#general" data-toggle="tab">Общие сведения</a>
        </li>
        <li>
            <a href="#cadastral" data-toggle="tab">Кадастровая информация</a>
        </li>
        <li>
            <a href="#rights" data-toggle="tab">Ограничения</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="general">
            <dl class="col-sm-6">
                <dt>Улица</dt>
                <dd>@Html.EditorFor(bvm => bvm.Building.IdStreetNavigation.StreetLong)</dd>
                <dt>Номер дома</dt>
                <dd>@Model.Building.House</dd>
                <dt>Этажность дома</dt>
                <dd>@Model.Building.Floors</dd>
                <dt>Год ввода в эксплуатацию</dt>
                <dd>@Model.Building.StartupYear</dd>
                <dt>Фактическая дата сноса</dt>
                <dd>@(Model.Building.DemolishedFactDate == null ?
                        "" :
                        Model.Building.DemolishedFactDate.Value.Year.ToString())
                </dd>
            </dl>
        </div>
        <div class="tab-pane fade in active" id="cadastral">
            <dl class="col-sm-6">
                <dt>Кадастровый номер</dt>
                <dd>@Model.Building.CadastralNum</dd>
                <dt>Кадастровая стоимость</dt>
                <dd>@Model.Building.CadastralCost</dd>
                <dt>Балансовая стоимость</dt>
                <dd>@Model.Building.BalanceCost</dd>
                <dt>Кадастровый номер земельного участка</dt>
                <dd>@Model.Building.LandCadastralNum</dd>
                <dt>Дата постановки земельного участка на кадастровый учет</dt>
                <dd>@Model.Building.LandCadastralDate</dd>
                <dt>Площадь земельного участка</dt>
                <dd>@Model.Building.LandArea</dd>
            </dl>
        </div>
        <div class="tab-pane fade" id="rights">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Наименование</th>
                        <th>Тип ограничения</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


