@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.ViewModel;
@model RegistryWeb.ViewModel.PaymentsVM;
@{
    var ids = Context.Session.Get<List<int>>("idAccounts") ?? new List<int>();
    var check = "";

    Context.Session.Set("Controller", "PaymentAccounts");
    Context.Session.Set("Action", "Index");
    Context.Session.Set("OrderOptions", Model.OrderOptions);
    Context.Session.Set("FilterOptions", Model.FilterOptions);
    Context.Session.Set("PageOptions", Model.PageOptions);
    var securityService = (SecurityService)ViewData["SecurityService"];
}

<table class="table table-hover pa-table">
    <thead>
        <tr style="align-content: center;">
            <th class="r-table-header-cell">
            </th>
            <th class="r-table-header-cell" style="width: 35%">
                Адрес / ЛС
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Descending && Model.OrderOptions.OrderField == "Account")
                {
                    <a href="#" title="Сортировка по номеру лицевого счета" class="oi oi-sort-descending sort pa-sorted" data-order-field="Account" data-order-direction="0"></a>
                }
                else
                {
                    <a href="#" title="Сортировка по номеру лицевого счета" class="oi oi-sort-ascending sort @(Model.OrderOptions.OrderField == "Account" ? "pa-sorted" : "")"
                       data-order-field="Account" data-order-direction="@(Model.OrderOptions.OrderField == "Account" ? "1" : "0")"></a>
                }
            </th>
            <th class="r-table-header-cell">
                Информация о ЛС
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Descending && Model.OrderOptions.OrderField == "Date")
                {
                    <a href="#" title="Сортировка по дате последнего начисления"
                       class="oi oi-sort-descending sort pa-sorted" data-order-field="Date" data-order-direction="0"></a>
                }
                else
                {
                    <a href="#" title="Сортировка по дате последнего начисления"
                       class="oi oi-sort-ascending sort @(Model.OrderOptions.OrderField == "Date" ? "pa-sorted" : "")"
                       data-order-field="Date" data-order-direction="@(Model.OrderOptions.OrderField == "Date" ? "1" : "0")"></a>
                }
            </th>
            <th class="r-table-header-cell" style="min-width: 210px">
                Расчеты за посл. месяц
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Payments)
        {
            var lastClaimInfo = new ClaimInfo();
            if (Model.ClaimsByAddresses.ContainsKey(item.IdAccount))
            {
                lastClaimInfo = Model.ClaimsByAddresses[item.IdAccount].First();
                if (Model.ClaimsByAddresses[item.IdAccount].Any(r => r.IdClaimCurrentState != 6))
                {
                    lastClaimInfo = Model.ClaimsByAddresses[item.IdAccount].FirstOrDefault(r => r.IdClaimCurrentState != 6);
                }
            }
            <tr style="position: relative">
                @if (ids.Contains(item.IdAccount))
                {
                    check = "checked";
                }
                else
                {
                    check = "";
                }
                @{
                    var hasOpenedClaims = Model.ClaimsByAddresses.ContainsKey(item.IdAccount) && lastClaimInfo.IdClaimCurrentState != 6;
                }
                <td class="align-middle" style="@(hasOpenedClaims ? "background-color: #FEDCDC" : "")" title="@(hasOpenedClaims ? "По данному адресу имеются незавершенные претензионно-исковые работы" : "")"><input type="checkbox" class="idCheckbox" data-id="@item.IdAccount" @Html.Raw(check) /></td>
                <td>
                    <div class="mb-1">
                        <b>Лицевой счет: </b>@item.PaymentAccountNavigation.Account
                    </div>
                    @if (Model.RentObjects.ContainsKey(item.IdAccount))
                    {
                        <div>
                            @foreach (var address in Model.RentObjects[item.IdAccount])
                            {
                                @await Component.InvokeAsync("PaymentsAddressComponent", new { address = address, idAccount = item.IdAccount })
                            }
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-auto">
                                <button class="btn btn-success oi oi-home mr-1 mt-2 disabled dropdown-toggle" type="button" title="Здания и помещения" aria-label="Здания и помещения"></button>
                            </div>
                            <div class="col-lg-9 col-md-8 mt-1">
                                @item.PaymentAccountNavigation.Crn, @item.PaymentAccountNavigation.RawAddress
                            </div>
                        </div>
                    }
                </td>
                <td>
                    <div class="dopinfo-alt">
                        <div>
                            Наниматель: <span class="text-primary"><b>@item.Tenant</b></span>
                        </div>
                        <div>
                            Дата начисления (посл.): @item.Date.ToString("dd.MM.yyyy")
                        </div>

                        @if (Model.ClaimsByAddresses.ContainsKey(item.IdAccount))
                        {
                            <div>
                                Состояние ИР: <span class="text-success"><b>@(lastClaimInfo.ClaimCurrentState != null ? lastClaimInfo.ClaimCurrentState : "н/а")</b></span>
                            </div>
                            <div>
                                Дата установки: @(lastClaimInfo.ClaimCurrentStateDate != null ? lastClaimInfo.ClaimCurrentStateDate.Value.ToString("dd.MM.yyyy") : "н/а")
                            </div>
                            @if (lastClaimInfo.ClaimDescription != null)
                            {
                                <div>
                                    Примечание к ИР: @lastClaimInfo.ClaimDescription
                                </div>
                            }
                        }
                    </div>
                </td>
                <td style="position: relative">
                    <div class="dopinfo-alt">
                        <div>
                            Начислено: @(item.ChargingTenancy+item.ChargingPenalties+item.ChargingPkk+item.ChargingPadun+item.ChargingDgi) руб.
                        </div>
                        <div>
                            Оплачено: @(item.PaymentTenancy+item.PaymentPenalties+item.PaymentDgi+item.PaymentPkk+item.PaymentPadun) руб.
                        </div>
                        <div>
                            Найм: @item.BalanceOutputTenancy руб.
                        </div>
                        <div>
                            Пени: @item.BalanceOutputPenalties руб.
                        </div>
                        <div>
                            ДГИ: @item.BalanceOutputDgi руб.
                        </div>
                    </div>

                    <div class="btn-group rr-opacity-item-menu" role="group" aria-label="Панель доступа">
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary oi oi-spreadsheet dropdown-toggle" type="button" title="История начисления" aria-label="История начисления" id="objectsBtn_@item.IdAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_@item.IdAccount">
                                <a class="dropdown-item" title="История начисления по ЛС" aria-label="История начисления по ЛС" target="_blank"
                                   asp-action="PaymentAccountsTable"
                                   asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"
                                   asp-route-idAccount="@item.IdAccount">История начисления по ЛС</a>
                                <a class="dropdown-item" title="История начисления по арендумемому ЖП" aria-label="История начисления по арендумемому ЖП" target="_blank"
                                   asp-action="PaymentAccountsRentObjectTable"
                                   asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"
                                   asp-route-idAccount="@item.IdAccount">История начисления по арендумемому ЖП</a>
                            </div>
                        </div>

                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-dark oi oi-grid-two-up dropdown-toggle" type="button" title="Связанные объекты" aria-label="Связанные объекты" id="objectsBtn_@item.IdAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_@item.IdAccount">
                                <a class="dropdown-item" title="Претензионно-исковые работы" aria-label="Претензионно-исковые работы"
                                   asp-controller="Claims" asp-action="Index" asp-route-filterOptions.IdAccount="@item.IdAccount" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Претензионно-исковые работы</a>
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Отчеты">
                            <button class="btn btn-success oi oi-document dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@item.IdAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@item.IdAccount">
                                <a class="dropdown-item rr-report-request-to-bsk" href="#" title="Запрос в БКС" aria-label="Запрос в БКС" data-id-account="@item.IdAccount">Запрос в БКС</a>
                                <a class="dropdown-item rr-report-calc-debt" href="#" title="Расчет суммы задолженности" aria-label="Расчет суммы задолженности" data-id-account="@item.IdAccount">Расчет суммы задолженности</a>
                                <a class="dropdown-item rr-report-rig-send" href="#" title="Отправить счёт-извещение" aria-label="Отправить счёт-извещение" data-id-account="@item.IdAccount">Отправить счёт-извещение</a>
                                <a class="dropdown-item rr-report-rig-export" href="#" title="Сформировать счёт-извещение" aria-label="Сформировать счёт-извещение" data-id-account="@item.IdAccount">Сформировать счёт-извещение</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>