@using RegistryWeb.Enums;
@using RegistryWeb.ViewModel;
@model RegistryServices.ViewModel.Payments.PaymentsAccountTableVM;
@{
    var paymentByAddress = ViewBag.PaymentsByAddress ?? false;
    if (paymentByAddress)
    {
        ViewData["Title"] = "История начислений по ЖП";
    }
    else
    {
        ViewData["Title"] = "История начислений по ЛС №" + Model.LastPayment.PaymentAccountNavigation.Account;
    }
    string isChecked(bool value) => value ? "checked" : "";
}
<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/paymentAccountsTable.css" asp-append-version="true" />

<script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
<script type="text/javascript" src="~/js/paymentAccountsTable.js" asp-append-version="true"></script>

<div class="d-inline-flex justify-content-start">
    <h2 class="m-auto">@ViewData["Title"]</h2>
    <a href="#" id="configModalShow" title="Настройки" class="oi oi-cog" style="margin:auto 0 auto 10px"></a>
</div>
<div class="row">
    <div class="form-group col-4">
        <label>Наниматель</label>
        <input class="form-control" disabled type="text" value="@Model.LastPayment.Tenant" />
    </div>
    <div class="form-group col-2">
        <label>Общая площадь</label>
        <input class="form-control" disabled type="text" value="@Model.LastPayment.TotalArea" />
    </div>
    <div class="form-group col-6">
        <label>Адрес БКС</label>
        <input class="form-control" disabled type="text" value="@Model.LastPayment.PaymentAccountNavigation.RawAddress" />
    </div>
</div>

@if (Model.RentObjects.ContainsKey(ViewBag.IdAccount))
{
    <label>Адресс ЖФ</label>
    @foreach (Address address in Model.RentObjects[ViewBag.IdAccount])
    {
        var idPremise = Int32.Parse(address.AddressType == AddressTypes.SubPremise ? address.IdParents["Premise"] : address.Id);
        var returnUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
        <div class="card">
            <div class="h5 card-header d-flex justify-content-between">
                <div class="address" data-idpremise="@idPremise" data-id="@address.Id"
                     data-type="@address.AddressType" data-returnurl="@returnUrl">
                    @address.Text <span class="objectState"></span>
                </div>
                <div class="btn-group">
                    <a class="btn btn-success" title="Помещение" target="_blank"
                       asp-controller="Premises" asp-action="Details"
                       asp-route-idPremises="@idPremise"
                       asp-route-returnUrl="@returnUrl">
                        <span class="oi oi-home"></span>
                    </a>
                    <a class="btn btn-success" title="Процессы найма" target="_blank"
                       asp-controller="TenancyProcesses" asp-action="Index"
                       asp-route-filterOptions.Address.AddressType="@address.AddressType"
                       asp-route-filterOptions.Address.Id="@address.Id"
                       asp-route-filterOptions.Address.Text="@address.Text">ПН</a>
                    <a href="#" class="btn btn-secondary registryInfoBtn" title="Информация">
                        <span class="oi oi-info"></span>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col">
                        <label>Дополнительные сведения</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label>Документы права собственности</label>
                        <div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label>Процессы найма</label>
                        <div></div>
                    </div>
                </div>

            </div>
        </div>
    }
}

<div class="row mb-2">
    <div class="col-12">
        <div class="card rr-additional-card">
            <div class="card-header d-flex justify-content-between pt-2 pb-2">
                <h4 class="mt-1">Примечание</h4>
                <div class="btn-group panel-comment" role="group">
                    @if (Model.Comment != null)
                    {
                        <a href="#" id="editComment" class="form-control btn btn-success oi oi-pencil" title="Изменить"></a>
                    }
                    else
                    {
                        <a href="#" id="addComment" class="form-control btn btn-success" title="Добавить">&#10010;</a>
                    }

                    <a href="#" data-for="Comment" class="form-control btn btn-primary account-toggler" style="font-weight:bold;">∧</a>
                </div>
            </div>
            <textarea class="form-control" disabled  maxlength="2000" id="Comment" asp-for="@Model.Comment.Comment" title="Примечание"></textarea>
        </div>
    </div>
</div>
<table id="ttt" data-payment-by-address="@paymentByAddress" class="table table-bordered">
    <thead>
        <tr>
            <th>Состояние на дату</th>
            @if (paymentByAddress)
            {
                <th>Лицевой счет</th>
            }
            <th>Наниматель</th>
            <th>S<sub>общ</sub></th>
            <th>S<sub>жил</sub></th>
            <th>Прописано</th>
            <th>Сальдо вх.</th>
            <th>Сальдо вх. найм</th>
            <th>Пени вх.</th>
            <th>Сальдо вх. ДГИ</th>
            <th>Сальдо вх. Падун</th>
            <th>Сальдо вх. ПКК</th>
            <th>Начисление итого</th>
            <th>Начисление найм</th>
            <th>Начисление пени</th>
            <th>Начисление ДГИ</th>
            <th>Начисление Падун</th>
            <th>Начисление ПКК</th>
            <th>Перенос сальдо</th>
            <th>Перерасчет найм</th>
            <th>Перерасчет пени</th>
            <th>Перерасчет ДГИ</th>
            <th>Перерасчет Падун</th>
            <th>Перерасчет ПКК</th>
            <th>Оплата найм</th>
            <th>Оплата пени</th>
            <th>Оплата ДГИ</th>
            <th>Оплата Падун</th>
            <th>Оплата ПКК</th>
            <th>Сальдо исх.</th>
            <th>Сальдо исх. найм</th>
            <th>Пени исх.</th>
            <th>Сальдо исх. ДГИ</th>
            <th>Сальдо исх. Падун</th>
            <th>Сальдо исх. ПКК</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr style="@(paymentByAddress && ViewBag.IdAccount == payment.IdAccount ? "background-color: #88FF63;" : "")">
                <td><b>@payment.Date.ToShortDateString()</b></td>
                @if (paymentByAddress)
                {
                    <td>@payment.PaymentAccountNavigation.Account</td>
                }
                <td>@payment.Tenant</td>
                <td>@payment.TotalArea</td>
                <td>@payment.LivingArea</td>
                <td>@payment.Prescribed</td>
                <td>@payment.BalanceInput</td>
                <td>@payment.BalanceTenancy</td>
                <td>@payment.BalanceInputPenalties</td>
                <td>@payment.BalanceDgi</td>
                <td>@payment.BalancePadun</td>
                <td>@payment.BalancePkk</td>
                <td>@payment.ChargingTotal</td>
                <td>@payment.ChargingTenancy</td>
                <td>@payment.ChargingPenalties</td>
                <td>@payment.ChargingDgi</td>
                <td>@payment.ChargingPadun</td>
                <td>@payment.ChargingPkk</td>
                <td>@payment.TransferBalance</td>
                <td>@payment.RecalcTenancy</td>
                <td>@payment.RecalcPenalties</td>
                <td>@payment.RecalcDgi</td>
                <td>@payment.RecalcPadun</td>
                <td>@payment.RecalcPkk</td>
                <td>@payment.PaymentTenancy</td>
                <td>@payment.PaymentPenalties</td>
                <td>@payment.PaymentDgi</td>
                <td>@payment.PaymentPadun</td>
                <td>@payment.PaymentPkk</td>
                <td>@payment.BalanceOutputTotal</td>
                <td>@payment.BalanceOutputTenancy</td>
                <td>@payment.BalanceOutputPenalties</td>
                <td>@payment.BalanceOutputDgi</td>
                <td>@payment.BalanceOutputPadun</td>
                <td>@payment.BalanceOutputPkk</td>
            </tr>
        }
    </tbody>
</table>



<form id="configModalForm">
    <div class="modal fade" id="configModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Настройка таблицы</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset class="r-scheduler-border">
                        <legend class="r-scheduler-border">Основная информация</legend>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_Tenant" class="form-check-input"
                                   title="Наниматель" @isChecked(Model.PaymentAccountTableJson.HasTenant) />
                            <label for="Column_Tenant" class="form-check-label">Наниматель</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_TotalArea" class="form-check-input"
                                   title="Общая площадь" @isChecked(Model.PaymentAccountTableJson.HasTotalArea) />
                            <label for="Column_TotalArea" class="form-check-label">Общая площадь</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_LivingArea" class="form-check-input"
                                   title="Жилая площадь" @isChecked(Model.PaymentAccountTableJson.HasLivingArea) />
                            <label for="Column_LivingArea" class="form-check-label">Жилая площадь</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_Prescribed" class="form-check-input"
                                   title="Прописано" @isChecked(Model.PaymentAccountTableJson.HasPrescribed) />
                            <label for="Column_Prescribed" class="form-check-label">Прописано</label>
                        </div>
                    </fieldset>
                    <fieldset class="r-scheduler-border">
                        <legend class="r-scheduler-border">Входящее сальдо</legend>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceInput" class="form-check-input"
                                   title="Сальдо вх." @isChecked(Model.PaymentAccountTableJson.HasBalanceInput) />
                            <label for="Column_BalanceInput" class="form-check-label">Сальдо вх.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceTenancy" class="form-check-input"
                                   title="Сальдо вх. найм" @isChecked(Model.PaymentAccountTableJson.HasBalanceTenancy) />
                            <label for="Column_BalanceTenancy" class="form-check-label">Сальдо вх. найм</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceInputPenalties" class="form-check-input"
                                   title="Пени вх." @isChecked(Model.PaymentAccountTableJson.HasBalanceInputPenalties) />
                            <label for="Column_BalanceInputPenalties" class="form-check-label">Пени вх.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceDgi" class="form-check-input"
                                   title="Сальда вх. ДГИ" @isChecked(Model.PaymentAccountTableJson.HasBalanceDgi) />
                            <label for="Column_BalanceDgi" class="form-check-label">Сальдо вх. ДГИ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalancePadun" class="form-check-input"
                                   title="Сальда вх. Падун" @isChecked(Model.PaymentAccountTableJson.HasBalancePadun) />
                            <label for="Column_BalancePadun" class="form-check-label">Сальдо вх. Падун</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalancePkk" class="form-check-input"
                                   title="Сальда вх. ПКК" @isChecked(Model.PaymentAccountTableJson.HasBalancePkk) />
                            <label for="Column_BalancePkk" class="form-check-label">Сальдо вх. ПКК</label>
                        </div>
                    </fieldset>
                    <fieldset class="r-scheduler-border">
                        <legend class="r-scheduler-border">Начисления</legend>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_ChargingTotal" class="form-check-input"
                                   title="Начисление итого" @isChecked(Model.PaymentAccountTableJson.HasChargingTotal) />
                            <label for="Column_ChargingTotal" class="form-check-label">Начисление итого</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_ChargingTenancy" class="form-check-input"
                                   title="Начисление найм" @isChecked(Model.PaymentAccountTableJson.HasChargingTenancy) />
                            <label for="Column_ChargingTenancy" class="form-check-label">Начисление найм</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_ChargingPenalties" class="form-check-input"
                                   title="Начисление пени" @isChecked(Model.PaymentAccountTableJson.HasChargingPenalties) />
                            <label for="Column_ChargingPenalties" class="form-check-label">Начисление пени</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_ChargingDgi" class="form-check-input"
                                   title="Начисление ДГИ" @isChecked(Model.PaymentAccountTableJson.HasChargingDgi) />
                            <label for="Column_ChargingDgi" class="form-check-label">Начисление ДГИ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_ChargingPadun" class="form-check-input"
                                   title="Начисление Падун" @isChecked(Model.PaymentAccountTableJson.HasChargingPadun) />
                            <label for="Column_ChargingPadun" class="form-check-label">Начисление Падун</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_ChargingPkk" class="form-check-input"
                                   title="Начисление ПКК" @isChecked(Model.PaymentAccountTableJson.HasChargingPkk) />
                            <label for="Column_ChargingPkk" class="form-check-label">Начисление ПКК</label>
                        </div>
                    </fieldset>
                    <fieldset class="r-scheduler-border">
                        <legend class="r-scheduler-border">Разовый перерасчет и перенос сальдо</legend>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_TransferBalance" class="form-check-input"
                                   title="Перенос сальдо" @isChecked(Model.PaymentAccountTableJson.HasTransferBalance) />
                            <label for="Column_TransferBalance" class="form-check-label">Перенос сальдо</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_RecalcTenancy" class="form-check-input"
                                   title="Перерасчет найм" @isChecked(Model.PaymentAccountTableJson.HasRecalcTenancy) />
                            <label for="Column_RecalcTenancy" class="form-check-label">Перерасчет найм</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_RecalcPenalties" class="form-check-input"
                                   title="Перерасчет пени" @isChecked(Model.PaymentAccountTableJson.HasRecalcPenalties) />
                            <label for="Column_RecalcPenalties" class="form-check-label">Перерасчет пени</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_RecalcDgi" class="form-check-input"
                                   title="Перерасчет ДГИ" @isChecked(Model.PaymentAccountTableJson.HasRecalcDgi) />
                            <label for="Column_RecalcDgi" class="form-check-label">Перерасчет ДГИ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_RecalcPadun" class="form-check-input"
                                   title="Перерасчет Падун" @isChecked(Model.PaymentAccountTableJson.HasRecalcPadun) />
                            <label for="Column_RecalcPadun" class="form-check-label">Перерасчет Падун</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_RecalcPkk" class="form-check-input"
                                   title="Перерасчет ПКК" @isChecked(Model.PaymentAccountTableJson.HasRecalcPkk) />
                            <label for="Column_RecalcPkk" class="form-check-label">Перерасчет ПКК</label>
                        </div>
                    </fieldset>
                    <fieldset class="r-scheduler-border">
                        <legend class="r-scheduler-border">Оплата</legend>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_PaymentTenancy" class="form-check-input"
                                   title="Оплата найм" @isChecked(Model.PaymentAccountTableJson.HasPaymentTenancy) />
                            <label for="Column_PaymentTenancy" class="form-check-label">Оплата найм</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_PaymentPenalties" class="form-check-input"
                                   title="Оплата пени" @isChecked(Model.PaymentAccountTableJson.HasPaymentPenalties) />
                            <label for="Column_PaymentPenalties" class="form-check-label">Оплата пени</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_PaymentDgi" class="form-check-input"
                                   title="Оплата ДГИ" @isChecked(Model.PaymentAccountTableJson.HasPaymentDgi) />
                            <label for="Column_PaymentDgi" class="form-check-label">Оплата ДГИ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_PaymentPadun" class="form-check-input"
                                   title="Оплата Падун" @isChecked(Model.PaymentAccountTableJson.HasPaymentPadun) />
                            <label for="Column_PaymentPadun" class="form-check-label">Оплата Падун</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_PaymentPkk" class="form-check-input"
                                   title="Оплата ПКК" @isChecked(Model.PaymentAccountTableJson.HasPaymentPkk) />
                            <label for="Column_PaymentPkk" class="form-check-label">Оплата ПКК</label>
                        </div>
                    </fieldset>
                    <fieldset class="r-scheduler-border">
                        <legend class="r-scheduler-border">Исходящее сальдо</legend>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceOutputTotal" class="form-check-input"
                                   title="Сальдо исх." @isChecked(Model.PaymentAccountTableJson.HasBalanceOutputTotal) />
                            <label for="Column_BalanceOutputTotal" class="form-check-label">Сальдо исх.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceOutputTenancy" class="form-check-input"
                                   title="Сальдо исх. найм" @isChecked(Model.PaymentAccountTableJson.HasBalanceOutputTenancy) />
                            <label for="Column_BalanceOutputTenancy" class="form-check-label">Сальдо исх. найм</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceOutputPenalties" class="form-check-input"
                                   title="Пени исх." @isChecked(Model.PaymentAccountTableJson.HasBalanceOutputPenalties) />
                            <label for="Column_BalanceOutputPenalties" class="form-check-label">Пени исх.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceOutputDgi" class="form-check-input"
                                   title="Сальдо исх. ДГИ" @isChecked(Model.PaymentAccountTableJson.HasBalanceOutputDgi) />
                            <label for="Column_BalanceOutputDgi" class="form-check-label">Сальдо исх. ДГИ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceOutputPadun" class="form-check-input"
                                   title="Сальдо исх. Падун" @isChecked(Model.PaymentAccountTableJson.HasBalanceOutputPadun) />
                            <label for="Column_BalanceOutputPadun" class="form-check-label">Сальдо исх. Падун</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="Column_BalanceOutputPkk" class="form-check-input"
                                   title="Сальдо исх. ПКК" @isChecked(Model.PaymentAccountTableJson.HasBalanceOutputPkk) />
                            <label for="Column_BalanceOutputPkk" class="form-check-label">Сальдо исх. ПКК</label>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary r-config-apply">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form id="CommentModalForm">
    <div  class="modal fade" id="CommentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CommentModalLabel">Примечание</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="@Model.LastPayment.IdAccount" />
                    <textarea class="form-control payment-text-comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-success save-text-comment">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>