<form id="accountRecalcForm" autocomplete="off">
    <div class="modal fade" data-backdrop="static" id="accountRecalcModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Перерасчет</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="AccountKumiRecalc.IdAccount" />
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="AccountKumiRecalc.RecalcType">Способ перерасчета</label>
                            <select class="form-control selectpicker" title="Способ перерасчета" name="AccountKumiRecalc.RecalcType"
                                    data-val="true" data-val-required="Укажите способ перерасчета" id="AccountKumiRecalc_RecalcType">
                                <option selected value="0">Перерасчет с выставлением доплаты в текущий период</option>
                                <option value="1">Перерасчет с переначислением (перезапись)</option>
                            </select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiRecalc.RecalcType" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-row rr-account-recalc-period">
                        <div class="form-group col-12">
                            <label for="AccountKumiRecalc.RecalcPeriod">Период</label>
                            <select class="form-control selectpicker" title="Период перерасчета" name="AccountKumiRecalc.RecalcPeriod"
                                    data-val="true" data-val-required="Укажите период перерасчета" id="AccountKumiRecalc_RecalcPeriod">
                                <option selected value="0">Весь период начисления</option>
                                <option value="1">Начиная с указанной даты</option>
                            </select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiRecalc.RecalcPeriod" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-6 d-none">
                            <label for="AccountKumiRecalc.RecalcPeriodYear">Год</label>
                            @{
                                var currentYear = DateTime.Now.Year;
                            }

                            <input type="number" class="form-control input-numbers" id="AccountKumiRecalc_RecalcPeriodYear" name="AccountKumiRecalc.RecalcPeriodYear" 
                                   data-val="true" data-val-required="Укажите год начала перерасчета" value="@currentYear" max="@currentYear" min="1990">
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiRecalc.RecalcPeriodYear" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-6 d-none">
                            <label for="AccountKumiRecalc.RecalcPeriodMonth">Месяц</label>
                            <select class="form-control selectpicker" title="Месяц начала перерасчета" name="AccountKumiRecalc.RecalcPeriodMonth"
                                    data-val="true" data-val-required="Укажите месяц начала перерасчета" id="AccountKumiRecalc_RecalcPeriodMonth">
                                <option></option>
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiRecalc.RecalcPeriodMonth" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="AccountKumiRecalc_SaveCurrentPeriodCharge" name="AccountKumiRecalc.SaveCurrentPeriodCharge" value="false">
                                <label class="form-check-label rr-account-recalc-label" title="Сохранить начисление за текущий период" for="AccountKumiRecalc_SaveCurrentPeriodCharge">Сохранить начисление за текущий период</label>
                            </div>
                        </div>
                    </div>
                    <div class="progress d-none">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <div class="rr-recalc-account-error col-12 alert alert-danger text-center p-1 mb-0 d-none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rr-report-submit">Перерасчитать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

@{ 
    var hasDgiCharges = ViewBag.HasDgiCharges ?? false;
    var hasPkkCharges = ViewBag.HasPkkCharges ?? false;
    var hasPadunCharges = ViewBag.HasPadunCharges ?? false;
    var additionalChargesCount = ViewBag.AdditionalChargesCount ?? 0;

    var cssClasses = "col-lg-3 col-6";
    switch(additionalChargesCount)
    {
        case 0:
            break;
        case 1:
            cssClasses = "col-4";
            break;
        case 2:
            break;
        case 3:
            cssClasses = "col-lg-4 col-6";
            break;
    }
}

<form id="accountAddCorrectionForm" autocomplete="off" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="accountAddCorrectionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить корректировку начисления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="AccountKumiChargeCorrection.IdAccount" />
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="AccountKumiChargeCorrection.AtDate">Дата корректировки</label>

                            <input type="date" class="form-control" title="Дата корректировки" value="@(DateTime.Now.Date.ToString("yyyy-MM-dd"))" name="AccountKumiChargeCorrection.AtDate"
                                   data-val="true" data-val-required="Укажите дату корректировки" id="AccountKumiChargeCorrection_AtDate" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.AtDate" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-6">
                            <input type="hidden" id="AccountKumiChargeCorrection_idAccountMirror" name="AccountKumiChargeCorrection.idAccountMirror" />
                            <label for="AccountKumiChargeCorrection_idAccountMirrorVisible">Отразить оплату на ЛС</label>
                            <input type="text" class="form-control" id="AccountKumiChargeCorrection_idAccountMirrorVisible" name="AccountKumiChargeCorrection.idAccountMirrorVisible" maxlength="255" title="Номер счета">
                            <span data-valmsg-for="AccountKumiChargeCorrection.idAccountMirrorVisible" id="Span_idAccountMirrorVisible" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group @cssClasses">
                            <label class="rr-account-label" for="AccountKumiChargeCorrection.TenancyValue">Начислено найм</label>
                            <input type="text" class="form-control input-decimal" value="0,00" title="Сумма найм" name="AccountKumiChargeCorrection.TenancyValue"
                                   data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_TenancyValue" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.TenancyValue" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group @cssClasses">
                            <label class="rr-account-label" for="AccountKumiChargeCorrection.PenaltyValue">Начислено пени</label>
                            <input type="text" class="form-control input-decimal" value="0,00" title="Сумма пени" name="AccountKumiChargeCorrection.PenaltyValue"
                                   data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PenaltyValue" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PenaltyValue" data-valmsg-replace="true"></span>
                        </div>
                        @if (hasDgiCharges)
                        {
                            <div class="form-group @cssClasses">
                                <label class="rr-account-label" for="AccountKumiChargeCorrection.DgiValue">Начислено ДГИ</label>
                                <input type="text" class="form-control input-decimal" value="0,00" title="Сумма ДГИ" name="AccountKumiChargeCorrection.DgiValue"
                                       data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_DgiValue" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.DgiValue" data-valmsg-replace="true"></span>
                            </div>
                        }
                        @if (hasPkkCharges)
                        {
                            <div class="form-group @(additionalChargesCount == 3 ? "offset-lg-2" : "") @cssClasses">
                                <label class="rr-account-label" class="rr-account-label" for="AccountKumiChargeCorrection.PkkValue">Начислено ПКК</label>
                                <input type="text" class="form-control input-decimal" value="0,00" title="Сумма ПКК" name="AccountKumiChargeCorrection.PkkValue"
                                       data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PkkValue" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PkkValue" data-valmsg-replace="true"></span>
                            </div>
                        }
                        @if (hasPadunCharges)
                        {
                            <div class="form-group @cssClasses">
                                <label class="rr-account-label" for="AccountKumiChargeCorrection.PadunValue">Начислено Падун</label>
                                <input type="text" class="form-control input-decimal" value="0,00" title="Сумма Падун" name="AccountKumiChargeCorrection.PadunValue"
                                       data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PadunValue" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PadunValue" data-valmsg-replace="true"></span>
                            </div>
                        }
                        <div class="form-group @cssClasses">
                            <label class="rr-account-label" for="AccountKumiChargeCorrection.PaymentTenancyValue">Оплата найм</label>
                            <input type="text" class="form-control input-decimal" value="0,00" title="Сумма найм" name="AccountKumiChargeCorrection.PaymentTenancyValue"
                                   data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PaymentTenancyValue" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PaymentTenancyValue" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group @cssClasses">
                            <label class="rr-account-label" for="AccountKumiChargeCorrection.PaymentPenaltyValue">Оплата пени</label>
                            <input type="text" class="form-control input-decimal" value="0,00" title="Сумма пени" name="AccountKumiChargeCorrection.PaymentPenaltyValue"
                                   data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PaymentPenaltyValue" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PaymentPenaltyValue" data-valmsg-replace="true"></span>
                        </div>
                        @if (hasDgiCharges)
                        {
                            <div class="form-group @cssClasses">
                                <label class="rr-account-label" for="AccountKumiChargeCorrection.PaymentDgiValue">Оплата ДГИ</label>
                                <input type="text" class="form-control input-decimal" value="0,00" title="Сумма ДГИ" name="AccountKumiChargeCorrection.PaymentDgiValue"
                                       data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PaymentDgiValue" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PaymentDgiValue" data-valmsg-replace="true"></span>
                            </div>
                        }

                        @if (hasPkkCharges)
                        {
                            <div class="form-group @(additionalChargesCount == 3 ? "offset-lg-2" : "") @cssClasses">
                                <label class="rr-account-label" for="AccountKumiChargeCorrection.PaymentPkkValue">Оплата ПКК</label>
                                <input type="text" class="form-control input-decimal" value="0,00" title="Сумма ПКК" name="AccountKumiChargeCorrection.PaymentPkkValue"
                                       data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PaymentPkkValue" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PaymentPkkValue" data-valmsg-replace="true"></span>
                            </div>
                        }

                        @if (hasPadunCharges)
                        {
                            <div class="form-group @cssClasses">
                                <label class="rr-account-label" for="AccountKumiChargeCorrection.PaymentPadunValue">Оплата пени</label>
                                <input type="text" class="form-control input-decimal" value="0,00" title="Сумма Падун" name="AccountKumiChargeCorrection.PaymentPadunValue"
                                       data-val="true" data-val-required="Укажите сумму" id="AccountKumiChargeCorrection_PaymentPadunValue" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AccountKumiChargeCorrection.PaymentPadunValue" data-valmsg-replace="true"></span>
                            </div>
                        }
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="mb-1" for="AccountKumiChargeCorrection.Description">Причина корректировки</label>
                            <textarea rows="4" class="form-control" id="AccountKumiChargeCorrection_Description" name="AccountKumiChargeCorrection.Description" maxlength="1024" title="Причина корректировки"></textarea>
                        </div>
                    </div>
                    <div class="rr-recalc-account-error alert alert-danger text-center p-1 mb-0 d-none"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success rr-charge-corrections-list-href align-self-start" asp-action="ChargeCorrectionsList" target="_blank">Список корректировок</a>
                    <button type="button" class="btn btn-primary rr-report-submit">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>