@using RegistryWeb.SecurityServices;
@using RegistryWeb.ViewModel;
@using RegistryServices.ViewModel.KumiAccounts;
@using RegistryDb.Models.Entities.KumiAccounts;
@using RegistryWeb.Enums;
@model List<RegistryDb.Models.Entities.KumiAccounts.KumiAccount>;
@{
    ViewData["Title"] = "Информация об ЛС КУМИ по адресу";

    var hasDgiCharges = Model.SelectMany(r => r.Charges).Any(r => r.InputDgi != 0 || r.ChargeDgi != 0 || r.PaymentDgi != 0 || r.RecalcDgi != 0 || r.CorrectionDgi != 0 || r.OutputDgi != 0);
    var hasPkkCharges = Model.SelectMany(r => r.Charges).Any(r => r.InputPkk != 0 || r.ChargePkk != 0 || r.PaymentPkk != 0 || r.RecalcPkk != 0 || r.CorrectionPkk != 0 || r.OutputPkk != 0);
    var hasPadunCharges = Model.SelectMany(r => r.Charges).Any(r => r.InputPadun != 0 || r.ChargePadun != 0 || r.PaymentPadun != 0 || r.RecalcPadun != 0 || r.CorrectionPadun != 0 || r.OutputPadun != 0);
    var additionalChargesCount = 0;
    additionalChargesCount += hasDgiCharges ? 1 : 0;
    additionalChargesCount += hasPkkCharges ? 1 : 0;
    additionalChargesCount += hasPadunCharges ? 1 : 0;
    ViewBag.AdditionalChargesCount = additionalChargesCount;
    ViewBag.HasDgiCharges = hasDgiCharges;
    ViewBag.HasPkkCharges = hasPkkCharges;
    ViewBag.HasPadunCharges = hasPadunCharges;
}
@section Styles {
    <link rel="stylesheet" href="~/css/kumi.accounts.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/kumiAccount.common.js" asp-append-version="true"></script>
    <script src="~/js/kumiAccount.detailsByAddress.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header d-flex flex-column flex-lg-row">
        <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0" title="@ViewData["Title"]"
               style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            @ViewData["Title"]
        </label>
        <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
            <div class="btn-group" role="group" aria-label="Панель инструментов">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-action="Index">Назад</a>
                }
                <a href="#" class="form-control btn btn-primary account-toggler" data-for="account" title="Развернуть" style="font-weight:bold;">∧</a>
            </div>
        </div>
    </div>
    <div class="card-body pt-3 pb-3 pl-3 pr-3" id="account">
        <form autocomplete="off" asp-action="Details" id="accountForm" data-action="Details" method="post">
            <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" />
            <input type="hidden" value="@ViewBag.IdAccountCurrent" name="IdAccount" />

            <div id="TenancyInfo">
                @{
                    var tenanciesInfo = (Dictionary<int, List<KumiAccountTenancyInfoVM>>)ViewBag.TenancyInfo;
                    var tenancyInfo = new List<KumiAccountTenancyInfoVM>();
                    foreach (var tenanciesInfoValue in tenanciesInfo.SelectMany(r => r.Value).ToList())
                    {
                        if (tenancyInfo.Any(r => r.TenancyProcess.IdProcess == tenanciesInfoValue.TenancyProcess.IdProcess)) { continue; }
                        tenancyInfo.Add(tenanciesInfoValue);
                    }

                    tenancyInfo = tenancyInfo.OrderBy(r => r.TenancyProcess.AnnualDate != null).ThenByDescending(r => r.TenancyProcess.RegistrationDate).ToList();
                    tenancyInfo = tenancyInfo.Union(new List<KumiAccountTenancyInfoVM>() { new KumiAccountTenancyInfoVM {
                                                                                                    AccountAssoc = new KumiAccountsTenancyProcessesAssoc { Fraction = 1.0000m },
                                                                                                    RentObjects = new List<TenancyRentObject> { new TenancyRentObject {  } }} }).ToList();
                    for (var i = 0; i < tenancyInfo.Count(); i++)
                    {
                        var idProcess = tenancyInfo[i].TenancyProcess?.IdProcess;
                        var tenancyRequisits = "";

                        if (!string.IsNullOrEmpty(tenancyInfo[i].TenancyProcess?.RegistrationNum))
                        {
                            tenancyRequisits = "№ " + tenancyInfo[i].TenancyProcess.RegistrationNum + " " +
                                (tenancyInfo[i].TenancyProcess.RegistrationDate.HasValue ? "от " + tenancyInfo[i].TenancyProcess.RegistrationDate.Value.ToString("dd.MM.yyyy") : "");
                        }
                        else
                        if (tenancyInfo[i].TenancyProcess?.IdProcess != null)
                        {
                            tenancyRequisits = "Рег. №: " + tenancyInfo[i].TenancyProcess?.IdProcess;
                        }

                        var tenant = tenancyInfo[i].Tenant;
                        var tenantSnp = "";
                        var tenantSnpShort = "";
                        if (tenant != null)
                        {
                            tenantSnp += tenant.Surname + " " + tenant.Name + (string.IsNullOrEmpty(tenant.Patronymic) ? "" : " " + tenant.Patronymic);
                            tenantSnpShort += tenant.Surname + " " + tenant.Name.Substring(0, 1) + "." + (string.IsNullOrEmpty(tenant.Patronymic) ? "" : " " + tenant.Patronymic.Substring(0, 1) + ".");
                        }
                        else
                        {
                            tenantSnp = tenantSnpShort = "без нанимателя";
                        }

                        var tenancyTitle = tenancyRequisits;


                        if (idProcess != null)
                        {
                            tenancyTitle += ", " + tenantSnp;
                            tenancyRequisits += ", " + tenantSnpShort;
                        }
                        var isArchiveTenancy = tenancyInfo[i].TenancyProcess?.AnnualDate != null;

                        <div class="form-row rr-tenancy-info @(isArchiveTenancy ? "rr-tenancy-info-archive" : "")" style="@(isArchiveTenancy ? "display: none" : "")">
                            <input type="hidden" value="@(tenancyInfo[i].AccountAssoc != null ? tenancyInfo[i].AccountAssoc.IdAssoc : 0)" id="IdAssoc_@i" name="AccountsTenancyProcessesAssoc[@i].IdAssoc" />
                            <input type="hidden" value="@idProcess" id="IdProcess_@i" name="AccountsTenancyProcessesAssoc[@i].IdProcess" />
                            <div class="form-group col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-success dropdown-toggle @(idProcess != null ? "" : "disabled")" type="button" title="Процесс найма" aria-label="Процесс найма" id="HomesBtn_@i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="oi oi-home"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="HomesBtn_@i">
                                            <a class="dropdown-item" asp-action="Details" asp-controller="TenancyProcesses" asp-route-idProcess="@idProcess">Процесс найма</a>
                                        </div>
                                    </div>
                                    <input name="TenancyRequisits[@i]" id="TenancyRequisits_@i" type="text" value="@tenancyRequisits" class="form-control" title="@tenancyTitle" disabled />
                                </div>
                            </div>
                            <div class="form-group col-1">
                                <input type="text" maxlength="6" value="@(tenancyInfo[i].AccountAssoc != null ? tenancyInfo[i].AccountAssoc.Fraction : 0.0000m)" class="form-control input-fraction" id="Fraction_@i" name="AccountsTenancyProcessesAssoc[@i].Fraction" title="Доля" />
                            </div>

                            @{
                                if (tenancyInfo[i].RentObjects == null || !tenancyInfo[i].RentObjects.Any())
                                {
                                    tenancyInfo[i].RentObjects = new List<TenancyRentObject> { new TenancyRentObject() };
                                }
                            }
                            @for (var j = 0; j < tenancyInfo[i].RentObjects.Count; j++)
                            {
                                var rentObject = tenancyInfo[i].RentObjects[j].Address;

                                var idBuilding = (string)null;
                                var idPremise = (string)null;
                                if (rentObject != null)
                                {
                                    switch (rentObject.AddressType)
                                    {
                                        case AddressTypes.Building:
                                            idBuilding = rentObject?.Id;
                                            break;
                                        case AddressTypes.Premise:
                                            idBuilding = rentObject?.IdParents?["Building"];
                                            idPremise = rentObject?.Id;
                                            break;
                                        case AddressTypes.SubPremise:
                                            idBuilding = rentObject?.IdParents?["Building"];
                                            idPremise = rentObject?.IdParents?["Premise"];
                                            break;
                                    }
                                }
                                var address = rentObject?.Text;
                                if (address != null)
                                {
                                    address = address.Replace("жилрайон.", "ж.р.");
                                }

                                <div class="form-group rr-tenancy-address col-6 @(j == 0 ? "" : "offset-6")">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-success dropdown-toggle @(idBuilding != null ? "" : "disabled")" type="button" title="Здания и помещения" aria-label="Здания и помещения" id="HomesBtn_@i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="oi oi-home"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="HomesBtn_@i">
                                                <a class="dropdown-item" asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@idBuilding">Здание</a>
                                                <a class="dropdown-item @(idPremise == null ? "d-none" : "")" asp-action="Details" asp-controller="Premises" asp-route-idPremises="@idPremise">Помещение</a>
                                            </div>
                                        </div>
                                        <input name="TenancyAddress[@i]" id="TenancyAddress_@i" type="text" value="@address" class="form-control" title="@address" disabled />
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>

            @if (tenancyInfo.Any(r => r.TenancyProcess != null && r.TenancyProcess.AnnualDate != null))
            {
                <div class="text-center mt-1 mb-1">
                    <a class="text-dark rr-tenancy-info-archive-btn" title="Архив наймов" href="#"><span class="oi oi-chevron-bottom"></span></a>
                </div>
            }

            <div class="form-row">
                <div class="form-group col-12 mb-2">
                    <div><b>Адрес:</b> @ViewBag.Address</div>
                    <div>
                        <b>Лицевые счета: </b>
                        @{
                            var states = (List<KumiAccountState>)ViewBag.States;
                        }
                        @foreach (var account in Model)
                        {
                            var accountState = states.FirstOrDefault(r => r.IdState == account.IdState).State;
                            var stateClass = "";
                            switch (account.IdState)
                            {
                                case 1:
                                    stateClass = "text-success";
                                    break;
                                case 2:
                                    stateClass = "text-danger";
                                    break;
                                case 3:
                                case 4:
                                    stateClass = "text-warning";
                                    break;
                            }
                            <span>@account.Account <sup class="@stateClass" title="@accountState">@accountState.Substring(0, 1)</sup> <a asp-controller="KumiAccounts" asp-action="Details" target="_blank" asp-route-idAccount="@account.IdAccount"><span class="oi oi-eye"></span></a></span>
                        }
                    </div>
                </div>
                <div class="form-group col-12 mb-2">
                    <label class="rr-account-label mb-1" for="Description">Примечание</label>
                    @* Кнопки редактирования примечания *@
                    <a class="btn btn-outline float-right ml-2 p-0" id="DetailsByAddressEditDescription" style="vertical-align: top" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-outline text-danger ml-2 float-right p-0 d-none" id="DetailsByAddressCanceDescription" style="vertical-align: top" href="#"><span class="oi oi-ban"></span></a>
                    <a class="btn btn-outline text-success ml-2 float-right p-0 d-none" id="DetailsByAddressSaveDescription" style="vertical-align: top" href="#"><span class="oi oi-check"></span></a>
                    @{
                        var descGroups = Model.GroupBy(r => r.Description);
                        var description = "";
                        if (descGroups.Count() == 1)
                        {
                            description = descGroups.First().First().Description;
                        }
                        else
                        {
                            foreach (var group in descGroups)
                            {
                                description += group.Aggregate("", (acc, v) => acc + ", " + v.Account).Trim(new char[] { ' ', ',' }) + ": " + (string.IsNullOrWhiteSpace(group.Key) ? "н\\а" : group.Key);
                                if (!string.IsNullOrEmpty(description))
                                {
                                    description += "\n";
                                }
                            }
                            description = description.Trim();
                        }
                    }
                    <textarea name="Description" title="Примечание к лицевомым счетам" class="form-control" maxlength="1024">@description</textarea>
                </div>
            </div>
        </form>
        <div class="card mt-2">
            <div class="card-header d-flex justify-content-between flex-column flex-md-row pt-2 pb-2">
                <h3>Начисления</h3>

                @if (hasDgiCharges || hasPadunCharges || hasPkkCharges)
                {
                    <div class="btn-group btn-group-toggle rr-tenancy-type-selectors mb-2 mb-md-0" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="ChargesSelector" id="AllChargesSelector" checked> Всего
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="ChargesSelector" id="TenancySelector"> Найм
                        </label>
                        @if (hasDgiCharges)
                        {
                            <label class="btn btn-secondary">
                                <input type="radio" name="ChargesSelector" id="DgiSelector"> ДГИ
                            </label>
                        }
                        @if (hasPkkCharges)
                        {
                            <label class="btn btn-secondary">
                                <input type="radio" name="ChargesSelector" id="PkkSelector"> ПКК
                            </label>
                        }
                        @if (hasPadunCharges)
                        {
                            <label class="btn btn-secondary">
                                <input type="radio" name="ChargesSelector" id="PadunSelector"> Падун
                            </label>
                        }
                    </div>
                }

                <div class="btn-group" role="group">
                    <a href="#" id="CopyChargesToClipboard" class="form-control btn btn-dark">
                        <span style="top: 2px;" class="oi oi-clipboard"></span>
                    </a>
                    <a href="#" data-for="Charges" class="form-control btn btn-primary account-toggler" title="Развернуть панель сведений о начислениях" style="font-weight:bold;">∧</a>
                </div>
            </div>
            <div class="card-body p-0" id="Charges">
                @if (Model.SelectMany(r => r.Charges).Any())
                {
                    ViewBag.ForecastCalcDate = (DateTime?)null;
                    ViewBag.CurrentPeriodCalced = true;

                    <partial name="AccountChargesTable" model="@(new KumiAccountChargesVM {
                        Charges = Model.SelectMany(r => r.Charges),
                        Corrections = Model.SelectMany(r => r.Corrections) })"/>
                }
                else
                {
                    <div class="text-center rr-list-group-item-empty mt-2 mb-2">
                        <i>Начисления отсутствуют</i>
                    </div>
                }
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header d-flex justify-content-between pt-2 pb-2">
                <h3>Информация об исковых работах</h3>
                <div class="btn-group" role="group">
                    <a href="#" data-for="ClaimsInfo" class="form-control btn btn-primary account-toggler" title="Развернуть панель сведений о претензионно-исковых работах" style="font-weight:bold;">∧</a>
                </div>
            </div>

            <div class="card-body p-0" id="ClaimsInfo">
                @if (Model.SelectMany(r => r.Claims).Any())
                {
                    <partial name="AccountClaimsTable" model="Model.SelectMany(r => r.Claims)" />
                }
                else
                {
                    <div class="text-center rr-list-group-item-empty mt-2 mb-2">
                        <i>Исковые работы отсутствуют</i>
                    </div>
                }
            </div>
        </div>
    </div>
</div>