@model RegistryWeb.ViewModel.Forma2VM;
@{
    ViewData["Title"] = "Отчет по форме 2 и 3";
    var text = "(Зданий всего: " + Model.GroupPremises.Count() + " | Помещений всего: " + Model.GroupPremises.Sum(gp => gp.Count()) + ")";
}
@section scripts
    {
    <script src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js" asp-append-version="true"></script>
    <script src="~/js/forma1and2and3.js" asp-append-version="true"></script>
}
@section styles
    {
    <link rel="stylesheet" href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.css" runat="server" />
}
<h2 class="ml-2">@ViewData["Title"] @text</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Адрес</th>
            <th width="120px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupPremise in Model.GroupPremises)
        {
            <tr class="trBuilding" data-checked="false" data-idbuilding="@groupPremise.Key" style="cursor: pointer;">
                <td class="align-middle" colspan="2">
                    <a asp-controller="Buildings" asp-action="Details" asp-route-idBuilding="@groupPremise.Key">@groupPremise.ElementAt(0).IdBuildingNavigation.GetAddress()</a>
                    (@groupPremise.Count())
                </td>
                <td>
                    <div class="btn-group" style="height: 30px;">
                        <button class="btn btn-success oi oi-document multiForma2" type="button" data-idbuilding="@groupPremise.Key" title="Скачать отчет по всем помещениям здания по форме 2">2</button>
                        <button class="btn btn-success oi oi-document multiForma3" type="button" data-idbuilding="@groupPremise.Key" title="Скачать отчет по всем помещениям здания по форме 3">3</button>
                    </div>
                </td>
            </tr>
            @foreach (var premise in groupPremise)
            {
                <tr class="trPremise" data-idbuilding="@groupPremise.Key" data-idpremise="@premise.IdPremises">
                    <td  width="70px">
                        @if (Model.PremisesIdOwnerProcesses.Keys.Contains(premise.IdPremises))
                        {
                            <a class="btn btn-success oi oi-aperture" title="Процесс собственности @Model.PremisesIdOwnerProcesses[premise.IdPremises]"
                               asp-action="Details" asp-controller="OwnerProcesses" asp-route-idProcess="@Model.PremisesIdOwnerProcesses[premise.IdPremises]"></a>
                        }
                    </td>
                    <td>
                        <a asp-controller="Premises" asp-action="Details" asp-route-idPremises="@premise.IdPremises">@premise.GetAddress()</a>
                    </td>
                    <td class="align-middle">
                        <div class="btn-group" style="height: 30px;">
                            <a class="btn btn-success oi oi-document" title="Скачать отчет по форме 2"
                               asp-action="GetForma2" asp-controller="OwnerReports" asp-route-idPremise="@premise.IdPremises">2</a>
                            <a class="btn btn-success oi oi-document" title="Скачать отчет по форме 2"
                               asp-action="GetForma3" asp-controller="OwnerReports" asp-route-idPremise="@premise.IdPremises">3</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>