@model RegistryWeb.ViewModel.BuildingDemolitionInfoVM;
@{
    var demolishedPlanDate = Model.DemolishedPlanDate.HasValue ? Model.DemolishedPlanDate.Value.ToString("yyyy-MM-dd") : "";
    var demolishedFactDate = Model.DemolishedFactDate.HasValue ? Model.DemolishedFactDate.Value.ToString("yyyy-MM-dd") : "";
    var dateOwnerEmergency = Model.DateOwnerEmergency.HasValue ? Model.DateOwnerEmergency.Value.ToString("yyyy-MM-dd") : "";
    var demandForDemolishingDeliveryDate = Model.DemandForDemolishingDeliveryDate.HasValue ? Model.DemandForDemolishingDeliveryDate.Value.ToString("yyyy-MM-dd") : "";
}
<form id="buildingDemolitionInfoForm" data-action="@ViewBag.Action" data-idbuilding="@Model.IdBuilding" data-caneditextinfo="@ViewBag.CanEditDemolishingInfo">
    <script src="~/js/buildingDemolitionInfo.common.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/buildingDemolitionInfo.css" asp-append-version="true" />
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Информация о сносе</h3>
            <div>
                <a href="#" id="buildingDemolitionInfoToggle" class="form-control btn btn-primary" title="Развернуть информацию о сносе" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <div class="card-body toggle-hide" id="buildingDemolitionInfoBlock">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="@Model.DemolishedPlanDate">Планируемая дата сноса</label>
                    <input type="date" id="demolishPlanDate" class="form-control" value="@demolishedPlanDate" title="Планируемая дата сноса">
                </div>
                <div class="form-group col-md-6">
                    <label for="@Model.DemolishedFactDate">Фактическая дата сноса</label>
                    <input type="date" id="demolishFactDate" class="form-control" value="@demolishedFactDate" title="Фактическая дата сноса">
                </div>
                <div class="form-group col-md-6">
                    <label class="rr-building-label" for="@Model.DateOwnerEmergency">Срок принятия собственниками решения о сносе</label>
                    <input type="date" id="dateOwnerEmergency" class="form-control" value="@dateOwnerEmergency" title="Срок принятия собственниками решения о сносе">
                </div>
                <div class="form-group col-md-6">
                    <label for="@Model.DemandForDemolishingDeliveryDate">Дата вручения требования о сносе</label>
                    <input type="date" id="demandForDemolishingDeliveryDate" class="form-control" value="@demandForDemolishingDeliveryDate" title="Дата вручения требования о сносе">
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle">Номер</th>
                        <th class="align-middle">Дата</th>
                        <th class="align-middle">Наименование</th>
                        <th class="align-middle">Тип документа</th>
                        <th class="align-middle">Файл</th>
                        @if ((ViewBag.Action == "Edit" || ViewBag.Action == "Create") && ViewBag.CanEditDemolishingInfo)
                        {
                            <th class="align-middle" width="110">
                                <a href="#" id="buildingDemolitionActFileAdd" class="form-control btn btn-success w-auto" title="Добавить документ">&#10010;</a>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody id="buildingDemolitionActFiles">
                    @foreach (var item in Model.BuildingDemolitionActFiles)
                    {
                    <tr class="building-demolition-act-file" data-idbuildingdemolitionactfile="@item.Id">
                        <td class="align-middle">
                            <input type="text" class="form-control field-building-demolition-act-file" value="@item.Number" title="@item.Number">
                        </td>
                        <td class="align-middle">
                            <input type="date" class="form-control field-building-demolition-act-file" value="@(item.Date.HasValue ? item.Date.Value.ToString("yyyy-MM-dd") : "")" title="@(item.Date.HasValue ? item.Date.Value.ToString("yyyy-MM-dd") : "")">
                        </td>
                        <td class="align-middle"><input type="text" class="form-control field-building-demolition-act-file" value="@item.Name" title="@item.Name"></td>
                        <td class="align-middle">
                            <select class="form-control field-building-demolition-act-file" title="@item.ActTypeDocument.Name"
                                    asp-items="@{new SelectList(ViewBag.ActTypeDocuments, "Id", "Name", item.IdActTypeDocument)}"></select>
                        </td>
                        <td>
                            @{
                                var originalName = "";
                                var idFile = ""; //значение null для пустого файла
                                var id = "actFile_" + Guid.NewGuid().ToString();
                                if (item.ActFile != null)
                                {
                                    idFile = item.ActFile.IdFile.ToString();
                                    id = "actFile_" + idFile;
                                    originalName = item.ActFile.OriginalName;
                                }
                            }
                            <div class="act-file-block" data-id="@idFile">
                                @if ((ViewBag.Action == "Edit" || ViewBag.Action == "Create"))
                                { 
                                    <input type="file" id="@id" class="act-file-upload" />
                                    <label for="@id" class="btn btn-success act-file-add">
                                        <span class="oi oi-paperclip"></span>
                                    </label>
                                }
                                    <div class="act-file" title="@originalName">
                                        <a href="#" class="btn-link act-file-link">@originalName</a>
                                        @if ((ViewBag.Action == "Edit" || ViewBag.Action == "Create"))
                                        {
                                            <a href="#" class="badge btn btn-danger">&times;</a>
                                        }
                                    </div>
                            </div>
                        </td>
                        @if ((ViewBag.Action == "Edit" || ViewBag.Action == "Create") && ViewBag.CanEditDemolishingInfo)
                        {
                            <td class="align-middle">
                                <a href="#" class="btn btn-danger act-file-record-remove" title="Удалить" aria-label="Удалить">
                                    <span class="oi oi-x"></span>
                                </a>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>

            @if (ViewBag.Action == "Edit" && ViewBag.CanEditDemolishingInfo)
            {
                <div class="form-group row d-flex justify-content-center mb-0">
                    <div class="col-auto">
                        <a href="#" id="buildingDemolitionInfoEdit" class="form-control btn btn-success" title="Редактировать">Редактирвоать</a>
                    </div>
                    <div class="col-auto">
                        <div class="btn-group" role="group">
                            <a href="#" id="buildingDemolitionInfoSave" class="form-control btn btn-success" title="Сохранить">Сохранить</a>
                            <a href="#" id="buildingDemolitionInfoCancel" class="form-control btn btn-primary" title="Отменить">Отменить</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>