@model RegistryWeb.ViewModel.BuildingDemolitionInfoVM;
@{
    var demolishPlanDate = Model.DemolishPlanDate.HasValue ? Model.DemolishPlanDate.Value.ToString("yyyy-MM-dd") : "";
}
<form id="buildingDemolitionInfoForm">
    <script src="~/js/buildingDemolitionInfo.common.js" asp-append-version="true"></script>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Информация о сносе</h3>
            <div>
                <a href="#" id="buildingDemolitionInfoToggle" class="form-control btn btn-primary" title="Развернуть информацию о сносе" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <div class="card-body" id="buildingDemolitionInfoBlock">
            <div class="form-group row">
                <label for="@Model.DemolishPlanDate" class="col-auto col-form-label">Планируемая дата сноса</label>
                <div class="col-auto">
                    <input type="date" id="demolishPlanDate" class="form-control" value="@demolishPlanDate" title="@demolishPlanDate">
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle">Номер</th>
                        <th class="align-middle">Дата</th>
                        <th class="align-middle">Наименование</th>
                        <th class="align-middle">Тип документа</th>
                        <th class="align-middle">Файл</th>
                        @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                        {
                            <th class="align-middle" width="110">
                                <a href="#" id="buildingDemolitionActFileAdd" class="form-control btn btn-success w-auto" title="Добавить документ">&#10010;</a>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody id="buildingDemolitionActFiles" data-id="@ViewBag.IdBuilding">
                    @foreach (var item in Model.BuildingDemolitionActFiles)
                    {
                        <tr class="building-demolition-act-file" data-idbuildingdemolitionactfile="@item.Id">
                            <td class="align-middle">
                                <input type="text" class="form-control field-building-demolition-act-file" value="@item.Number" title="@item.Number">
                            </td>
                            <td class="align-middle">
                                <input type="date" class="form-control field-building-demolition-act-file" value="@item.Date.ToString("yyyy-MM-dd")" title="@item.Date.ToString("yyyy-MM-dd")">
                            </td>
                            <td class="align-middle"><input type="text" class="form-control field-building-demolition-act-file" value="@item.Name" title="@item.Name"></td>
                            <td class="align-middle">
                                <select class="form-control field-building-demolition-act-file" title="@item.ActTypeDocument.Name"
                                        asp-items="@{new SelectList(ViewBag.ActTypeDocuments, "Id", "Name", item.IdActTypeDocument)}"></select>
                            </td>
                            <td></td>
                            @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                            {
                                <td class="align-middle">
                                    <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"></a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
            {
                <div class="form-group row d-flex justify-content-center">
                    <div class="col-auto">
                        <a href="#" id="buildingDemolitionInfoSave" class="form-control btn btn-success" title="Сохранить">Сохранить</a>
                    </div>
                    <div class="col-auto">
                        <a href="#" id="buildingDemolitionInfoCancel" class="form-control btn btn-primary" title="Отменить">Отменить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</form>