@using RegistryWeb.Extensions;
@using RegistryWeb.Enums;
@model RegistryServices.ViewModel.RegistryObjects.ReestrEmergencyPremisesVM;
@{
    Context.Session.Set("Controller", "ReestrEmergencyPremises");
    Context.Session.Set("OrderOptions", Model.OrderOptions);
    Context.Session.Set("FilterOptions", Model.FilterOptions);
    Context.Session.Set("PageOptions", Model.PageOptions);
}
<table class="table table-bordered" id="reestr">
    <thead>
        <tr>
            <th width="380px" class="align-middle">Адрес</th>
            <th width="120px" class="align-middle">Форма собственности</th>
            <th width="300px" class="align-middle">Наниматель / Собственник</th>
            <th class="align-middle">Количество комнат</th>
            <th class="align-middle">Общая S помещений</th>
            <th class="align-middle">Жилая S помещенийй</th>
            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reestr)
        {
            <tr>
                <td class="align-middle">@Html.Raw(item.Addresses.Aggregate((x, y) => x + ";<br />" + y))</td>
                <td class="align-middle">@item.Type.GetRuName()</td>
                <td class="align-middle">@Html.Raw(@item.Persons.Split(',').Aggregate((x, y) => x + ";<br />" + y))</td>
                <td class="align-middle">@item.NumRooms</td>
                <td class="align-middle">@item.TotalArea</td>
                <td class="align-middle">@item.LivingArea</td>
                <td class="align-middle">
                    @if (@item.Type == ProcessOwnershipTypeEnum.Private)
                    {
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-action="Details" asp-controller="OwnerProcesses" asp-route-idProcess="@item.Id"></a>
                    }
                    @if (@item.Type == ProcessOwnershipTypeEnum.Municipal)
                    {
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-action="Details" asp-controller="TenancyProcesses" asp-route-idProcess="@item.Id"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>