@model RegistryWeb.ViewModel.ReestrEmergencyPremisesVM;
@{
    ViewData["Title"] = "Реестр жилых и (или) не жилых помещений МКД, признанных аварийными на " + DateTime.Now.ToString("dd.MM.yyyy");
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}

<h2>@ViewData["Title"] @text</h2>

@Html.Partial("~/Views/OwnerReports/ReestrEmergencyPremises/StatisticDownload.cshtml", Model)
@Html.Partial("~/Views/OwnerReports/ReestrEmergencyPremises/Filter.cshtml", Model)
@Html.Partial("~/Views/OwnerReports/ReestrEmergencyPremises/DataTable.cshtml", Model)
<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

@section Scripts {
    <script src="~/js/reestrEmergencyPremises.index.js" asp-append-version="true"></script>
}