<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ЖФ</title>
    <link rel="shortcut icon" href="~/icon.ico" type="image/x-icon">
    <link href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/open-iconic-master/font/css/open-iconic-bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/autocomplete.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

    <script type="text/javascript">
        if ((window.navigator.userAgent.indexOf("MSIE ") > 0 || window.navigator.userAgent.indexOf("Trident") > 0) &&
            location.pathname != "/Home/UnsupportedBrowser") {
            location.href = "/Home/UnsupportedBrowser"
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-input-spinner/src/bootstrap-input-spinner.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/lib/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownObjects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Жилые объекты</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownObjects">
                            <a class="dropdown-item" asp-area="" asp-controller="Buildings" asp-action="Index">Здания</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Premises" asp-action="Index">Помещения</a>
                            <a class="dropdown-item" href="#" id="areaAvgCostModalBtn">Цена вторичного жилья</a>
                            <a class="dropdown-item" asp-area="" asp-controller="RegistryObjectsReports" asp-action="Index">Отчеты</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOwners" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Собственность</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOwners">
                            <a class="dropdown-item" asp-area="" asp-controller="OwnerProcesses" asp-action="Index">Процессы собственности</a>
                            <a class="dropdown-item" asp-area="" asp-controller="OwnerReasonTypes" asp-action="Index">Типы оснований</a>
                            <a class="dropdown-item" asp-area="" asp-controller="OwnerReports" asp-action="Index">Отчеты</a>
                            @*<a class="dropdown-item" asp-area="" asp-controller="ReformaGKH" asp-action="Index">Реформа ЖКХ</a>*@
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTenancies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Найм жилья</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTenancies">
                            <a class="dropdown-item" asp-area="" asp-controller="TenancyProcesses" asp-action="Index">Процессы найма</a>
                            <a class="dropdown-item" asp-area="" asp-controller="DocumentIssued" asp-action="Index">Паспортные столы</a>
                            <a class="dropdown-item" asp-area="" asp-controller="TenancyObjectsReports" asp-action="Index">Отчеты</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClaims" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Исковая работа и ЛС</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownClaims">
                            <a class="dropdown-item" asp-area="" asp-controller="PaymentAccounts" asp-action="Index">Лицевые счета БКС</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Claims" asp-action="Index">Претензионно-исковые работы</a>
                            <a class="dropdown-item" asp-area="" asp-controller="ClaimReports" asp-action="Index">Отчеты</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ml-auto align-middle">
                @await Component.InvokeAsync("DatabaseNameComponent")
            </div>
            <div class="ml-auto align-middle">
                <a asp-controller="PersonalSetting" asp-action="Details" class="btn btn-link">@User.Identity.Name</a>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
