@model RegistryWeb.ViewModel.LitigationVM;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;

@{
    var canEdit = ((bool?)ViewBag.CanEditLitigationInfo) ?? true;
    var litigationTypeClass = "col-md-10";
    if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
    {
        litigationTypeClass = "col-md-12";
    }
}

<li class="list-group-item">
    <input type="hidden" value="@Model.IdLitigation" name="IdLitigation" />
    <div class="form-row">
        <div class="form-group col-sm-6 col-md-3 col-lg-2">
            <label>Номер документа</label>
            <input type="text" maxlength="50" class="form-control" disabled value="@Model.Number" name="LitigationNum" title="Номер документа">
        </div>
        <div class="form-group col-sm-6 col-md-3 col-lg-2">
            <label>Дата документа</label>
            <input type="date" class="form-control" disabled value="@(Model.Date.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : Model.Date.ToString("yyyy-MM-dd"))" name="LitigationDate" title="Дата документа">
        </div>
        <div class="form-group col-md-6 col-lg-8">
            <label>Наименование и образ документа</label>
            <div class="input-group">
                <input type="text" maxlength="255" class="form-control" disabled value="@Model.Description" name="LitigationDescription" title="Наименование">
                <input type="file" name="LitigationFile" style="position: absolute; left: -9999px; width: 1px; height: 1px" />
                <input type="hidden" name="LitigationFileRemove" value="false" />
                @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                {
                <div class="input-group-append">
                    <a class="btn btn-success rr-litigation-file-download @(Model.FileOriginName == null ? "disabled" : "")"
                       href="/Litigations/DownloadFile/?idLitigation=@Model.IdLitigation" title="Скачать образ документа" aria-label="Скачать образ документа"><span class="oi oi-data-transfer-download"></span></a>
                </div>
                }
                @if (ViewBag.Action == ActionTypeEnum.Edit)
                {
                <div class="input-group-append rr-litigation-file-buttons">
                    <a class="btn btn-danger rr-litigation-file-remove" style="display: none"
                       href="#" title="Удалить образ документа" aria-label="Удалить образ документа"><span class="oi oi-trash"></span></a>
                    <a class="btn btn-success rr-litigation-file-attach" style="display: none"
                       href="#" title="Прикрепить образ документа" aria-label="Прикрепить образ документа"><span class="oi oi-paperclip"></span></a>
                    <a class="btn btn-success rr-litigation-file-download @(Model.FileOriginName == null ? "disabled" : "")"
                       href="/Litigations/DownloadFile/?idLitigation=@Model.IdLitigation" title="Скачать образ документа" aria-label="Скачать образ документа"><span class="oi oi-data-transfer-download"></span></a>
                </div>
                }
                @if (ViewBag.Action == ActionTypeEnum.Create)
                {
                <div class="input-group-append rr-litigation-file-buttons">
                    <a class="btn btn-danger rr-litigation-file-remove" style="display: none"
                       href="#" title="Удалить образ документа" aria-label="Удалить образ документа"><span class="oi oi-x"></span></a>
                    <a class="btn btn-success rr-litigation-file-attach" style="display: none"
                       href="#" title="Прикрепить образ документа" aria-label="Прикрепить образ документа"><span class="oi oi-paperclip"></span></a>
                </div>
                }
            </div>
        </div>
        <div class="form-group @litigationTypeClass">
            <label>Тип документа</label>
            <select disabled class="form-control field-litigation selectpicker" title="Тип документа"
                    asp-items="@{new SelectList(ViewBag.LitigationTypes, "IdLitigationType", "LitigationTypeName",Model.IdLitigationType)}" name="IdLitigationType">
                <option></option>
            </select>
        </div>
        @if (ViewBag.Action == ActionTypeEnum.Edit)
        {
        <div class="text-md-right text-center col-md-2 rr-litigation-edit-buttons">
            <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                <a class="btn btn-success litigation-save-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                <a class="btn btn-danger litigation-cancel-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
            </div>
            <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                <a class="btn btn-primary litigation-edit-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                <a class="btn btn-danger litigation-delete-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
            </div>
        </div>
        }
        @if (ViewBag.Action == ActionTypeEnum.Create)
        {
        <a class="litigation-edit-btn" style="display: none"></a>
        <div class="text-md-right text-center col-md-2 rr-litigation-edit-buttons">
            <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                <a class="btn btn-danger litigation-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
            </div>
        </div>
        }
    </div>
</li>
