@model RegistryWeb.ViewModel.OwnershipRightVM;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryDb.Models.Entities;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;
@using RegistryWeb.Enums;

@{ 
    var canEdit = ((bool?)ViewBag.CanEditBaseInfo) ?? true;
    var attachment = Model.Address.AddressType == AddressTypes.Premise ? "Помещение" : "Здание";
    var ownershipRightTypeClass = "col-md-9 col-lg-7";
    if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
    {
        if (ViewBag.Address.AddressType == AddressTypes.Premise && ViewBag.Address.AddressType != Model.Address.AddressType)
        {
            ownershipRightTypeClass = "col-md-9 col-lg-9";
        } else
        if (ViewBag.Address.AddressType == AddressTypes.Building)
        {
            ownershipRightTypeClass = "col-md-12 col-lg-10";
        }
    }
    if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
    {
        if (ViewBag.Address.AddressType == AddressTypes.Premise)
        {
            ownershipRightTypeClass = "col-md-9 col-lg-9";
        } else
        {
            ownershipRightTypeClass = "col-md-12 col-lg-12";
        }
    }
}

<li class="list-group-item">
    <input type="hidden" value="@Model.IdOwnershipRight" name="IdOwnershipRight" />
    <div class="form-row">
        <div class="form-group col-sm-6 col-md-3 mb-2">
            <label class="mb-1">Номер документа</label>
            <input type="text" maxlength="20" class="form-control" disabled value="@Model.Number" name="OwnershipRightNum" title="Номер документа">
        </div>
        <div class="form-group col-sm-6 col-md-3 mb-2">
            <label class="mb-1">Дата документа</label>
            <input type="date" class="form-control" disabled value="@(Model.Date.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : Model.Date.ToString("yyyy-MM-dd"))" name="OwnershipRightDate" title="Дата документа">
        </div>
        <div class="form-group col-md-6 mb-2">
            <label class="mb-1">Наименование и образ документа</label>
            <div class="input-group">
                <input type="text" maxlength="255" class="form-control" disabled value="@Model.Description" name="OwnershipRightDescription" title="Наименование">
                <input type="file" name="OwnershipRightFile" style="position: absolute; left: -9999px; width: 1px; height: 1px" />
                <input type="hidden" name="OwnershipRightFileRemove" value="false" />
                @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                {
                    <div class="input-group-append">
                        <a class="btn btn-success rr-ownership-right-file-download @(Model.FileOriginName == null ? "disabled" : "")"
                           href="/OwnershipRights/DownloadFile/?idOwnershipRight=@Model.IdOwnershipRight" title="Скачать образ документа" aria-label="Скачать образ документа"><span class="oi oi-data-transfer-download"></span></a>
                    </div>
                }
                @if (ViewBag.Action == ActionTypeEnum.Edit)
                {
                    <div class="input-group-append rr-ownership-right-file-buttons">
                        <a class="btn btn-danger rr-ownership-right-file-remove" style="display: none"
                           href="#" title="Удалить образ документа" aria-label="Удалить образ документа"><span class="oi oi-trash"></span></a>
                        <a class="btn btn-success rr-ownership-right-file-attach" style="display: none"
                           href="#" title="Прикрепить образ документа" aria-label="Прикрепить образ документа"><span class="oi oi-paperclip"></span></a>
                        <a class="btn btn-success rr-ownership-right-file-download @(Model.FileOriginName == null ? "disabled" : "")"
                           href="/OwnershipRights/DownloadFile/?idOwnershipRight=@Model.IdOwnershipRight" title="Скачать образ документа" aria-label="Скачать образ документа"><span class="oi oi-data-transfer-download"></span></a>
                    </div>
                }
                @if (ViewBag.Action == ActionTypeEnum.Create)
                {
                    <div class="input-group-append rr-ownership-right-file-buttons">
                        <a class="btn btn-danger rr-ownership-right-file-remove" style="display: none"
                           href="#" title="Удалить образ документа" aria-label="Удалить образ документа"><span class="oi oi-x"></span></a>
                        <a class="btn btn-success rr-ownership-right-file-attach" style="display: none"
                           href="#" title="Прикрепить образ документа" aria-label="Прикрепить образ документа"><span class="oi oi-paperclip"></span></a>
                    </div>
                }
            </div>
        </div>
        <div class="form-group col-md-6 d-none">
            <label>Планируемая дата переселения</label>
            <input type="date" class="form-control" disabled value="@(Model.ResettlePlanDate != null ? Model.ResettlePlanDate.Value.ToString("yyyy-MM-dd") : "")" name="ResettlePlanDate" title="Планируемая дата переселения">
        </div>
        <div class="form-group col-md-6 d-none">
            <label>Планируемая дата сноса</label>
            <input type="date" class="form-control" disabled value="@(Model.DemolishPlanDate != null ? Model.DemolishPlanDate.Value.ToString("yyyy-MM-dd") : "")" name="DemolishPlanDate" title="Планируемая дата сноса">
        </div>
        @if (ViewBag.Address.AddressType == AddressTypes.Premise)
        {
            <div class="form-group col-md-3 mb-2">
                <label class="mb-1">Принадлежность</label>

                <input type="text" maxlength="255" class="form-control" disabled value="@attachment" name="OwnershipRightAttachment" title="Принадлежность">
            </div>
        }
        <div class="form-group mb-2 @ownershipRightTypeClass">
            <label class="mb-1">Тип документа</label>
            <select disabled class="form-control field-ownership-right selectpicker" title="Тип документа"
                    asp-items="@{new SelectList(ViewBag.OwnershipRightTypes, "IdOwnershipRightType", "OwnershipRightTypeName",Model.IdOwnershipRightType)}" name="IdOwnershipRightType">
                <option></option>
            </select>
        </div>
        @if (ViewBag.Action == ActionTypeEnum.Edit && ViewBag.Address.AddressType == Model.Address.AddressType)
        {
            <div class="text-lg-right text-center col-lg-2 rr-ownership-right-edit-buttons">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-success ownership-right-save-btn" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                    <a class="btn btn-danger ownership-right-cancel-btn" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
                </div>
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                    <a class="btn btn-primary ownership-right-edit-btn" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger ownership-right-delete-btn" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == ActionTypeEnum.Create)
        {
            <a class="ownership-right-edit-btn" style="display: none"></a>
            <div class="text-lg-right text-center col-lg-2 rr-ownership-right-edit-buttons">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-danger ownership-right-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                </div>
            </div>
        }
    </div>
</li>
