@model RegistryWeb.ViewModel.ResettleInfoVM;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;

@{
    var canEdit = ((bool?)ViewBag.CanEditResettleInfo) ?? true;
    var ownershipRightTypeClass = "col-md-6 col-lg-4";
    if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
    {
        ownershipRightTypeClass = "col-md-6";
    }
}

<li class="list-group-item">
    <input type="hidden" value="@Model.IdResettleInfo" name="IdResettleInfo" />
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Дата переселения</label>
            <input type="date" class="form-control" disabled value="@(Model.ResettleDate == null ? "" : Model.ResettleDate.Value.ToString("yyyy-MM-dd"))" name="ResettleDate" title="Планируемая дата переселения">
        </div>
        <div class="form-group col-md-3">
            <label>Этап переселения</label>
            <select disabled class="form-control field-resettle selectpicker" title="Этап переселения"
                    asp-items="@{new SelectList(ViewBag.ResettleStages, "IdResettleStage", "StageName",Model.IdResettleStage)}" name="IdResettleStage">
                <option></option>
            </select>
        </div>
        <div class="form-group @ownershipRightTypeClass">
            <label>Переселение из</label>
            @{
                var subPremisesIds = Model.ResettleInfoSubPremisesFrom.Select(r => r.IdSubPremise);
                if (!subPremisesIds.Any())
                {
                    subPremisesIds = new List<int>() { 0 };
                }
            }
            <select disabled multiple class="form-control field-resettle selectpicker" name="SubPremisesFrom" title="Переселение из"
                    asp-items="@{new SelectList(ViewBag.SubPremises, "IdSubPremises", "SubPremisesNum")}"
                    asp-for="@subPremisesIds">
                <option value="0">Вся квартира</option>
            </select>
        </div>

        @if (ViewBag.Action == ActionTypeEnum.Edit)
        {
            <div class="text-lg-right col-lg-2 rr-resettle-edit-buttons d-none d-lg-block">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-success resettle-save-btn @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                    <a class="btn btn-danger resettle-cancel-btn @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
                </div>
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                    <a class="btn btn-primary resettle-edit-btn @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger resettle-delete-btn @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == ActionTypeEnum.Create)
        {
            <a class="resettle-edit-btn" style="display: none"></a>
            <div class="text-lg-right col-lg-2 rr-resettle-edit-buttons d-none d-lg-block">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-danger resettle-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                </div>
            </div>
        }
        <div class="form-group col-md-6">
            <label>Способ переселения (плановый)</label>
            <select disabled class="form-control field-resettle selectpicker" title="Способ переселения (плановый)"
                    asp-items="@{new SelectList(ViewBag.ResettleKinds, "IdResettleKind", "ResettleKindName",Model.IdResettleKind)}" name="IdResettleKindPlan">
                <option></option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>Способ переселения (фактический)</label>
            <select disabled class="form-control field-resettle selectpicker" title="Способ переселения (фактический)"
                    asp-items="@{new SelectList(ViewBag.ResettleKinds, "IdResettleKind", "ResettleKindName",Model.IdResettleKindFact)}" name="IdResettleKindFact">
                <option></option>
            </select>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="rr-resettle-card-header-sub-title" style="margin-top: .25em;">Адрес переселения</h5>
            <div class="btn-group" role="group">
                <a href="#" id="resettleAddressesToggle" class="form-control btn btn-primary" title="Развернуть адрес переселения" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <div class="card-body toggle-hide" id="resettleAddressesList">
            <h5>
                Плановый адрес
                @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                {
                    if (Model.IdPremise != null)
                    {
                        <a class="btn pl-0 pr-0" asp-action="Details" asp-controller="Premises" asp-route-idPremises="@Model.IdPremise">
                            <span class="oi oi-eye"></span>
                        </a>
                    }
                    else
                    if (Model.IdBuilding != null)
                    {
                        <a class="btn pl-0 pr-0" asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@Model.IdBuilding">
                            <span class="oi oi-eye"></span>
                        </a>
                    }
                }
            </h5>
            
            <hr class="mt-0" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Улица</label>
                    <input type="hidden" value="@Model.IdStreet" name="ResettleToIdStreetPrev">
                    <select disabled class="form-control field-resettle selectpicker" data-live-search="true" title="Улица"
                            asp-items="@{new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName",Model.IdStreet)}" name="ResettleToIdStreet">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Дом</label>
                    <input type="hidden" value="@Model.IdBuilding" name="ResettleToIdBuildingPrev">
                    <select disabled class="form-control field-resettle selectpicker" data-live-search="true" title="Дом"
                            name="ResettleToIdBuilding">
                        <option></option>
                        @foreach (var building in Model.Buildings)
                        {
                            if (Model.IdBuilding == building.IdBuilding)
                            {
                                <option value="@building.IdBuilding" data-total-area="@building.TotalArea" selected>@building.House</option>
                            }
                            else
                            {
                                <option value="@building.IdBuilding" data-total-area="@building.TotalArea">@building.House</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Помещение</label>
                    <input type="hidden" value="@Model.IdPremise" name="ResettleToIdPremisePrev">
                    <select disabled class="form-control field-resettle selectpicker" data-live-search="true" title="Помещение"
                            name="ResettleToIdPremise">
                        <option></option>
                        @foreach (var premise in Model.Premises)
                        {
                            if (Model.IdPremise == premise.IdPremises)
                            {
                                <option value="@premise.IdPremises" data-total-area="@premise.TotalArea" selected>@premise.PremisesNum</option>
                            }
                            else
                            {
                                <option value="@premise.IdPremises" data-total-area="@premise.TotalArea">@premise.PremisesNum</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Комнаты</label>
                    @foreach (var idSubPremise in Model.IdSubPremises)
                    {
                        <input type="hidden" value="@idSubPremise" name="ResettleToSubPremisesPrev">
                    }
                    <select disabled multiple class="form-control field-resettle selectpicker" title="Комнаты"
                            asp-for="@Model.IdSubPremises" name="ResettleToSubPremises">
                        @foreach (var subPremise in Model.SubPremises)
                        {
                            if (Model.IdSubPremises.Contains(subPremise.IdSubPremises))
                            {
                                <option value="@subPremise.IdSubPremises" data-total-area="@subPremise.TotalArea" selected>@subPremise.SubPremisesNum</option>
                            }
                            else
                            {
                                <option value="@subPremise.IdSubPremises" data-total-area="@subPremise.TotalArea">@subPremise.SubPremisesNum</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="rr-resettle-label">Общая площадь</label>
                    <input disabled class="form-control" name="ResettleToTotalArea" asp-for="TotalArea" />
                </div>
            </div>
            <h5>
                Фактический адрес
                @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                {
                    if (Model.IdPremiseFact != null)
                    {
                        <a class="btn pl-0 pr-0" asp-action="Details" asp-controller="Premises" asp-route-idPremises="@Model.IdPremiseFact">
                            <span class="oi oi-eye"></span>
                        </a>
                    }
                    else
                    if (Model.IdBuildingFact != null)
                    {
                        <a class="btn pl-0 pr-0" asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@Model.IdBuildingFact">
                            <span class="oi oi-eye"></span>
                        </a>
                    }
                }
            </h5>
            <hr class="mt-0" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Улица</label>
                    <input type="hidden" value="@Model.IdStreetFact" name="ResettleToIdStreetFactPrev">
                    <select disabled class="form-control field-resettle selectpicker" data-live-search="true" title="Улица"
                            asp-items="@{new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName",Model.IdStreetFact)}" name="ResettleToIdStreetFact">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Дом</label>
                    <input type="hidden" value="@Model.IdBuildingFact" name="ResettleToIdBuildingFactPrev">
                    <select disabled class="form-control field-resettle selectpicker" data-live-search="true" title="Дом" name="ResettleToIdBuildingFact">
                        <option></option>
                        @foreach (var building in Model.BuildingsFact)
                        {
                            if (Model.IdBuildingFact == building.IdBuilding)
                            {
                                <option value="@building.IdBuilding" data-total-area="@building.TotalArea" selected>@building.House</option>
                            }
                            else
                            {
                                <option value="@building.IdBuilding" data-total-area="@building.TotalArea">@building.House</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Помещение</label>
                    <input type="hidden" value="@Model.IdPremiseFact" name="ResettleToIdPremiseFactPrev">
                    <select disabled class="form-control field-resettle selectpicker" data-live-search="true" title="Помещение" name="ResettleToIdPremiseFact">
                        <option></option>
                        @foreach (var premise in Model.PremisesFact)
                        {
                            if (Model.IdPremiseFact == premise.IdPremises)
                            {
                                <option value="@premise.IdPremises" data-total-area="@premise.TotalArea" selected>@premise.PremisesNum</option>
                            }
                            else
                            {
                                <option value="@premise.IdPremises" data-total-area="@premise.TotalArea">@premise.PremisesNum</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Комнаты</label>
                    @foreach (var idSubPremise in Model.IdSubPremisesFact)
                    {
                        <input type="hidden" value="@idSubPremise" name="ResettleToSubPremisesFactPrev">
                    }
                    <select disabled multiple class="form-control field-resettle selectpicker" title="Комнаты"
                        asp-for="@Model.IdSubPremisesFact" name="ResettleToSubPremisesFact">

                        @foreach (var subPremise in Model.SubPremisesFact)
                        {
                            if (Model.IdSubPremisesFact.Contains(subPremise.IdSubPremises))
                            {
                                <option value="@subPremise.IdSubPremises" data-total-area="@subPremise.TotalArea" selected>@subPremise.SubPremisesNum</option>
                            }
                            else
                            {
                                <option value="@subPremise.IdSubPremises" data-total-area="@subPremise.TotalArea">@subPremise.SubPremisesNum</option>
                            }
                        }

                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="rr-resettle-label">Общая площадь</label>
                    <input disabled class="form-control" name="ResettleToTotalAreaFact" asp-for="TotalAreaFact" />
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="rr-resettle-card-header-sub-title" style="margin-top: .25em;">Источники финансирования</h5>
            <div class="btn-group" role="group">
                <a href="#" id="financeSourcesToggle" class="form-control btn btn-primary" title="Развернуть источники финансирования" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <div class="card-body toggle-hide" id="financeSourcesList">
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label class="rr-resettle-label">Фонд содействия реформированию ЖКХ</label>
                    <div class="input-group">
                        <input type="text" class="form-control decimal input-decimal" disabled value="@Model.FinanceSource1" name="FinanceSource1" title="Фонд содействия реформированию ЖКХ">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">руб.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label class="rr-resettle-label">Бюджет Иркутской области</label>
                    <div class="input-group">
                        <input type="text" class="form-control decimal input-decimal" disabled value="@Model.FinanceSource2" name="FinanceSource2" title="Бюджет Иркутской области">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">руб.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label class="rr-resettle-label">Бюджет города Братска (софинансирование)</label>
                    <div class="input-group">
                        <input type="text" class="form-control decimal input-decimal" disabled value="@Model.FinanceSource3" name="FinanceSource3" title="Бюджет города Братска (софинансирование)">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">руб.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label class="rr-resettle-label">Бюджет города Братска (дополнительное финансирование)</label>
                    <div class="input-group">
                        <input type="text" class="form-control decimal input-decimal" disabled value="@Model.FinanceSource4" name="FinanceSource4" title="Бюджет города Братска (дополнительное финансирование)">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">руб.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="rr-resettle-card-header-sub-title" style="margin-top: .25em;">Документы</h5>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="resettleDocumentAdd" class="form-control btn btn-success disabled" title="Добавить документ по переселению">&#10010;</a>
                }
                <a href="#" id="resettleDocumentsToggle" class="form-control btn btn-primary" title="Развернуть документы" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="resettleDocumentsList">
            @foreach (var document in Model.ResettleDocuments)
            {
                ViewBag.CurrentResettleInfoAddressType = Model.Address.AddressType;

                <partial name="ResettleDocument" model="document"  />
            }
        </ul>
    </div>

    @if (ViewBag.Action == ActionTypeEnum.Edit)
    {
        <div class="text-center col-12 rr-resettle-edit-buttons-2 d-block d-lg-none">
            <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                <a class="btn btn-success resettle-save-btn-2 @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                <a class="btn btn-danger resettle-cancel-btn-2 @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
            </div>
            <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                <a class="btn btn-primary resettle-edit-btn-2 @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                <a class="btn btn-danger resettle-delete-btn-2 @(ViewBag.Address.AddressType == Model.Address.AddressType && canEdit ? "" : "disabled")" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
            </div>
        </div>
    }
    @if (ViewBag.Action == ActionTypeEnum.Create)
    {
        <div class="text-center col-12 rr-resettle-edit-buttons-2 d-block d-lg-none">
            <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                <a class="btn btn-danger resettle-cancel-btn-2" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
            </div>
        </div>
    }


</li>
