@model RegistryWeb.ViewModel.RestrictionVM;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;

@{ 
    var canEdit = ((bool?)ViewBag.CanEditBaseInfo) ?? true;
    var attachment = Model.AddressType == AddressTypes.Premise ? "Помещение" : "Здание";
    var restrictionTypeClass = "col-md-6 col-lg-4";
    if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
    {
        if (ViewBag.AddressType == AddressTypes.Premise && ViewBag.AddressType != Model.AddressType)
        {
            restrictionTypeClass = "col-md-6";
        }
        else
        if (ViewBag.AddressType == AddressTypes.Building)
        {
            restrictionTypeClass = "col-md-9 col-lg-7";
        }
    }
    if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
    {
        if (ViewBag.AddressType == AddressTypes.Premise)
        {
            restrictionTypeClass = "col-md-6";
        } else
        {
            restrictionTypeClass = "col-md-9";
        }
    }
}

<li class="list-group-item">
    <input type="hidden" value="@Model.IdRestriction" name="IdRestriction" />
    <div class="form-row">
        <div class="form-group col-sm-6 col-md-3">
            <label>Номер документа</label>
            <input type="text" maxlength="10" class="form-control" disabled value="@Model.Number" name="RestrictionNum" title="Номер документа">
        </div>
        <div class="form-group col-sm-6 col-md-3">
            <label>Дата документа</label>
            <input type="date" class="form-control" disabled value="@(Model.Date.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : Model.Date.ToString("yyyy-MM-dd"))" name="RestrictionDate" title="Дата документа">
        </div>
        <div class="form-group col-md-6">
            <label>Наименование и образ документа</label>
            <div class="input-group">
                <input type="text" maxlength="255" class="form-control" disabled value="@Model.Description" name="RestrictionDescription" title="Наименование">
                <input type="file" name="RestrictionFile" style="position: absolute; left: -9999px; width: 1px; height: 1px" />
                <input type="hidden" name="RestrictionFileRemove" value="false" />
                @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                {
                    <div class="input-group-append">
                        <a class="btn btn-success rr-restriction-file-download @(Model.FileOriginName == null ? "disabled" : "")"
                           href="/Restrictions/DownloadFile/?idRestriction=@Model.IdRestriction" title="Скачать образ документа" aria-label="Скачать образ документа"><span class="oi oi-data-transfer-download"></span></a>
                    </div>
                }
                @if (ViewBag.Action == ActionTypeEnum.Edit)
                {
                    <div class="input-group-append rr-restriction-file-buttons">
                        <a class="btn btn-danger rr-restriction-file-remove" style="display: none"
                           href="#" title="Удалить образ документа" aria-label="Удалить образ документа"><span class="oi oi-trash"></span></a>
                        <a class="btn btn-success rr-restriction-file-attach" style="display: none"
                           href="#" title="Прикрепить образ документа" aria-label="Прикрепить образ документа"><span class="oi oi-paperclip"></span></a>
                        <a class="btn btn-success rr-restriction-file-download @(Model.FileOriginName == null ? "disabled" : "")"
                           href="/Restrictions/DownloadFile/?idRestriction=@Model.IdRestriction" title="Скачать образ документа" aria-label="Скачать образ документа"><span class="oi oi-data-transfer-download"></span></a>
                    </div>
                }
                @if (ViewBag.Action == ActionTypeEnum.Create)
                {
                    <div class="input-group-append rr-restriction-file-buttons">
                        <a class="btn btn-danger rr-restriction-file-remove" style="display: none"
                           href="#" title="Удалить образ документа" aria-label="Удалить образ документа"><span class="oi oi-x"></span></a>
                        <a class="btn btn-success rr-restriction-file-attach" style="display: none"
                           href="#" title="Прикрепить образ документа" aria-label="Прикрепить образ документа"><span class="oi oi-paperclip"></span></a>
                    </div>
                }
            </div>
        </div>
        @if (ViewBag.AddressType == AddressTypes.Premise)
        {
            <div class="form-group col-md-3">
                <label>Принадлежность</label>

                <input type="text" maxlength="255" class="form-control" disabled value="@attachment" name="RestrictionAttachment" title="Принадлежность">
            </div>
        }

        <div class="form-group col-md-3">
            <label>Дата г/р в УО</label>
            <input type="date" class="form-control" disabled value="@(Model.DateStateReg.HasValue ? Model.DateStateReg.Value.ToString("yyyy-MM-dd") : "")" name="RestrictionDateStateReg" title="Дата г/р в УО">
        </div>
        <div class="form-group @restrictionTypeClass">
            <label>Тип документа</label>
            <select disabled class="form-control field-restriction selectpicker" title="Тип документа"
                    asp-items="@{new SelectList(ViewBag.RestrictionTypes, "IdRestrictionType", "RestrictionTypeName",Model.IdRestrictionType)}" name="IdRestrictionType">
                <option></option>
            </select>
        </div>
        @if (ViewBag.Action == ActionTypeEnum.Edit && ViewBag.AddressType == Model.AddressType)
        {
            <div class="text-lg-right text-center col-lg-2 rr-restriction-edit-buttons">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-success restriction-save-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                    <a class="btn btn-danger restriction-cancel-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
                </div>
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                    <a class="btn btn-primary restriction-edit-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger restriction-delete-btn @(ViewBag.AddressType == Model.AddressType && canEdit ? "" : "disabled")" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == ActionTypeEnum.Create)
        {
            <a class="restriction-edit-btn" style="display: none"></a>
            <div class="text-lg-right text-center col-lg-2 rr-restriction-edit-buttons">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-danger restriction-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                </div>
            </div>
        }
    </div>
</li>
