@model RegistryWeb.ViewModel.SubPremiseVM;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;

@{
    var securityService = (SecurityService)ViewBag.SecurityService;
    var canEditBasePremiseInfo = ((bool?)ViewBag.CanEditBaseInfo) ?? true;
    var canEdit = canEditBasePremiseInfo && (Model.IdSubPremises == 0 || 
            (securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal) && !ObjectStateHelper.IsMunicipal(Model.IdState)) ||
            (securityService.HasPrivilege(Privileges.RegistryWriteMunicipal) && ObjectStateHelper.IsMunicipal(Model.IdState)));
}

<li class="list-group-item">
    <input type="hidden" value="@Model.IdPremises" name="IdPremise" />
    <input type="hidden" value="@Model.IdSubPremises" name="IdSubPremise" />
    <div class="form-row">
        <div class="form-group col-md-4 col-lg-2 r-form-group-label">
            <label>Номер комнаты</label>
            <input type="text" maxlength="20" class="form-control" disabled value="@Model.SubPremisesNum" name="SubPremisesNum" title="Номер комнаты">
        </div>
        <div class="form-group col-md-4 col-lg-2 r-form-group-label">
            <label>Общая площадь</label>
            <input type="text" class="form-control decimal input-decimal" disabled value="@Model.TotalArea" name="TotalArea" title="Общая площадь">
        </div>
        <div class="form-group col-md-4 col-lg-2 r-form-group-label">
            <label>Жилая площадь</label>
            <input type="text" class="form-control decimal input-decimal" disabled value="@Model.LivingArea" name="LivingArea" title="Жилая площадь">
        </div>
        <div class="form-group -md-6 col-lg-3 r-form-group-label">
            <label>Текущее состояние</label>
            @if (canEdit)
            {
                <select class="selectpicker form-control" disabled data-live-search="true" asp-for="@Model.IdState" name="IdState" title="Текущее состояние"
                        asp-items="@ViewBag.ObjectStatesList">
                    <option></option>
                </select>
            }
            else
            {
                <select class="selectpicker form-control" disabled data-live-search="true" asp-for="@Model.IdState" name="IdState" title="Текущее состояние"
                        asp-items="@ViewBag.ObjectStatesFullList">
                    <option></option>
                </select>
            }
        </div>
        <div class="form-group -md-6 col-lg-3 r-form-group-label">
            <label>Текущий фонд</label>
            <select class="selectpicker form-control" disabled data-live-search="true" asp-for="@Model.IdFundType" name="IdFundType" title="Текущий фонд"
                    asp-items="@ViewBag.FundTypesList">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3 r-form-group-label">
            <label class="rr-premises-label">Кадастровый номер</label>
            <input type="text" maxlength="20" class="form-control input-cadastral-num" disabled value="@Model.CadastralNum" name="CadastralNum" title="Кадастровый номер">
        </div>
        <div class="form-group col-md-3 r-form-group-label">
            <label class="rr-premises-label">Кадастровая стоимость</label>
            <input type="text" class="form-control decimal input-decimal" disabled value="@Model.CadastralCost" name="CadastralCost" title="Кадастровая стоимость">
        </div>
        <div class="form-group col-md-3 r-form-group-label">
            <label class="rr-premises-label">Балансовая стоимость</label>
            <input type="text" class="form-control decimal input-decimal" disabled value="@Model.BalanceCost" name="BalanceCost" title="Балансовая стоимость">
        </div>
        <div class="form-group col-md-3 r-form-group-label">
            <label class="rr-premises-label">Лицевой счет ФКР</label>
            <input type="text" class="form-control decimal" disabled value="@Model.Account" name="Account" title="Лицевой счет ФКР">
        </div>
    </div>
    @if (securityService.HasPrivilege(Privileges.TenancyRead) && (ViewBag.Action == "Details" || ViewBag.Action == "Delete") && Model.PaymentInfo != null)
    {
        <div class="form-row">
            <div class="form-group col r-form-group-label">
                <label for="Payment">Размер платы до 28.08.2019</label>
                <input id="Payment" name="Payment" value="@(Model.PaymentInfo.Payment)"
                       type="text" class="form-control input-decimal" title="Размер платы до 28.08.2019">
            </div>
            <div class="form-group col r-form-group-label">
                <label for="PaymentAfter">Размер платы после 28.08.2019</label>
                <input id="PaymentAfter" name="PaymentAfter" value="@(Model.PaymentInfo.PaymentAfter28082019)"
                       type="text" class="form-control input-decimal" title="Размер платы после 28.08.2019">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col r-form-group-label">
                <label class="rr-premises-label" for="Hb">Нб</label>
                <input id="Hb" name="Nb" value="@(Model.PaymentInfo.Nb)"
                       type="text" class="form-control input-decimal" title="Нб">
            </div>
            <div class="form-group col r-form-group-label">
                <label class="rr-premises-label" for="Kc">Кс</label>
                <input id="Kc" name="Nb" value="@(Model.PaymentInfo.KC)"
                       type="text" class="form-control input-decimal" title="Кс">
            </div>
            <div class="form-group col r-form-group-label">
                <label class="rr-premises-label" for="K1">К1</label>
                <input id="K1" name="Nb" value="@(Model.PaymentInfo.K1)"
                       type="text" class="form-control input-decimal" title="К1">
            </div>
            <div class="form-group col r-form-group-label">
                <label class="rr-premises-label" for="K2">К2</label>
                <input id="K2" name="Nb" value="@(Model.PaymentInfo.K2)"
                       type="text" class="form-control input-decimal" title="К2">
            </div>
            <div class="form-group col r-form-group-label">
                <label class="rr-premises-label" for="K3">К3</label>
                <input id="K3" name="Nb" value="@(Model.PaymentInfo.K3)"
                       type="text" class="form-control input-decimal" title="К3">
            </div>
        </div>
    }
        <div class="form-row">
            <div class="form-group col-md-10 r-form-group-label">
                <label class="rr-premises-label">Примечание</label>
                <input type="text" class="form-control decimal" disabled value="@Model.Description" name="Description" title="Примечание">
            </div>
            @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
            {
                <div class="col-md-2 text-md-right text-center rr-sub-premise-nav-buttons">
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-dark dropdown-toggle" type="button" title="Связанные объекты" aria-label="Связанные объекты" id="objectsBtn_sub_@Model.IdSubPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-grid-two-up"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_sub_@Model.IdSubPremises">
                                <a class="dropdown-item" title="История фонда" aria-label="История фонда"
                                   asp-controller="FundsHistory" asp-action="Index" asp-route-idObject="@Model.IdSubPremises" asp-route-typeObject="SubPremise" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">История фонда</a>

                                @if (securityService.HasPrivilege(Privileges.TenancyRead))
                                {
                                    <a class="dropdown-item" title="Найм помещения" aria-label="Найм помещения"
                                       asp-controller="TenancyProcesses" asp-action="Index" asp-route-filterOptions.IdSubPremises="@Model.IdSubPremises">Процессы найма</a>
                                }
                                @if (securityService.HasPrivilege(Privileges.OwnerRead))
                                {
                                    <a class="dropdown-item" title="Собственники помещения" aria-label="Собственники помещения"
                                       asp-controller="OwnerProcesses" asp-action="Index" asp-route-filterOptions.IdSubPremises="@Model.IdSubPremises">Процессы собственности</a>
                                }
                                @if (securityService.HasPrivilege(Privileges.ClaimsRead))
                                {
                                    <a class="dropdown-item" title="Лицевые счета БКС" aria-label="Лицевые счета"
                                       asp-controller="PaymentAccounts" asp-action="Index" asp-route-filterOptions.IdSubPremises="@Model.IdSubPremises">Лицевые счета БКС</a>
                                    <a class="dropdown-item" title="Исковые работы" aria-label="Исковые работы"
                                       asp-controller="Claims" asp-action="Index" asp-route-filterOptions.IdSubPremises="@Model.IdSubPremises">Исковые работы</a>
                                }
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Отчеты">
                            <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="отчеты" id="reportsBtn_sub_@Model.IdSubPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-document"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_sub_@Model.IdSubPremises">
                                <a class="dropdown-item rr-report-sub-premise-excerpt" href="#" title="Выписка на комнату" aria-label="Выписка на комнату" data-id-sub-premise="@Model.IdSubPremises">Выписка на комнату</a>
                                <a class="dropdown-item rr-report-sub-premise-notice-to-bks" href="#" title="Извещение в БКС" aria-label="Извещение в БКС" data-id-sub-premise="@Model.IdSubPremises">Извещение в БКС</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.Action == "Edit")
            {
                <div class="col-md-2 text-md-right text-center rr-sub-premise-edit-buttons">
                    <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                        <a class="btn btn-danger subpremise-cancel-btn @(canEdit ? "" : "disabled")" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                        <a class="btn btn-success subpremise-save-btn @(canEdit ? "" : "disabled")" title="Да" aria-label="Да" href="#"><span class="oi oi-check"></span></a>
                    </div>
                    <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                        <a class="btn btn-primary subpremise-edit-btn @(canEdit ? "" : "disabled")" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                        <a class="btn btn-danger subpremise-delete-btn @(canEdit ? "" : "disabled")" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                    </div>
                </div>
            }
            @if (ViewBag.Action == "Create")
            {
                <a class="subpremise-edit-btn" style="display: none"></a>
                <div class="col-md-2 text-md-right text-center rr-sub-premise-edit-buttons">
                    <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                        <a class="btn btn-danger subpremise-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                    </div>
                </div>
            }
        </div>
</li>
