@model IEnumerable<RegistryWeb.ViewModel.RestrictionVM>;
<form id="restrictionsForm">
    <script src="~/js/restrictions.common.js" asp-append-version="true"></script>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between pt-2 pb-2">
            <h4 class="mt-1">
                Документы права собственности
                @{
                    var count = Model.Count() > 0 ? Model.Count().ToString() : "";
                    var visible = Model.Count() > 0 ? "" : "style='display: none;'";
                }
                <span class="badge badge-secondary rr-count-badge ml-1" @Html.Raw(visible)>
                    @count
                </span>
            </h4>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="restrictionAdd" class="form-control btn btn-success @(((bool?)ViewBag.CanEditBaseInfo ?? true) ? "" : "disabled")" title="Добавить реквизит права собственности">&#10010;</a>
                }
                <a href="#" id="restrictionsToggle" class="form-control btn btn-primary" title="Развернуть список реквизитов права собственности" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="restrictionsList" data-addresstype="@ViewBag.AddressType" data-id="@ViewBag.Id" data-action="@ViewBag.Action">
            @foreach (var item in Model)
            {
                <partial name="Restriction" model="item" />
            }
        </ul>
    </div>
</form>