@model IEnumerable<RegistryWeb.ViewModel.RestrictionVM>;
@{
    int i = ViewBag.Id;
}
<div class="card">
    <script src="~/js/restrictions.common.js" asp-append-version="true"></script>
    <div class="card-header d-flex justify-content-between">
        <h3>Реквизиты права собственности</h3>
        <div class="btn-group" role="group">
            
            @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
            {
                <a href="#" class="form-control btn btn-success disabled" disabled id="restrictionAdd" title="Добавить реквизит">&#10010;</a>
            }

            <a href="#" id="restrictionsToggle" class="form-control btn btn-primary" title="Развернуть список реквизитов" style="font-weight:bold;">∨</a>
        </div>
    </div>
    <table class="table table-bordered card-body" id="restrictionsTable" style="margin-bottom:0px;">
        <thead>
            <tr data-i-restriction="@i">

                <th class="align-middle">Номер</th>
                <th class="align-middle">Дата документа</th>
                <th class="align-middle">Наименование</th>
                <th class="align-middle">Дата г/р в УЮ</th>
                <th class="align-middle">Тип права собственности</th>
                @if (ViewBag.Type == AddressTypes.Premise)
                {
                    <th class="align-middle">Принадлежность</th>
                }
                
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <th class="align-middle"></th>
                }

            </tr>
        </thead>
        <tbody id="restrictions">
            @foreach (var item in Model)
            {
                <tr class="restrictionBlock">
                    <input type="hidden" asp-for="@item.IdRestriction" id="Restrictions_@(i)IdRestrictionType" name="Restriction[@i].IdRestrictionType" />
                    <input type="hidden" asp-for="@item.AddressType" id="Restrictions_@(i)IdAddressType" name="Restriction[@i].IdAddressType" />
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.Number" title="@item.Number"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.Date" title="@item.Date" value="@item.Date.ToShortDateString()"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.Description" title="@item.Description"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.DateStateReg" title="@item.DateStateReg" value="@(item.DateStateReg == null ? "" : item.DateStateReg.Value.ToShortDateString())"></td>
                    <td class="align-middle"><input type="text" class="form-control inputforcomponent" asp-for="@item.RestrictionTypeNavigation.RestrictionTypeName" title="@item.RestrictionTypeNavigation.RestrictionTypeName"></td>
                    @if (ViewBag.Type == AddressTypes.Premise)
                    {
                        <td class="align-middle">
                            @if (item.AddressType == AddressTypes.Building)
                            {
                                <input type="text" class="form-control inputforcomponent" value="Здание">
                            }
                            @if (item.AddressType == AddressTypes.Premise)
                            {
                                <input type="text" class="form-control inputforcomponent" value="Помещение">
                            }
                        </td>
                    }
                    
                    @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                    {
                        <td class="align-middle">
                            <a class="btn btn-danger oi oi-x disabled" disabled title="Удалить" aria-label="Удалить"
                               asp-controller="Premises" asp-action="Delete" asp-route-idpremises="@item.IdRestriction"></a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
