@model IEnumerable<RegistryWeb.ViewModel.RestrictionVM>;

<div class="card">
    <script src="~/js/restrictions.common.js" asp-append-version="true"></script>
    <div class="card-header d-flex justify-content-between">
        <h3>Реквизиты</h3>
        <div class="btn-group" role="group">
            <a href="#" id="restrictionsToggle" class="form-control btn btn-primary" title="Развернуть список реквизитов" style="font-weight:bold;">∨</a>
        </div>
    </div>
    <table class="table table-bordered card-body" id="restrictionsTable" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="align-middle">Номер</th>
                <th class="align-middle">Дата документа</th>
                <th class="align-middle">Наименование</th>
                <th class="align-middle">Дата г/р в УЮ</th>
                <th class="align-middle">Тип права собственности</th>
                @if (ViewBag.Type == AddressTypes.Premise)
                {
                    <th class="align-middle">Принадлежность</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="align-middle">@item.Number</td>
                <td class="align-middle">@item.Date.ToShortDateString()</td>
                <td class="align-middle">@item.Description</td>
                <td class="align-middle">@(item.DateStateReg == null ? "" : item.DateStateReg.Value.ToShortDateString())</td>
                <td class="align-middle">@item.RestrictionTypeNavigation.RestrictionTypeName</td>
                @if (ViewBag.Type == AddressTypes.Premise)
                {
                    <td class="align-middle">
                        @if (item.AddressType == AddressTypes.Building)
                        {
                            @:Здание
                        }
                        @if (item.AddressType == AddressTypes.Premise)
                        {
                            @:Помещение
                        }
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
