@using RegistryWeb.SecurityServices;
@model IEnumerable<RegistryWeb.Models.Entities.OwnerReasonType>;
@{
    ViewData["Title"] = "Типы оснований собственности (" + ViewBag.Count + ")";
    var securityService = (SecurityService)ViewData["SecurityService"];
}

<h2>@ViewData["Title"]</h2>
@if (securityService.HasPrivilege(Privileges.OwnerDirectoriesReadWrite))
{
    <a class="btn btn-success mb-2" title="Добавить" aria-label="Добавить тип оснований собственности" asp-controller="OwnerReasonTypes" asp-action="Create">&#10010;</a>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Тип основания собственности</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReasonName</td>
                <td>
                    @if (securityService.HasPrivilege(Privileges.OwnerDirectoriesReadWrite))
                    {
                        <div class="btn-group">
                            <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                               asp-controller="OwnerReasonTypes" asp-action="Edit" asp-route-IdReasonType="@item.IdReasonType" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                               asp-controller="OwnerReasonTypes" asp-action="Delete" asp-route-IdReasonType="@item.IdReasonType" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*<page-link page-model="Model.PageOptions" page-action="Index"></page-link>*@

