@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.Extensions;
@model RegistryWeb.ViewModel.PremisesVM<Premise>;
@{
    Context.Session.Set("Controller", "Premises");
    Context.Session.Set("Action", "Index");
    Context.Session.Set("OrderOptions", Model.OrderOptions);
    Context.Session.Set("FilterOptions", Model.FilterOptions);
    Context.Session.Set("PageOptions", Model.PageOptions);

    string GetTypeFund(Premise premise)
    {
        var fundsHistory = premise.FundsPremisesAssoc.Select(fpa => fpa.IdFundNavigation);
        var fundHistory = fundsHistory
            .FirstOrDefault(fh => fh.ExcludeRestrictionDate == null && fh.IdFund == fundsHistory.Max(f => f.IdFund));
        if (fundHistory == null)
            return "";
        return fundHistory.IdFundTypeNavigation.FundTypeName;
    }
}

@section styles{
    <link rel="stylesheet" href="~/css/premise.css" runat="server" />
}

<table class="table table-hover">
    <thead>
        <tr style="align-content: center;">
            <th class="r-table-header-cell" style="width:155px;">
                    № по рeестру
                    @if (Model.OrderOptions.OrderDirection == OrderDirection.Ascending)
                    {
                        <a href="#" class="oi oi-sort-descending sort " data-order-field="IdPremises" data-order-direction="1"></a>
                    }
                    else
                    {
                        <a href="#" class="oi oi-sort-ascending sort" data-order-field="IdPremises" data-order-direction="0"></a>
                    }
                @*<a href="#" data-order-field="IdPremises" data-order-direction="@OrderDirection.Ascending"></a>*@
            </th>
            <th>
                Адрес
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Ascending)
                {
                    <a href="#" class="oi oi-sort-descending sort " data-order-field="PremisesType" data-order-direction="1"></a>
                }
                else
                {
                    <a href="#" class="oi oi-sort-ascending sort" data-order-field="PremisesType" data-order-direction="0"></a>
                }
            </th>
            @*<th class="r-table-header-cell">
                    <a href="#" data-order-field="PremisesType" data-order-direction="@OrderDirection.Ascending">
                        Тип помещения
                    </a>
                </th>
                <th>Кадастровый номер</th>
                <th>Общая площадь</th>*@
            <th class="r-table-header-cell">
                Текущее состояние
                @if (Model.OrderOptions.OrderDirection == OrderDirection.Ascending)
                {
                <a href="#" class="oi oi-sort-descending sort " data-order-field="ObjectState" data-order-direction="1"></a>
                }
                else
                {
                <a href="#" class="oi oi-sort-ascending sort" data-order-field="ObjectState" data-order-direction="0"></a>
                }
                @*<a href="#" data-order-field="ObjectState" data-order-direction="@OrderDirection.Ascending"></a>*@
            </th>
            <th>Текущий фонд</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Premises)
        {
            <tr>
                @{
                    var idOwnershipTypeP = item.OwnershipPremisesAssoc.FirstOrDefault() != null ? item.OwnershipPremisesAssoc.LastOrDefault().OwnershipRightNavigation.IdOwnershipRightType : 0;
                    var idOwnershipTypeB = item.IdBuildingNavigation.OwnershipBuildingsAssoc.FirstOrDefault();
                }
                <td style="background: @(item.OwnershipPremisesAssoc.FirstOrDefault()!=null && idOwnershipTypeP==1 ? "#FEDCDC" : idOwnershipTypeP == 2 ? "#BBFEE8" : idOwnershipTypeP == 7 ? "#88FF63" : "");">
                    @item.IdPremises
                </td>
                <td>
                    @item.IdBuildingNavigation.IdStreetNavigation.StreetLong,
                    д.@item.IdBuildingNavigation.House,
                    @item.IdPremisesTypeNavigation.PremisesTypeShort@item.PremisesNum

                    <div id="dopinfo">
                        Тип помещения: @item.IdPremisesTypeNavigation.PremisesTypeName
                        Кадастровый номер: @item.CadastralNum
                        Общая площадь: @item.TotalArea
                    </div>

                </td>


                <td>@item.IdStateNavigation.StateNeutral</td>
                <td>@GetTypeFund(item)</td>
                <td>
                    <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                        asp-action="Details" asp-controller="Premises" asp-route-idPremises="@item.IdPremises"></a>
                    @*<div class="btn-group" role="group" aria-label="Панель доступа">
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary oi oi-wrench dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@item.IdPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="toolsBtn_@item.IdPremises">
                                <a class="btn btn-primary oi oi-eye" id="premisedetail" title="Подробнее" aria-label="Подробнее"
                                   asp-controller="Premises" asp-action="Details" asp-route-idPremises="@item.IdPremises" asp-route-action="Details"></a>
                                <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                   asp-controller="Premises" asp-action="Edit" asp-route-idPremises="@item.IdPremises" asp-route-action="Edit"></a>
                                <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                                   asp-controller="Premises" asp-action="Delete" asp-route-idPremises="@item.IdPremises"></a>
                            </div>
                        </div>
                        
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-info oi oi-grid-four-up dropdown-toggle" type="button" title="Связанные объекты" aria-label="Связанные объекты" id="objectsBtn_@item.IdPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_@item.IdPremises">
                                <a class="btn btn-info oi oi-book" title="История фондов" aria-label="История фондов"
                                   asp-controller="FundsHistory" asp-action="Index" asp-route-idPremises="@item.IdPremises"></a>
                                <a class="btn btn-info oi oi-book" title="История найма" aria-label="История найма"
                                   asp-controller="FundsHistory" asp-action="Index" asp-route-idPremises="@item.IdPremises"></a>
                                <a class="btn btn-info oi oi-book" title="Лицевые счета" aria-label="Лицевые счета"
                                   asp-controller="FundsHistory" asp-action="Index" asp-route-idPremises="@item.IdPremises"></a>
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-success oi oi-document dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@item.IdPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@item.IdPremises">
                                <a class="dropdown-item" asp-action="Forma2" asp-controller="OwnerProcesses" asp-route-IdPremises="@item.IdPremises">Форма 1</a>
                                <a class="dropdown-item" asp-action="Forma2" asp-controller="OwnerProcesses" asp-route-IdPremises="@item.IdPremises">Форма 2</a>
                                <a class="dropdown-item" asp-action="Forma2" asp-controller="OwnerProcesses" asp-route-IdPremises="@item.IdPremises">Форма 3</a>
                                <a class="dropdown-item" asp-action="Forma2" asp-controller="OwnerProcesses" asp-route-IdPremises="@item.IdPremises">Форма 4</a>
                                <a class="dropdown-item" asp-action="Forma2" asp-controller="OwnerProcesses" asp-route-IdPremises="@item.IdPremises">Форма 5</a>
                            </div>
                        </div>
                    </div>


        <div class="btn-group">
            <a class="btn btn-primary oi oi-eye" id="premisedetail" title="Подробнее" aria-label="Подробнее"
               asp-controller="Premises" asp-action="Details" asp-route-idPremises="@item.IdPremises" asp-route-action="Details"></a>
            <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
               asp-controller="Premises" asp-action="Edit" asp-route-idPremises="@item.IdPremises" asp-route-action="Edit"></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
               asp-controller="Premises" asp-action="Delete" asp-route-idPremises="@item.IdPremises"></a>
            <a class="btn btn-info oi oi-book" title="История фондов" aria-label="История фондов"
               asp-controller="FundsHistory" asp-action="Index" asp-route-idPremises="@item.IdPremises"></a>
        </div>
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>
