@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.Extensions;
@model RegistryWeb.ViewModel.PremisesVM<Premise>;

@section styles{
    <link rel="stylesheet" href="~/css/premise.css" runat="server" />
}
<form asp-action="Index" method="get" class="filterForm">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    <input type="hidden" asp-for="FilterOptions.Address.AddressType" />
    <input type="hidden" asp-for="FilterOptions.Address.Id" />

    <div class="form-row" style="height:50px;">
        <div class="form-group col">
            <a class="btn btn-success" title="Добавить" aria-label="Добавить помещение" asp-controller="Premises" asp-action="Create" asp-route-action="Create">&#10010;</a>
        </div>
        <div class="input-group col-9">
            <input type="text" class="form-control col" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
            <div class="input-group-append h-auto d-inline-block">
                <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
            </div>
        </div>

        @if (Model.FilterOptions.IsModalEmpty())
        {
            <div class="form-group col-2">
                <a class="btn btn-block btn-secondary" id="filterModalShow">Фильтр</a>
            </div>
        }
        else
        {
            <div class="form-group btn-group col-2">
                <a class="btn btn-block btn-secondary" id="filterModalShow">Фильтр</a>
                <a class="btn btn-outline-secondary" id="filterClearBtn">&#10006;</a>
            </div>
        }
    </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-xl" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Фильтр помещений</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.IdPremise">Реестровый номер</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.IdPremise" title="Реестровый номер помещения">
                            </div>
                            <div class="form-group col-8">
                                <label asp-for="FilterOptions.IdStreet">Улица</label>
                                <select class="selectpicker form-control" data-live-search="true" title="Улица" asp-for="FilterOptions.IdStreet" asp-items="@Model.KladrStreetsList">
                                    <option selected></option>
                                </select>
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.House">Номер дома</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.House" title="Номер дома">
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.PremisesNum">Номер помещения</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.PremisesNum" title="Номер помещенияв">
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.Floors">Этаж</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.Floors" title="Этаж">
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.CadastralNum">Кадастровый номер</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.CadastralNum" title="Кадастровый номер">
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="FilterOptions.IdFundType">Тип жилого фонда</label>
                                <select class="selectpicker form-control" title="Тип жилого фонда" asp-for="FilterOptions.IdFundType" asp-items="@Model.FundTypesList">
                                    <option selected></option>
                                </select>
                            </div>
                        </div>
                        @*
                        <div class="form-row">
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.CadastralNum">Номер договора найма</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.CadastralNum" title="Номер договора найма">
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.CadastralNum">Номер документа-основания найма</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.CadastralNum" title="Номер документа-основания найма">
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.CadastralNum">Номер протокола жилищной комиссии</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.CadastralNum" title="Номер протокола жилищной комиссии">
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="FilterOptions.CadastralNum">ФИО нанимателя</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.CadastralNum" title="ФИО нанимателя">
                            </div>
                        </div>
                        *@
                        <div class="form-row">                            
                            <div class="form-group col-3">
                                <label asp-for="FilterOptions.RestrictionNum">Номер реквизита</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.RestrictionNum" title="Номер реквизита">
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="FilterOptions.IdRestrictionType">Тип права собственности</label>
                                <select class="selectpicker form-control" title="Тип права собственности" asp-for="FilterOptions.IdRestrictionType" asp-items="@Model.RestrictionsList">
                                    <option selected></option>
                                </select>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="FilterOptions.NumberOwnershipRight">Номер ограничения</label>
                                <input type="text" class="form-control" asp-for="FilterOptions.NumberOwnershipRight" title="Номер ограницения">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <label asp-for="FilterOptions.IdsObjectState">Состояние помещения</label>
                                <select multiple class="selectpicker form-control" data-actions-box="true" title="Состояние помещения" asp-for="FilterOptions.IdsObjectState" asp-items="@Model.ObjectStatesList"></select>
                            </div>

                            <div class="form-group col-3">
                                <label asp-for="FilterOptions.IdsOwnershipRightType">Тип ограничения <b>содержит</b></label>
                                <select multiple class="selectpicker form-control" data-actions-box="true" title="Тип ограничения содержит" asp-for="FilterOptions.IdsOwnershipRightType" asp-items="@Model.OwnershipRightTypesList"></select>
                            </div>

                            <div class="form-group col-3">
                                <label asp-for="FilterOptions.IdsComment">Примечание <b>содержит</b></label>
                                <select multiple class="selectpicker form-control" data-actions-box="true" title="Примечание содержит" asp-for="FilterOptions.IdsComment" asp-items="@Model.CommentList"></select>
                            </div>

                            <div class="form-group col-3">
                                <label asp-for="FilterOptions.IdsDoorKeys">Ключи <b>содержит</b></label>
                                <select multiple class="selectpicker form-control" data-actions-box="true" title="Ключи содержит" asp-for="FilterOptions.IdsDoorKeys" asp-items="@Model.LocationKeysList"></select>
                            </div>
                        </div>

                        <div class="form-row">
                            <label asp-for="FilterOptions.StDateOwnershipRight">Дата включения в РМИ</label>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-6">
                                <input type="date" class="form-control" asp-for="FilterOptions.StDateOwnershipRight" value="@(Model.FilterOptions.StDateOwnershipRight==null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.FilterOptions.StDateOwnershipRight?.ToString("yyyy-MM-dd"))" title="Дата включения в РМИ">
                            </div>
                            <div class="form-group col-6">
                               <input type="date" class="form-control" asp-for="FilterOptions.EndDateOwnershipRight" value="@(Model.FilterOptions.EndDateOwnershipRight==null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.FilterOptions.EndDateOwnershipRight?.ToString("yyyy-MM-dd"))" title="Дата включения в РМИ">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="filterClearModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                        <button id="searchModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Найти</button>
                    </div>
                </div>
            </div>
        </div>

        @*
        <div class="form-row">
            <div class="form-group col">
                <label class="control-label">Тип помещения: </label>
                <select class="form-control" asp-for="FilterOptions.IdPremisesType" asp-items="@Model.PremisesTypesList">
                    <option value="">Все типы</option>
                </select>
            </div>
            <div class="form-group col">
                <label class="control-label">Текущее состояние: </label>
                <select class="form-control" asp-for="FilterOptions.IdObjectState" asp-items="@Model.ObjectStatesList">
                    <option value="">Все состояния</option>
                </select>

            </div>
            <div class="form-group col">
                <label class="control-label">Текущий фонд: </label>
                <select class="form-control" asp-for="FilterOptions.IdFundType" asp-items="@Model.FundTypesList">
                    <option value="">Все фонды</option>
                </select>
            </div>
        </div>
        *@
</form>
