@using RegistryWeb.ViewOptions;
@using RegistryDb.Models.Entities;
@using RegistryWeb.Extensions;
@using RegistryWeb.SecurityServices;

@model RegistryServices.ViewModel.RegistryObjects.PremisesVM<Premise>;

@{
    var securityService = (SecurityService)ViewData["SecurityService"];
}

@section styles{
    <link rel="stylesheet" href="~/css/premise.css" runat="server" />
}
<form asp-action="Index" method="get" class="filterForm">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    <input type="hidden" asp-for="FilterOptions.Address.AddressType" />
    <input type="hidden" asp-for="FilterOptions.Address.Id" />

    <div class="form-row">
        @if (securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal) || securityService.HasPrivilege(Privileges.RegistryWriteMunicipal))
        {
            <div class="form-group col-2 col-md-1 col-lg-1">
                <a class="btn btn-success" title="Добавить" aria-label="Добавить помещение" asp-controller="Premises" asp-action="Create" asp-route-idBuilding="@Model.FilterOptions.IdBuilding">&#10010;</a>
            </div>
        }
        @if (Model.FilterOptions.IsAddressEmpty())
        {
            <div class="form-group @((securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal) || securityService.HasPrivilege(Privileges.RegistryWriteMunicipal)) ? "col-10 col-md-4 col-lg-6" : "col-12 col-md-5 col-lg-7")">
                <input type="text" class="form-control col rr-alt-address-search" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
            </div>
        }
        else
        {
            <div class="form-group @((securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal) || securityService.HasPrivilege(Privileges.RegistryWriteMunicipal)) ? "col-10 col-md-4 col-lg-6" : "col-12 col-md-5 col-lg-7")">
                <div class="input-group">
                    <input type="text" class="form-control col rr-alt-address-search" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
                    <div class="input-group-append h-auto d-inline-block">
                        <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
                    </div>
                </div>
            </div>
        }

        @if (Model.FilterOptions.IsModalEmpty())
        {
            <div class="form-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
            </div>
        }
        else
        {
            <div class="form-group btn-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
                <a class="btn btn-outline-secondary" href="#" id="filterClearBtn">&#10006;</a>
            </div>
        }

        <div class="form-group col-6 col-md-4 col-lg-3">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle col-md-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-grid-three-up"></span> Мастер операций
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a href="#" class="dropdown-item addselect">Добавить отфильтрованные помещения</a>
                    <a class="dropdown-item" asp-controller="Premises" asp-action="PremiseReports">Перейти в мастер</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Фильтр помещений</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.IdPremise">Реестровый номер</label>
                            <input type="text" class="form-control input-filter-numbers" asp-for="FilterOptions.IdPremise" title="Реестровый номер помещения">
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.IdFundType">Тип жилого фонда</label>
                            <select multiple class="selectpicker form-control" data-actions-box="true" title="Тип жилого фонда" asp-for="FilterOptions.IdFundType" asp-items="@Model.FundTypesList"></select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.IdsObjectState">Текущее состояние</label>
                            <select multiple class="selectpicker form-control" data-actions-box="true" title="Текущее состояние" asp-for="FilterOptions.IdsObjectState" asp-items="@Model.ObjectStatesList"></select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.CadastralNum">Кадастровый номер</label>
                            <input type="text" class="form-control input-filter-cadastral-num" asp-for="FilterOptions.CadastralNum" title="Кадастровый номер">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-2 col-md-4">
                            <label asp-for="FilterOptions.IdRegion">Район</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Район" asp-for="FilterOptions.IdRegion" asp-items="@Model.KladrRegionsList">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-8">
                            <label asp-for="FilterOptions.IdStreet">Улица</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Улица" asp-for="FilterOptions.IdStreet" asp-items="@Model.KladrStreetsList">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-4">
                            <label asp-for="FilterOptions.House">Номер дома</label>
                            <input type="text" class="form-control input-filter-house" asp-for="FilterOptions.House" title="Номер дома">
                        </div>
                        <div class="form-group col-lg-2 col-md-4">
                            <label asp-for="FilterOptions.PremisesNum" class="rr-premises-label">Номер помещения</label>
                            <input type="text" class="form-control input-filter-premise-num" asp-for="FilterOptions.PremisesNum" title="Номер помещения">
                        </div>
                        <div class="form-group col-lg-2 col-md-4">
                            <label asp-for="FilterOptions.Floors">Этаж</label>
                            <input type="text" class="form-control input-filter-numbers" asp-for="FilterOptions.Floors" title="Этаж">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label asp-for="FilterOptions.IdsComment">Примечание</label>
                            <div class="row">
                                <div class="col-4 pr-1">
                                    <select class="selectpicker form-control" asp-for="FilterOptions.IdsCommentContains" title="Содержит/не содержит">
                                        @if (Model.FilterOptions.IdsCommentContains == null || Model.FilterOptions.IdsCommentContains.Value)
                                        {
                                            <option value="True" selected>Содержит</option>
                                            <option value="False">Не содержит</option>
                                        }
                                        else
                                        {
                                            <option value="True">Содержит</option>
                                            <option value="False" selected>Не содержит</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-8 pl-1">
                                    <select multiple class="selectpicker form-control" data-actions-box="true" title="Примечание" asp-for="FilterOptions.IdsComment" asp-items="@Model.CommentList"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-md-12">
                            <label asp-for="FilterOptions.IdsDoorKeys">Ключи</label>
                            <div class="row">
                                <div class="col-4 pr-1">
                                    <select class="selectpicker form-control" asp-for="FilterOptions.IdsDoorKeysContains" title="Содержит/не содержит">
                                        @if (Model.FilterOptions.IdsDoorKeysContains == null || Model.FilterOptions.IdsDoorKeysContains.Value)
                                        {
                                            <option value="True" selected>Содержит</option>
                                            <option value="False">Не содержит</option>
                                        }
                                        else
                                        {
                                            <option value="True">Содержит</option>
                                            <option value="False" selected>Не содержит</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-8 pl-1">
                                    <select multiple class="selectpicker form-control" data-actions-box="true" title="Ключи" asp-for="FilterOptions.IdsDoorKeys" asp-items="@Model.LocationKeysList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.RestrictionNum">Номер реквизита п/с</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.RestrictionNum" title="Номер реквизита">
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.RestrictionDate">Дата реквизита п/с</label>
                            <input type="date" class="form-control" asp-for="FilterOptions.RestrictionDate" value="@(Model.FilterOptions.RestrictionDate==null ? "" : Model.FilterOptions.RestrictionDate?.ToString("yyyy-MM-dd"))" title="Дата реквизита права собственности">
                        </div>

                        <div class="form-group col-lg-6 col-md-12">
                            <label asp-for="FilterOptions.IdsRestrictionType">Тип права собственности</label>
                            <div class="row">
                                <div class="col-4 pr-1">
                                    <select class="selectpicker form-control" asp-for="FilterOptions.IdsRestrictionTypeContains" title="Содержит/не содержит">
                                        @if (Model.FilterOptions.IdsRestrictionTypeContains == null || Model.FilterOptions.IdsRestrictionTypeContains.Value)
                                        {
                                            <option value="True" selected>Содержит</option>
                                            <option value="False">Не содержит</option>
                                        }
                                        else
                                        {
                                            <option value="True">Содержит</option>
                                            <option value="False" selected>Не содержит</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-8 pl-1">
                                    <select multiple class="selectpicker form-control" data-actions-box="true" title="Тип права собственности" asp-for="FilterOptions.IdsRestrictionType" asp-items="@Model.RestrictionsList"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.NumberOwnershipRight">Номер ограничения</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.NumberOwnershipRight" title="Номер ограницения">
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label asp-for="FilterOptions.DateOwnershipRight">Дата ограничения</label>
                            <input type="date" class="form-control" asp-for="FilterOptions.DateOwnershipRight" value="@(Model.FilterOptions.DateOwnershipRight==null ? "" : Model.FilterOptions.DateOwnershipRight?.ToString("yyyy-MM-dd"))" title="Дата ограничения">
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label asp-for="FilterOptions.IdsOwnershipRightType">Тип ограничения</label>
                            <div class="row">
                                <div class="col-4 pr-1">
                                    <select class="selectpicker form-control" asp-for="FilterOptions.IdsOwnershipRightTypeContains" title="Содержит/не содержит">
                                        @if (Model.FilterOptions.IdsOwnershipRightTypeContains == null || Model.FilterOptions.IdsOwnershipRightTypeContains.Value)
                                        {
                                            <option value="True" selected>Содержит</option>
                                            <option value="False">Не содержит</option>
                                        }
                                        else
                                        {
                                            <option value="True">Содержит</option>
                                            <option value="False" selected>Не содержит</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-8 pl-1">
                                    <select multiple class="selectpicker form-control" data-actions-box="true" title="Тип ограничения" asp-for="FilterOptions.IdsOwnershipRightType" asp-items="@Model.OwnershipRightTypesList"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <label asp-for="FilterOptions.StDateOwnershipRight">Дата включения в РМИ</label>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <input type="date" class="form-control" asp-for="FilterOptions.StDateOwnershipRight" value="@(Model.FilterOptions.StDateOwnershipRight==null ? "" : Model.FilterOptions.StDateOwnershipRight?.ToString("yyyy-MM-dd"))" title="Дата включения в РМИ">
                        </div>
                        <div class="form-group col-6">
                            <input type="date" class="form-control" asp-for="FilterOptions.EndDateOwnershipRight" value="@(Model.FilterOptions.EndDateOwnershipRight==null ? "" : Model.FilterOptions.EndDateOwnershipRight?.ToString("yyyy-MM-dd"))" title="Дата включения в РМИ">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="filterClearModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                    <button id="searchModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Найти</button>
                </div>
            </div>
        </div>
    </div>

</form>
