@using RegistryDb.Models.Entities.RegistryObjects.Premises
@using RegistryWeb.ViewModel
@using RegistryServices.ViewModel.RegistryObjects
@using RegistryWeb.Enums;
@model PremisesVM<Premise>

@{ 
    var paymentInfo = Model.PaymentsInfo;
    if (Model.PaymentsInfo == null || !Model.PaymentsInfo.Any()) {
        paymentInfo = new List<PaymentsInfo> { new PaymentsInfo() };
    }
}

<div class="form-row">
    <div class="form-group col r-form-group-label mb-2">
        <label class="mb-1 rr-premises-label" for="Payment">
            Плата за найм (№1824 от 12.08.2014)
        </label>
        <input id="Payment" name="Payment" value="@(paymentInfo.Select(p => p.Payment).Sum())" 
               type="text" class="form-control" title="Размер платы до 28.08.2019">
    </div>
    <div class="form-group col r-form-group-label mb-2">
        <label class="mb-1 rr-premises-label" for="PaymentAfter">
            Плата за найм (№1558 от 28.08.2019)
            @if (Model.AreaAvgCostActualDate != null && Model.AreaAvgCostActualDate > DateTime.Now.Date)
            {
                <span class="text-danger"><i>(с @Model.AreaAvgCostActualDate.Value.ToString("dd.MM.yyyy"))</i></span>
            }
        </label>

        <div class="input-group mb-3">
            <input id="PaymentAfter" name="PaymentAfter" value="@(paymentInfo.Select(p => p.PaymentAfter28082019).Sum())"
                   type="text" class="form-control" title="Размер платы после 28.08.2019">
            <a class="btn btn-outline-secondary rr-payment-history-btn" title="История изменения коэффициентов оплаты" target="_blank" asp-controller="TenancyProcesses" asp-action="PaymentHistory" asp-route-id="@Model.Premise.IdPremises" asp-route-target="@PaymentHistoryTarget.Premise" id="button-addon2">
                <span class="oi oi-eye"></span>
            </a>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col r-form-group-label mb-0">
        <label class="rr-premises-label mb-1" for="Hb">Нб</label>
        <input id="Hb" name="Nb" value="@(paymentInfo[0].Nb)"
               type="text" class="form-control" title="Нб">
    </div>
    <div class="form-group col r-form-group-label mb-0">
        <label class="rr-premises-label mb-1" for="Kc">Кс</label>
        <input id="Kc" name="Nb" value="@(paymentInfo[0].KC)"
               type="text" class="form-control" title="Кс">
    </div>
    <div class="form-group col r-form-group-label mb-0">
        <label class="rr-premises-label mb-1" for="K1">К1</label>
        <input id="K1" name="Nb" value="@(paymentInfo[0].K1)"
               type="text" class="form-control" title="К1">
    </div>
    <div class="form-group col r-form-group-label mb-0">
        <label class="rr-premises-label mb-1" for="K2">К2</label>
        <input id="K2" name="Nb" value="@(paymentInfo[0].K2)"
               type="text" class="form-control" title="К2">
    </div>
    <div class="form-group col r-form-group-label mb-0">
        <label class="rr-premises-label mb-1" for="K3">К3</label>
        <input id="K3" name="Nb" value="@(paymentInfo[0].K3)"
               type="text" class="form-control" title="К3">
    </div>
</div>
