@using RegistryWeb.Extensions
@using RegistryWeb.ViewOptions
@using RegistryWeb.Models.Entities
@using RegistryWeb.ViewModel
@model PremisesVM<Premise>

@{ 
    var paymentInfo = Model.PaymentsInfo.FirstOrDefault();
    if (paymentInfo == null) {
        paymentInfo = new PaymentsInfo();
    }
}

<div class="form-row">
    <div class="form-group col r-form-group-label">
        <label for="Payment">Размер платы до 28.08.2019</label>
        <input id="Payment" name="Payment" value="@(paymentInfo.Payment)" 
               type="text" class="form-control" title="Размер платы до 28.08.2019">
    </div>
    <div class="form-group col r-form-group-label">
            <label for="PaymentAfter">Размер платы после 28.08.2019</label>
            <input id="PaymentAfter" name="PaymentAfter" value="@(paymentInfo.PaymentAfter28082019)" 
                   type="text" class="form-control" title="Размер платы после 28.08.2019">
    </div>
</div>

<div class="form-row">
    <div class="form-group col r-form-group-label">
        <label class="rr-premises-label" for="Hb">Нб</label>
        <input id="Hb" name="Nb" value="@(paymentInfo.Nb)"
               type="text" class="form-control" title="Нб">
    </div>
    <div class="form-group col r-form-group-label">
        <label class="rr-premises-label" for="Kc">Кс</label>
        <input id="Kc" name="Nb" value="@(paymentInfo.KC)"
               type="text" class="form-control" title="Кс">
    </div>
    <div class="form-group col r-form-group-label">
        <label class="rr-premises-label" for="K1">К1</label>
        <input id="K1" name="Nb" value="@(paymentInfo.K1)"
               type="text" class="form-control" title="К1">
    </div>
    <div class="form-group col r-form-group-label">
        <label class="rr-premises-label" for="K2">К2</label>
        <input id="K2" name="Nb" value="@(paymentInfo.K2)"
               type="text" class="form-control" title="К2">
    </div>
    <div class="form-group col r-form-group-label">
        <label class="rr-premises-label" for="K3">К3</label>
        <input id="K3" name="Nb" value="@(paymentInfo.K3)"
               type="text" class="form-control" title="К3">
    </div>
</div>
