@using RegistryWeb.ViewModel
@using RegistryWeb.Models.Entities
@using RegistryWeb.Extensions;
@model PremisesVM<Premise>;
@{
    Context.Session.Set("Controller", "Premises");
    Context.Session.Set("Action", "PremiseReports");
    ViewData["Title"] = "Мастер массовых операций над помещениями";
    var text = "Количество записей: " + ViewBag.Count;
}

@section Scripts
{
    @*<script src="~/js/index.common.js" asp-append-version="true"></script>
        <script src="~/js/premises.index.js" asp-append-version="true"></script>*@
    <script src="~/js/premises.reports.js" asp-append-version="true"></script>
}

@section validation
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
}

<h1>@ViewData["Title"]</h1>

<h4>@text</h4>

<div class="form-row">
    <div class="form-group col-md-3 col-lg-3">
        <a class="form-control btn btn-primary" asp-controller="Premises" asp-action="Index" asp-route-isBack="true">Назад</a>
    </div>
    <div class="form-group col-md-3 col-lg-3">
        <a class="form-control btn btn-primary" asp-controller="Premises" asp-action="SessionIdPremisesClear">Очистить</a>
    </div>
    @*<div class="input-group col">
            <input type="text" class="form-control col" title="№ по реестру" placeholder="№ по реестру" />
            <div class="input-group-append h-auto d-inline-block">
                <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
            </div>
        </div>*@
    <div class="form-group col-md-3 col-lg-3">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle col-md-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-document"></span>  Отчёты
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" href="#" id="massexcerpt">Выписка</button>
                <button class="dropdown-item" href="#" id="massreference">Справки о площади помещения</button>
                <button class="dropdown-item" href="#" id="massact">Акт проверки факта о проживании</button>
                <button class="dropdown-item" href="#" id="export">Экспорт</button>
                <button class="dropdown-item" href="#" id="hiringhistory">История найма</button>
            </div>
        </div>
    </div>

    <div class="form-group col-md-3 col-lg-3">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle col-md-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-pencil"></span>  Операции
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" href="#" id="restriction">Проставить реквизиты</button>
                <button class="dropdown-item" href="#" id="moreinformation" data-id-modal="0">Проставить дополнительные сведения</button>
                <button class="dropdown-item" href="#" id="ownershipright">Проставить ограничения</button>
                <button class="dropdown-item" href="#" id="currentstate" data-id-modal="1">Проставить текущее состояние</button>
                <button class="dropdown-item" href="#" id="dateRMI" data-id-modal="2">Проставить дату включения в РМИ</button>
            </div>
        </div>
    </div>

</div>

@*<div class="form-row">
        <div class="form-group col-md-4">
            <a class="btn btn-success" href="#" id="massexcerpt">Выписка</a>
        </div>
        <div class="form-group col-md-4">
            <button class="btn btn-success" href="#" id="massreference">Справки о площади помещения</button>
        </div>
        <div class="form-group col-md-4">
            <a class="btn  btn-success" href="#" id="massact">Акт проверки факта о проживании</a>
        </div>
    </div>*@


<table class="table table-hover">
    <thead>
        <tr>
            <th>№ по реестру</th>
            <th>Адрес</th>
            <th width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Premises)
        {
            <tr>
                <td id="prem">@item.IdPremises</td>
                <td>@item.IdBuildingNavigation?.IdStreetNavigation?.StreetLong, д. @item.IdBuildingNavigation?.House</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                           asp-action="Details" asp-controller="Premises" asp-route-idPremises="@item.IdPremises"></a>
                        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                           asp-action="SessionIdBuildingRemove" asp-controller="Premises" asp-route-idPremises="@item.IdPremises"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="ReportsModals" model="@Model">