@using RegistryWeb.Extensions
@using RegistryWeb.ViewOptions
@using RegistryWeb.Models.Entities
@using RegistryWeb.ViewModel
@using RegistryWeb.SecurityServices;
@using RegistryWeb.DataHelpers;
@model PremisesVM<Premise>
@{
    ViewBag.addressType = "Premise";

    var securityService = (SecurityService)ViewBag.SecurityService;
    if (ViewBag.Action == ActionTypeEnum.Create)
    {
        ViewData["Title"] = "Создание нового помещения";
    }
    else
    {
        ViewData["Title"] = "Помещение №" + Model.Premise.IdPremises;
    }
    var premiseAddress = Model.Premise.IdBuildingNavigation?.IdStreetNavigation?.StreetLong + ", д." +
        Model.Premise.IdBuildingNavigation?.House + ", " +
        Model.Premise.IdPremisesTypeNavigation?.PremisesTypeShort + Model.Premise.PremisesNum;
}

@section styles
    {
    <link rel="stylesheet" href="~/css/premise.css" runat="server" />
}

@section scripts
    {
    <script src="~/js/premises.js" asp-append-version="true"></script>
    <script src="~/js/premises.reports.js" asp-append-version="true"></script>
}

<form asp-controller="Premise" enctype="multipart/form-data" asp-action="@ViewBag.Action" id="r-premises-form" data-action="@ViewBag.Action" data-addressType="@(ViewBag.addressType=="Premise" ? "3" : "")" method="post">
    <div class="card">
        <input type="hidden" asp-for="@Model.Premise.IdPremises" />
        <input type="hidden" asp-for="@Model.Premise.IdPremisesKind" value="1" />
        <input type="hidden" value="@Model.Premise.IdBuilding" name="IdBuildingPrev" />
        <input type="hidden" value="@Model.Premise.IdBuildingNavigation?.IdStreet" name="IdStreetPrev" />
        <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
        <div class="card-header d-flex flex-column flex-lg-row">
            <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0">@ViewData["Title"]</label>
            <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
                @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                {
                    <a class="btn btn-success" title="Здание" aria-label="Здание" asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@Model.Premise.IdBuilding" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">
                        <span class="oi oi-home"></span>
                    </a>
                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        @if (ViewBag.Action == ActionTypeEnum.Details && (securityService.HasPrivilege(Privileges.RegistryWriteMunicipal) || securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal) || (ViewBag.CanEditResettleInfo ?? false) || (ViewBag.CanEditLitigationInfo ?? false)))
                        {
                            <div class="btn-group" role="group" aria-label="Панель доступа">
                                <button class="btn btn-primary dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@Model.Premise.IdPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="oi oi-wrench"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="toolsBtn_@Model.Premise.IdPremises">
                                    <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                       asp-controller="Premises" asp-action="Edit" asp-route-idPremises="@Model.Premise.IdPremises" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                                    <a class="btn btn-danger oi oi-x @(ViewBag.CanDeleteBaseInfo ?? false ? "" : "disabled")" title="Удалить" aria-label="Удалить"
                                       asp-controller="Premises" asp-action="Delete" asp-route-idPremises="@Model.Premise.IdPremises" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                                </div>
                            </div>
                        }

                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-dark dropdown-toggle" type="button" title="Связанные объекты" aria-label="Связанные объекты" id="objectsBtn_@Model.Premise.IdPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-grid-two-up"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="objectsBtn_@Model.Premise.IdPremises">
                                <a class="dropdown-item" title="История фонда" aria-label="История фонда"
                                   asp-controller="FundsHistory" asp-action="Index" asp-route-idObject="@Model.Premise.IdPremises" asp-route-typeObject="Premise" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">История фонда</a>

                                @if (securityService.HasPrivilege(Privileges.TenancyRead))
                                {
                                    <a class="dropdown-item" title="Найм помещения" aria-label="Найм помещения"
                                       asp-controller="TenancyProcesses" asp-action="Index"
                                       asp-route-filterOptions.IdPremises="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.AddressType="Premise"
                                       asp-route-filterOptions.Address.Id="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.Text="@premiseAddress">Процессы найма</a>
                                }
                                @if (securityService.HasPrivilege(Privileges.OwnerRead))
                                {
                                    <a class="dropdown-item" title="Собственники помещения" aria-label="Собственники помещения"
                                       asp-controller="OwnerProcesses" asp-action="Index"
                                       asp-route-filterOptions.Address.AddressType="Premise"
                                       asp-route-filterOptions.Address.Id="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.Text="@premiseAddress">Процессы собственности</a>
                                }
                                @if (securityService.HasPrivilege(Privileges.ClaimsRead))
                                {
                                    <a class="dropdown-item" title="Лицевые счета БКС" aria-label="Лицевые счета"
                                       asp-controller="PaymentAccounts" asp-action="Index"
                                       asp-route-filterOptions.IdPremises="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.AddressType="Premise"
                                       asp-route-filterOptions.Address.Id="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.Text="@premiseAddress">Лицевые счета БКС</a>
                                    <a class="dropdown-item" title="Исковые работы" aria-label="Исковые работы"
                                       asp-controller="Claims" asp-action="Index"
                                       asp-route-filterOptions.IdPremises="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.AddressType="Premise"
                                       asp-route-filterOptions.Address.Id="@Model.Premise.IdPremises"
                                       asp-route-filterOptions.Address.Text="@premiseAddress">Исковые работы</a>
                                }
                            </div>
                        </div>

                        <div class="btn-group" role="group" aria-label="Отчеты">
                            <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@Model.Premise.IdPremises" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-document"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@Model.Premise.IdPremises">
                                <a class="dropdown-item rr-report-premise-excerpt" href="#" title="Выписка на помещение" aria-label="Выписка на помещение" data-id-premise="@Model.Premise.IdPremises">Выписка на помещение</a>
                                <a class="dropdown-item rr-report-mun-sub-premises-excerpt" href="#" title="Выписка на мун. комнаты" aria-label="Выписка на мун. комнаты" data-id-premise="@Model.Premise.IdPremises">Выписка на мун. комнаты</a>
                                <a class="dropdown-item rr-report-premise-notice-to-bks" href="#" title="Извещение в БКС" aria-label="Извещение в БКС" data-id-premise="@Model.Premise.IdPremises">Извещение в БКС</a>
                                <a class="dropdown-item rr-report-premise-area" href="#" title="Справка о площади помещения" aria-label="Справка о площади помещения" data-id-premise="@Model.Premise.IdPremises">Справка о площади помещения</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="btn-group" role="group" aria-label="Панель доступа">
                    @if (@ViewBag.ReturnUrl != null)
                    {
                        <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                    }
                    else
                    {
                        <a class="form-control btn btn-primary" asp-controller="Premises" asp-action="Index" asp-route-isBack="true">Назад</a>
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <input type="submit" value="Создать" id="createBtn" class="form-control btn btn-success" />
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Edit)
                    {
                        <input type="submit" value="Сохранить" id="editBtn" class="form-control btn btn-success  @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" />
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Delete)
                    {
                        <input type="submit" value="Удалить" class="form-control btn btn-danger" />
                    }

                    <a href="#" data-for="premise" class="form-control btn btn-primary premise-toggler" title="Развернуть помещение" style="font-weight:bold;">∧</a>
                </div>
            </div>
        </div>
        <div class="card-body pt-3 pb-3 pl-3 pr-3" id="premise">
            @if (TempData.ContainsKey("Error"))
            {
                <div class="col alert alert-danger">
                    @Html.Raw(TempData["Error"])
                </div>
            }
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-row">
                <div class="form-group col-lg-5 col-md-8 r-form-group-label mb-2">
                    <label class="mb-1" for="IdStreet">Улица</label>
                    <select class="selectpicker form-control" data-style="btn-info" data-live-search="true" id="IdStreet" name="IdStreet" title="Улица"
                            asp-items="@Model.KladrStreetsList">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-lg-2 col-md-4 r-form-group-label mb-2">

                    <label class="mb-1" asp-for="@Model.Premise.IdBuilding">Номер дома</label>
                    <select asp-for="@Model.Premise.IdBuilding" asp-items="@Model.HousesList"
                            class="selectpicker form-control" data-style="btn-info" data-live-search="true" title="Номер дома">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.Premise.IdBuilding" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-2 col-md-4 r-form-group-label mb-2">
                    <label class="rr-premises-label mb-1" asp-for="@Model.Premise.PremisesNum">Номер помещения</label>
                    <input type="text" class="form-control input-premise-num btn-info" asp-for="@Model.Premise.PremisesNum" maxlength="255" title="Номер помещения">
                    <span asp-validation-for="@Model.Premise.PremisesNum" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-3 col-md-8 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.IdPremisesType">Тип помещения</label>
                    <select class="selectpicker form-control" asp-for="@Model.Premise.IdPremisesType" title="Тип помещения"
                            asp-items="@Model.PremisesTypesList"></select>
                    <span asp-validation-for="@Model.Premise.IdPremisesType" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.IdState">Текущее состояние</label>
                    <select class="selectpicker form-control" data-style="btn-dark" data-live-search="true" asp-for="@Model.Premise.IdState" title="Текущее состояние"
                            asp-items="@Model.ObjectStatesList">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.Premise.IdState" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    @if ((ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete) && !ObjectStateHelper.IsMunicipal(Model.Premise.IdState))
                    {
                        <label class="mb-1" asp-for="@Model.IdFundType">Текущий фонд</label>
                        <select class="selectpicker form-control" data-live-search="true"
                                asp-items="@Model.FundTypesList" title="Текущее фонд">
                            <option></option>
                        </select>
                        <span asp-validation-for="@Model.IdFundType" class="text-danger"></span>
                    }
                    else
                   if (ViewBag.Action == ActionTypeEnum.Create || ((ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete) && ObjectStateHelper.IsMunicipal(Model.Premise.IdState)))
                    {
                        <label class="mb-1" asp-for="@Model.IdFundType">Текущий фонд</label>
                        <select class="selectpicker form-control" data-live-search="true" asp-for="@Model.IdFundType"
                                asp-items="@Model.FundTypesList" title="Текущее фонд">
                            <option></option>
                        </select>
                        <span asp-validation-for="@Model.IdFundType" class="text-danger"></span>
                    }
                    else
                   if (ViewBag.Action == ActionTypeEnum.Edit)
                    {
                        <label class="mb-1" asp-for="@Model.IdFundType">Текущий фонд</label>
                        <select disabled class="selectpicker form-control" data-live-search="true" asp-for="@Model.IdFundType"
                                asp-items="@Model.FundTypesList" title="Текущее фонд">
                            <option></option>
                        </select>
                        <span asp-validation-for="@Model.IdFundType" class="text-danger"></span>
                    }
                </div>

                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.IdPremisesComment">Примечание</label>
                    <select class="selectpicker form-control" data-style="@(Model.Premise.IdPremisesComment == 1 ? "btn-light" : "btn-danger")" data-live-search="true" asp-for="@Model.Premise.IdPremisesComment" title="Примечание"
                            asp-items="@Model.CommentList">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.Premise.IdPremisesComment" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.IdPremisesComment">Ключи</label>
                    <select class="selectpicker form-control" data-live-search="true" asp-for="@Model.Premise.IdPremisesDoorKeys" title="Ключи"
                            asp-items="@Model.LocationKeysList">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.Premise.IdPremisesDoorKeys" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.TotalArea">Общая площадь</label>
                    <input type="text" class="form-control decimal input-decimal" asp-for="@Model.Premise.TotalArea" title="Общая площадь">
                    <span asp-validation-for="@Model.Premise.TotalArea" class="text-danger"></span>
                </div>
                <div class="form-group col r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.LivingArea">Жилая площадь</label>
                    <input type="text" class="form-control decimal input-decimal" asp-for="@Model.Premise.LivingArea" title="Жилая площадь">
                    <span asp-validation-for="@Model.Premise.LivingArea" class="text-danger"></span>
                </div>
                <div class="form-group col r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.Height">Высота помещения</label>
                    <input type="text" class="form-control decimal input-decimal" asp-for="@Model.Premise.Height" title="Высота помещения">
                    <span asp-validation-for="@Model.Premise.Height" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.Floor">Этаж</label>
                    <input type="number" class="form-control input-numbers" asp-for="@Model.Premise.Floor" title="Этаж">
                    <span asp-validation-for="@Model.Premise.Floor" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.NumRooms">Кол-во комнат</label>
                    <input type="number" min="1" max="100" class="form-control input-numbers" asp-for="@Model.Premise.NumRooms" title="Кол-во комнат">
                    <span asp-validation-for="@Model.Premise.NumRooms" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.NumBeds">Кол-во койко-мест</label>
                    <input type="number" class="form-control input-numbers" asp-for="@Model.Premise.NumBeds" title="Кол-во койко-мест">
                    <span asp-validation-for="@Model.Premise.NumBeds" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.RegDate">Дата включения в РМИ</label>
                    <input type="date" asp-for="Premise.RegDate" value="@(Model.Premise.RegDate.ToString("yyyy-MM-dd"))" class="form-control" />
                    <span asp-validation-for="@Model.Premise.RegDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.CadastralNum">Кадастровый номер</label>
                    <input type="text" class="form-control input-cadastral-num" asp-for="@Model.Premise.CadastralNum" maxlength="20" title="Кадастровый номер">
                </div>
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.CadastralCost">Кадастровая стоимость</label>
                    <input type="text" class="form-control decimal input-decimal" asp-for="@Model.Premise.CadastralCost" title="Кадастровая стоимость">
                    <span asp-validation-for="@Model.Premise.CadastralCost" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.BalanceCost">Балансовая стоимость</label>
                    <input type="text" class="form-control decimal input-decimal" asp-for="@Model.Premise.BalanceCost" title="Балансовая стоимость">
                    <span asp-validation-for="@Model.Premise.BalanceCost" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-3 col-md-6 r-form-group-label mb-2">
                    <label class="mb-1" asp-for="@Model.Premise.Account">Лицевой счёт ФКР</label>
                    <input type="text" class="form-control" asp-for="@Model.Premise.Account" maxlength="255" title="Лицевой счёт ФКР">
                    <span asp-validation-for="@Model.Premise.Account" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col @((ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete) && securityService.HasPrivilege(Privileges.TenancyRead) ? "mb-2" : "mb-0")">
                    <label asp-for="@Model.Premise.Description">Дополнительные сведения</label>
                    <textarea asp-for="@Model.Premise.Description" class="form-control" rows="3" cols="10"></textarea>
                </div>
            </div>

            @if ((ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete) && securityService.HasPrivilege(Privileges.TenancyRead))
            {
                <partial name="PaymentPartialView" model="@Model" />
            }

        </div>
    </div>
</form>

@await Component.InvokeAsync("SubPremisesComponent", new { idPremise = Model.Premise.IdPremises, action = ViewBag.Action, address = premiseAddress, paymentsInfo = Model.PaymentsInfo ?? new List<PaymentsInfo>() })
@await Component.InvokeAsync("RestrictionsComponent", new { id = Model.Premise.IdPremises, type = AddressTypes.Premise, action = ViewBag.Action })
@await Component.InvokeAsync("OwnershipRightsComponent", new { address = new Address() { Id = Model.Premise.IdPremises.ToString(), AddressType = AddressTypes.Premise }, action = ViewBag.Action })
@await Component.InvokeAsync("ResettleInfoComponent", new { address = new Address() { Id = Model.Premise.IdPremises.ToString(), AddressType = AddressTypes.Premise }, action = ViewBag.Action })
@await Component.InvokeAsync("LitigationComponent", new { id = Model.Premise.IdPremises, type = AddressTypes.Premise, action = ViewBag.Action })

<partial name="ReportsModals" model="@Model">