@model RegistryWeb.Models.Entities.Premise;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@{
    var controller = Context.Session.Get<string>("Controller");
    var action = Context.Session.Get<string>("Action");
    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового помещения";
    }
    else
    {
        ViewData["Title"] = "Помещение №" + Model.IdPremises;
    }

    string GetTypeFund(Premise premise)
    {
        var fundsHistory = premise.FundsPremisesAssoc.Select(fpa => fpa.IdFundNavigation);
        var fundHistory = fundsHistory
            .FirstOrDefault(fh => fh.ExcludeRestrictionDate == null && fh.IdFund == fundsHistory.Max(f => f.IdFund));
        if (fundHistory == null)
            return "";
        return fundHistory.IdFundTypeNavigation.FundTypeName;
    }
}
@section scripts
    {
    <script src="~/js/building.common.js" asp-append-version="true"></script>
}
@section styles
    {
    <link rel="stylesheet" href="~/css/building.css" runat="server" />
}
<form asp-controller="Premise" asp-action="@ViewBag.Action" id="r-buildings-form" data-action="@ViewBag.Action" method="post">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <label class="form-check-label h2">@ViewData["Title"]</label>
            <div class="btn-group" role="group" aria-label="Панель доступа">
                <a class="form-control btn btn-primary" asp-controller="@controller" asp-action="@action" asp-route-isBack="true">Назад</a>
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" class="form-control btn btn-danger" />
                }
                <a href="#" id="buildingToggle" class="form-control btn btn-primary" title="Развернуть здание" style="font-weight:bold;">∧</a>
            </div>
        </div>
        <div class="card-body" id="building">
            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdBuildingNavigation.IdStreetNavigation.IdStreet">Улица</label>
                    <select class="form-control" asp-for="IdBuildingNavigation.IdStreetNavigation.IdStreet" title="Улица"
                            asp-items="@{new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName", Model.IdBuildingNavigation.IdStreet)}"></select>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdBuildingNavigation.House">Номер дома</label>
                    <input type="text" class="form-control" asp-for="IdBuildingNavigation.House" title="Номер дома">
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdPremisesTypeNavigation.PremisesTypeName">@Model.IdPremisesTypeNavigation.PremisesTypeName</label>
                    @*<select class="form-control" asp-for="IdState" title="Улица"
                asp-items="@{new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName", Model.IdBuildingNavigation.IdStreet)}"></select>*@
                    <input type="text" class="form-control" asp-for="PremisesNum" title="Номер квартиры">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="Floor">Этаж</label>
                    <input type="text" class="form-control" asp-for="Floor" title="Этаж">
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="NumRooms">Кол-во комнат</label>
                    <input type="text" class="form-control" asp-for="NumRooms" title="Кол-во комнат">
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="NumBeds">Кол-во койко-мест</label>
                    <input type="text" class="form-control" asp-for="NumBeds" title="Кол-во койко-мест">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="RegDate">Дата включения в РМИ</label>
                    <input type="text" class="form-control" asp-for="RegDate" title="Дата включения в РМИ">
                </div>
                <br />
                <div class="form-group col r-form-group-label">
                    <label asp-for="RegDate">Размер платы от 28.08.2019</label>
                    <input type="text" class="form-control" value="0.00" title="Размер платы от 28.08.2019">@*asp-for="RegDate"*@
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="RegDate">Размер платы до 28.08.2019</label>
                    <input type="text" class="form-control" value="0.00" title="Размер платы от 28.08.2019">@*asp-for="RegDate"*@
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="CadastralNum">Нб</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="Account">Кс</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="CadastralCost">К1</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="BalanceCost">К2</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="BalanceCost">К3</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" value="0.00" title="Нб">@*asp-for="CadastralNum" *@
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" value="0.00" title="Кс">@* asp-for="Account"*@
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" value="0.00" title="К1">@* asp-for="LivingArea"*@
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" value="0.00" title="К2">@* asp-for="BalanceCost"*@
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" value="0.00" title="К3">@* asp-for="BalanceCost"*@
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="CadastralNum">Кадастровый номер</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="Account">Лицевой счёт ФКР</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="CadastralCost">Кадастровая стоимость</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="BalanceCost">Балансовая стоимость</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="CadastralNum" title="Кадастровый номер">
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="Account" title="Лицевой счёт ФКР">
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="LivingArea" title="Кадастровая стоимость">
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="BalanceCost" title="Балансовая стоимость">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdState">Текущее состояние</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdPremisesCommentNavigation.PremisesCommentText">Примечание</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="IdPremisesDoorKeysNavigation.LocationOfKeys">Ключи</label>
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="FundsPremisesAssoc">Текущий фонд</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="BalanceCost" title="Текущее состояние">
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="IdPremisesCommentNavigation.PremisesCommentText" title="Примечание">
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" asp-for="IdPremisesDoorKeysNavigation.LocationOfKeys" title="Ключи">
                </div>
                <div class="form-group col r-form-group-label">
                    <input type="text" class="form-control" value="@GetTypeFund(Model)" title="Текущий фонд" readonly><!--*asp-for=""-->
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col r-form-group-label">
                    <label asp-for="TotalArea">Общая площадь</label>
                    <input type="text" class="form-control" asp-for="TotalArea" title="Общая площадь">
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="LivingArea">Жилая площадь</label>
                    <input type="text" class="form-control" asp-for="LivingArea" title="Жилая площадь">
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="LivingArea">Площадь мун. комнат</label>
                    <input type="text" class="form-control" value="0" title="Площадь мун. комнат">@*asp-for="LivingArea"*@
                </div>
                <div class="form-group col r-form-group-label">
                    <label asp-for="Height">Высота помещения</label>
                    <input type="text" class="form-control" asp-for="Height" title="Высота помещения">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Description">Дополнительные сведения</label>
                    <textarea class="form-control" rows="3" cols="10"></textarea>
                </div>
            </div>
            <br />@*&nbsp;*@
            <!--Комнаты-->
            <div class="form-row">
                <div class="form-group col">
                    @await Component.InvokeAsync("OwnershipRightsComponent", new { id = Model.IdPremises, type = AddressTypes.Premise, action = ViewBag.Action })
                </div>
            </div>
            @*
            <!--Реквизиты-->
            <div class="form-row">
                <div class="form-group col">
                    @await Component.InvokeAsync("OwnershipRightsComponent", new { id = Model.IdPremises, type = AddressTypes.Premise, action = ViewBag.Action })
                </div>
            </div>

            <!--Ограничения-->
            <div class="form-row">
                <div class="form-group col">
                    @await Component.InvokeAsync("OwnershipRightsComponent", new { id = Model.IdPremises, type = AddressTypes.Premise, action = ViewBag.Action })
                </div>
            </div>
            *@
        </div>
        </div>
</form>
