@model IEnumerable<RegistryDb.Models.Entities.Tenancies.TenancyProcess>;
@if (Model.Count() > 0)
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Номер</th>
            <th>№ договора</th>
            <th>Дата регистрации договора</th>
            <th>Дата окончания договора</th>
            <th>Тип найма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tp in Model)
        {
            <tr>
                <td>
                    <a title="Процесс найма № @tp.IdProcess" target="_blank"
                       asp-controller="TenancyProcesses" asp-action="Details"
                       asp-route-returnUrl="@ViewBag.ReturnUrl"
                       asp-route-idProcess="@tp.IdProcess">@tp.IdProcess</a>
                </td>
                <td>@tp.RegistrationNum</td>
                <td>@(tp.RegistrationDate.HasValue ? tp.RegistrationDate.Value.ToString("dd.MM.yyyy") : "")</td>
                <td>@(tp.EndDate.HasValue ? tp.EndDate.Value.ToString("dd.MM.yyyy") : "")</td>
                <td>@tp.IdRentTypeNavigation.RentTypeName</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <i>Отсутствуют</i>
}