@using RegistryWeb.ViewModel
@using RegistryWeb.Models.Entities;
@model FundHistoryVM;

@{ 
    var i=0;
}
<div id="fundshistory">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер протокола</th>
                <th>Дата протокола</th>
                <th>Тип найма</th>
                
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FundsHistory)
            {
                <tr class="hover" id="@(i)fund">
                    <input type="hidden" asp-for="@item.IdFund" />
                    @{i = i + 1;}
                    <td>@item.ProtocolNumber</td>
                    <td>@item.ProtocolDate</td>
                    <td>@item.IdFundTypeNavigation.FundTypeName</td>
                    
                    <td>
                        <a class="btn btn-outline-dark oi oi-pencil" id="edit" title="Изменить" aria-label="Изменить"
                           asp-controller="FundsHistory" asp-action="Edit" asp-route-idFund="@item.IdFund" asp-route-action="Edit"></a>
                        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                           asp-controller="FundsHistory" asp-action="Delete" asp-route-idFund="@item.IdFund"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>