@using RegistryWeb.ViewModel
@using RegistryDb.Models.Entities;
@model FundHistoryVM;

@{
    var i = 0;
}
<div id="fundshistory">
    <table class="table">
        <thead>
            <tr>
                <th>НПА вкл. в фонд</th>
                <th>НПА искл. из фонда</th>
                <th>Тип найма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FundsHistory)
            {
                var included = !string.IsNullOrEmpty(item.IncludeRestrictionNumber) || item.IncludeRestrictionDate.HasValue ||
                    !string.IsNullOrEmpty(item.IncludeRestrictionDescription);
                var excluded = !string.IsNullOrEmpty(item.ExcludeRestrictionNumber) || item.ExcludeRestrictionDate.HasValue ||
                    !string.IsNullOrEmpty(item.ExcludeRestrictionDescription);

                <tr class="hover @(included && !excluded ? "included" : "") @(excluded ? "excluded" : "")">
                    <td>
                        <input type="hidden" asp-for="@item.IdFund" />
                        @if (!string.IsNullOrEmpty(item.IncludeRestrictionNumber))
                        {
                            <span>№ @item.IncludeRestrictionNumber</span>
                        }
                        @if (item.IncludeRestrictionDate.HasValue)
                        {
                            <span>от @item.IncludeRestrictionDate.Value.ToString("dd.MM.yyyy")</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ExcludeRestrictionNumber))
                        {
                            <span>№ @item.ExcludeRestrictionNumber</span>
                        }
                        @if (item.ExcludeRestrictionDate.HasValue)
                        {
                            <span>от @item.ExcludeRestrictionDate.Value.ToString("dd.MM.yyyy")</span>
                        }
                    <td>
                        @item.IdFundTypeNavigation.FundTypeName</td>
                    <td class="text-center">
                        <a class="btn btn-outline-dark oi oi-pencil" id="edit" title="Изменить" aria-label="Изменить"
                           asp-action="Edit" asp-route-idFund="@item.IdFund" asp-route-IdObject="@ViewBag.idObject" asp-route-typeObject="@ViewBag.typeObject" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                        <a class="btn btn-danger oi oi-x" id="delete" title="Удалить" aria-label="Удалить"
                           asp-action="Delete" asp-route-idFund="@item.IdFund" asp-route-IdObject="@ViewBag.idObject" asp-route-typeObject="@ViewBag.typeObject" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>