@using RegistryWeb.Models
@model TenancyRentObject

@{
    var id = Guid.NewGuid();
    var idStreet = "0";
    var idBuilding = "0";
    var idPremises = "0";
    var idSubPremises = "0";
    if (Model.Address.AddressType == AddressTypes.Building)
    {
        idBuilding = Model.Address.Id;
        idStreet = Model.Address.IdParents[AddressTypes.Street.ToString()];
    }
    if (Model.Address.AddressType == AddressTypes.Premise)
    {
        idPremises = Model.Address.Id;
        idBuilding = Model.Address.IdParents[AddressTypes.Building.ToString()];
        idStreet = Model.Address.IdParents[AddressTypes.Street.ToString()];
    }
    if (Model.Address.AddressType == AddressTypes.SubPremise)
    {
        idSubPremises = Model.Address.Id;
        idPremises = Model.Address.IdParents[AddressTypes.Premise.ToString()];
        idBuilding = Model.Address.IdParents[AddressTypes.Building.ToString()];
        idStreet = Model.Address.IdParents[AddressTypes.Street.ToString()];
    }
}

<li class="list-group-item">
    <input type="hidden" value="@idStreet" name="IdStreetPrev_@id" />
    <input type="hidden" value="@idBuilding" name="IdBuildingPrev_@id" />
    <input type="hidden" value="@idPremises" name="IdPremisesPrev_@id" />
    <input type="hidden" value="@idSubPremises" name="IdSubPremisesPrev_@id" />
    <input type="hidden" value="@Model.Address.AddressType" name="AddressTypePrev_@id" />
    <div class="form-row">
        <div class="form-group col-12 col-lg-4">
            <label>Улица</label>
            <select class="selectpicker form-control" data-live-search="true" disabled
                    id="IdStreet_@id" name="IdStreet_@id" title="Улица" data-val="true" data-val-required="Выберите улицу">
                <option></option>
                @foreach (var street in ViewBag.Streets)
                {
                    if (street.IdStreet == idStreet)
                    {
                        <option value="@street.IdStreet" selected>@street.StreetName.Replace("жилрайон.", "ж.р.")</option>
                    }
                    else
                    {
                        <option value="@street.IdStreet">@street.StreetName.Replace("жилрайон.", "ж.р.")</option>
                    }
                }
            </select>
            <span class="text-danger field-validation-valid" data-valmsg-for="IdStreet_@id" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
            <label>Дом</label>
            <select class="selectpicker form-control" data-live-search="true" disabled
                    id="IdBuilding_@id" name="IdBuilding_@id" title="Дом" data-val="true" data-val-required="Выберите дом">
                <option></option>
            </select>
            <span class="text-danger field-validation-valid" data-valmsg-for="IdBuilding_@id" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
            <label>Помещение</label>
            <select class="selectpicker form-control" data-live-search="true" disabled
                    id="IdPremises_@id" name="IdPremises_@id" title="Помещение">
                <option></option>
            </select>
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
            <label>Комната</label>
            <select class="selectpicker form-control" data-live-search="true" disabled
                    id="IdSubPremises_@id" name="IdSubPremises_@id" title="Комната">
                <option></option>
            </select>
        </div>

        @if (ViewBag.Action == "Edit")
        {
            <div class="text-md-right text-center col-md-3 col-lg-2 rr-tenancy-rent-objects-edit-buttons d-none d-md-block">
                <div class="btn-group yes-no-panel" role="group" style="display: none" aria-label="Панель подтверждения">
                    <a class="btn btn-danger tenancy-rent-object-cancel-btn" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
                    <a class="btn btn-success tenancy-rent-object-save-btn" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                </div>
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                    <a class="btn btn-primary tenancy-rent-object-edit-btn" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger tenancy-rent-object-delete-btn" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Create")
        {
            <a class="tenancy-rent-object-edit-btn" style="display: none"></a>
            <div class="text-md-right text-center col-md-3 col-lg-2 rr-tenancy-rent-objects-edit-buttons d-none d-md-block">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-danger tenancy-rent-object-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
        {
            <div class="text-md-right text-center col-md-3 col-lg-2 rr-tenancy-rent-objects-view-buttons d-none d-md-block">
                @if (Model.Address.AddressType == AddressTypes.Building)
                {
                    <a class="btn btn-primary oi oi-eye" title="Перейти на карточку объекта найма" aria-label="Перейти на карточку объекта найма"
                       asp-controller="Buildings" asp-action="Details" asp-route-idBuilding="@Model.Address.Id" asp-route-action="Details"
                       asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                }
                @if (Model.Address.AddressType == AddressTypes.Premise)
                {
                    <a class="btn btn-primary oi oi-eye" title="Перейти на карточку объекта найма" aria-label="Перейти на карточку объекта найма"
                       asp-controller="Premises" asp-action="Details" asp-route-idPremises="@Model.Address.Id" asp-route-action="Details"
                       asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                }
                @if (Model.Address.AddressType == AddressTypes.SubPremise)
                {
                    <a class="btn btn-primary oi oi-eye" title="Перейти на карточку объекта найма" aria-label="Перейти на карточку объекта найма"
                       asp-controller="Premises" asp-action="Details" asp-route-idPremises="@Model.Address.IdParents[AddressTypes.Premise.ToString()]" asp-route-action="Details"
                       asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                }
            </div>
        }
    </div>
    @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
    {
        <div class="form-row">
            <div class="form-group col-4">
                <label class="rr-tenancy-rent-object-label">Общая площадь</label>
                <input type="text" class="form-control" asp-for="TotalArea" title="Общая площадь">
            </div>
            <div class="form-group col-4">
                <label class="rr-tenancy-rent-object-label">Жилая площадь</label>
                <input type="text" class="form-control" asp-for="LivingArea" title="Жилая площадь">
            </div>
            <div class="form-group col-4">
                <label class="rr-tenancy-rent-object-label">Площадь койко-места</label>
                <input type="text" class="form-control" asp-for="RentArea" title="Площадь койко-места">
            </div>
        </div>
    }
    <div class="form-row d-block d-md-none">
        @if (ViewBag.Action == "Edit")
        {
            <div class="text-md-right text-center col-md-3 col-lg-2 rr-tenancy-rent-objects-edit-buttons">
                <div class="btn-group yes-no-panel" role="group" style="display: none" aria-label="Панель подтверждения">
                    <a class="btn btn-danger tenancy-rent-object-cancel-btn" title="Отменить сохранение" aria-label="Отменить сохранение" href="#"><span class="oi oi-x"></span></a>
                    <a class="btn btn-success tenancy-rent-object-save-btn" title="Сохранить" aria-label="Сохранить" href="#"><span class="oi oi-check"></span></a>
                </div>
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель реадктирования">
                    <a class="btn btn-primary tenancy-rent-object-edit-btn" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger tenancy-rent-object-delete-btn" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Create")
        {
            <a class="tenancy-rent-objects-edit-btn" style="display: none"></a>
            <div class="text-md-right text-center col-md-3 col-lg-2 rr-tenancy-rent-objects-edit-buttons">
                <div class="btn-group yes-no-panel" role="group" aria-label="Панель подтверждения">
                    <a class="btn btn-danger tenancy-rent-object-cancel-btn" title="Нет" aria-label="Нет" href="#"><span class="oi oi-x"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
        {
            <div class="text-md-right text-center col-md-3 col-lg-2 rr-tenancy-rent-objects-view-buttons">
                @if (Model.Address.AddressType == AddressTypes.Building)
                {
                    <a class="btn btn-primary oi oi-eye" title="Перейти на карточку объекта найма" aria-label="Перейти на карточку объекта найма"
                       asp-controller="Buildings" asp-action="Details" asp-route-idBuilding="@Model.Address.Id" asp-route-action="Details"
                       asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                }
                @if (Model.Address.AddressType == AddressTypes.Premise)
                {
                    <a class="btn btn-primary oi oi-eye" title="Перейти на карточку объекта найма" aria-label="Перейти на карточку объекта найма"
                       asp-controller="Premises" asp-action="Details" asp-route-idPremises="@Model.Address.Id" asp-route-action="Details"
                       asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                }
                @if (Model.Address.AddressType == AddressTypes.SubPremise)
                {
                    <a class="btn btn-primary oi oi-eye" title="Перейти на карточку объекта найма" aria-label="Перейти на карточку объекта найма"
                       asp-controller="Premises" asp-action="Details" asp-route-idPremises="@Model.Address.IdParents[AddressTypes.Premise.ToString()]" asp-route-action="Details"
                       asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                }
            </div>
        }
    </div>
</li>