@using RegistryWeb.Extensions
@model RegistryWeb.ViewModel.TenancyProcessVM;
@{

    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового процесса собственности";
    }
    else
    {
        ViewData["Title"] = "Найм жилья №" + Model.TenancyProcess.IdProcess;
    }
}

@section styles {
    <link href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/tenancy.processes.css" runat="server" />
}

<form asp-controller="TenancyProcesses" asp-action="@ViewBag.Action" id="r-ownerprocess-form" data-action="@ViewBag.Action" method="post">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <label class="form-check-label h2">@ViewData["Title"]</label>
            <div class="btn-group" role="group" aria-label="Панель доступа">
                <a class="form-control btn btn-primary" asp-controller="TenancyProcesses" asp-action="Index" asp-route-isBack="true">Назад</a>
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" class="form-control btn btn-danger" />
                }
                <a href="#" data-for="TenancyProcess" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть процесс найма" style="font-weight:bold;">∧</a>
            </div>
        </div>
        <div class="card-body" id="TenancyProcess">
            <input type="hidden" asp-for="TenancyProcess.IdProcess" />
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.IdRentType">Тип найма жилья</label>
                    <select class="form-control" asp-for="TenancyProcess.IdRentType" asp-items="@(new SelectList(Model.RentTypes, "IdRentType", "RentTypeName"))">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.IdRentTypeCategory">Категория права</label>
                    <select class="form-control" asp-for="TenancyProcess.IdRentTypeCategory" asp-items="@(new SelectList(Model.RentTypeCategories, "IdRentTypeCategory", "RentTypeCategoryName"))">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Стоимость найма жилья</label>
                    <input class="form-control" type="text" value="0,00" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.IdExecutor">Исполнитель/составитель</label>
                    <select class="form-control" asp-for="TenancyProcess.IdExecutor" asp-items="@(new SelectList(Model.Executors, "IdExecutor", "ExecutorName"))">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.BeginDate">Дата начала найма жилья</label>
                    <input type="date" class="form-control" asp-for="TenancyProcess.BeginDate"
                           value="@(Model.TenancyProcess.BeginDate.HasValue ? Model.TenancyProcess.BeginDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата начала найма жилья">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.IdRentTypeCategory">Дата окончания найма жилья</label>
                    <input type="date" class="form-control" asp-for="TenancyProcess.EndDate"
                           value="@(Model.TenancyProcess.EndDate.HasValue ? Model.TenancyProcess.EndDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания найма жилья">
                </div>
                <div class="form-check offset-md-6 col-md-6 rr-until-dismissal-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="TenancyProcess.UntilDismissal">
                    <label class="form-check-label" asp-for="TenancyProcess.UntilDismissal">На период трудовых отношений / пролонгирован</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 rr-tenancy-card">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Сдача в поднаем</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessSubTenancy" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель разрешения на сдачу в поднаем" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <div id="TenancyProcessSubTenancy" class="card-body">
                            <div class="form-group">
                                <label asp-for="TenancyProcess.SubTenancyNum">Номер реквизита разрешения</label>
                                <input type="text" class="form-control" asp-for="TenancyProcess.SubTenancyNum" title="Номер реквизита разрешения">
                            </div>
                            <div class="form-group">
                                <label asp-for="TenancyProcess.SubTenancyDate">Дата выдачи разрешения</label>
                                <input type="date" class="form-control" asp-for="TenancyProcess.SubTenancyDate"
                                       value="@(Model.TenancyProcess.SubTenancyDate.HasValue ? Model.TenancyProcess.SubTenancyDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата выдачи разрешения">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 rr-tenancy-card">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Предыдущие периоды найма</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessRentPeriods" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель предыдущих периодов найма" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <table id="TenancyProcessRentPeriods" class="table table-bordered card-body">
                            <thead>
                                <tr>
                                    <th>С</th>
                                    <th>По</th>
                                    <th>На период ТО</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TenancyProcess.TenancyRentPeriods != null && Model.TenancyProcess.TenancyRentPeriods.Any())
                                {
                                    for (var i = 0; i < Model.TenancyProcess.TenancyRentPeriods.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="date" class="form-control" asp-for="TenancyProcess.TenancyRentPeriods[i].BeginDate"
                                                       value="@(Model.TenancyProcess.TenancyRentPeriods[i].BeginDate.HasValue ? Model.TenancyProcess.TenancyRentPeriods[i].BeginDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата начала периода">
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" asp-for="TenancyProcess.TenancyRentPeriods[i].EndDate"
                                                       value="@(Model.TenancyProcess.TenancyRentPeriods[i].EndDate.HasValue ? Model.TenancyProcess.TenancyRentPeriods[i].EndDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания периода">
                                            </td>
                                            <td class="text-center rr-sub-rent-table-untill-dismissal-checkbox">
                                                <input type="checkbox" class="form-check" asp-for="TenancyProcess.TenancyRentPeriods[i].UntilDismissal" />
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="3"><i>Предыдущие периоды найма отсутстувуют</i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 rr-tenancy-card">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Договор найма</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessContract" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель договора найма" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <div id="TenancyProcessContract" class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="TenancyProcess.RegistrationNum">Номер договора найма</label>
                                    <input type="text" class="form-control" asp-for="TenancyProcess.RegistrationNum" title="Номер договора найма">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="rr-tenancy-label" asp-for="TenancyProcess.RegistrationDate">Дата регистрации договора</label>
                                    <input type="date" class="form-control" asp-for="TenancyProcess.RegistrationDate"
                                           value="@(Model.TenancyProcess.RegistrationDate.HasValue ? Model.TenancyProcess.RegistrationDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата регистрации договора">
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="TenancyProcess.IssueDate">Дата выдачи договора</label>
                                    <input type="date" class="form-control" asp-for="TenancyProcess.IssueDate"
                                           value="@(Model.TenancyProcess.IssueDate.HasValue ? Model.TenancyProcess.IssueDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата выдачи договора">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card rr-tenancy-card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Прочие основания найма</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessReasons" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель прочих оснований найма жилья" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <table id="TenancyProcessReasons" class="table table-bordered card-body">
                            <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>№</th>
                                    <th>Дата</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TenancyProcess.TenancyReasons != null && Model.TenancyProcess.TenancyReasons.Any())
                                {
                                    for (var i = 0; i < Model.TenancyProcess.TenancyReasons.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <select class="form-control" asp-for="TenancyProcess.TenancyReasons[i].IdReasonType" asp-items="@(new SelectList(Model.TenancyReasonTypes, "IdReasonType", "ReasonName"))">
                                                    <option></option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TenancyProcess.TenancyReasons[i].ReasonNumber" title="Номер основания найма">
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" asp-for="TenancyProcess.TenancyReasons[i].ReasonDate"
                                                       value="@(Model.TenancyProcess.TenancyReasons[i].ReasonDate.HasValue ? Model.TenancyProcess.TenancyReasons[i].ReasonDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата основания найма">
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="3"><i>Прочие основания найма отсутствуют</i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card rr-tenancy-card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Дополнительные соглашения</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessAgreements" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель дополнительных соглашений" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <table id="TenancyProcessAgreements" class="table table-bordered card-body">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Содержание</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TenancyProcess.TenancyAgreements != null && Model.TenancyProcess.TenancyAgreements.Any())
                                {
                                    for (var i = 0; i < Model.TenancyProcess.TenancyAgreements.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="date" class="form-control" asp-for="TenancyProcess.TenancyAgreements[i].AgreementDate"
                                                       value="@(Model.TenancyProcess.TenancyAgreements[i].AgreementDate.HasValue ? Model.TenancyProcess.TenancyAgreements[i].AgreementDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата соглашения">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TenancyProcess.TenancyAgreements[i].AgreementContent" title="@Model.TenancyProcess.TenancyAgreements[i].AgreementContent">
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="3"><i>Дополнительные соглашения отсутствуют</i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card rr-tenancy-card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Участники найма</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessPersons" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель участников найма" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <table id="TenancyProcessPersons" class="table table-bordered card-body">
                            <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Дата рождения</th>
                                    <th>Родственные отношения</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TenancyProcess.TenancyPersons != null && Model.TenancyProcess.TenancyPersons.Any())
                                {
                                    for (var i = 0; i < Model.TenancyProcess.TenancyPersons.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TenancyProcess.TenancyPersons[i].Surname" title="Фамилия">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TenancyProcess.TenancyPersons[i].Name" title="Имя">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TenancyProcess.TenancyPersons[i].Patronymic" title="Отчество">
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" asp-for="TenancyProcess.TenancyPersons[i].DateOfBirth"
                                                       value="@(Model.TenancyProcess.TenancyPersons[i].DateOfBirth.HasValue ? Model.TenancyProcess.TenancyPersons[i].DateOfBirth.Value.ToString("yyyy-MM-dd") : "")" title="Дата рождения">
                                            </td>
                                            <td>
                                                <select class="form-control" asp-for="TenancyProcess.TenancyPersons[i].IdKinship" asp-items="@(new SelectList(Model.Kinships, "IdKinship", "KinshipName"))">
                                                    <option></option>
                                                </select>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="5"><i>Наниматели отсутствуют</i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card rr-tenancy-card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Нанимаемое жилье</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessAddresses" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель нанимаемого жилья" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <table id="TenancyProcessAddresses" class="table table-bordered card-body">
                            <thead>
                                <tr>
                                    <th>Адрес</th>
                                    <th>Общая площадь</th>
                                    <th>Жилая площадь</th>
                                    <th>Площадь койко-места</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/address.common.js" asp-append-version="true"></script>
    <script src="~/js/tenancyProcess.common.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
    {
        <script>
            $(function () {
                $('select').prop('disabled', true);
                $('input').prop('disabled', true);
                $('textarea').prop('disabled', true);
                $('input[type="hidden"]').prop('disabled', false);
                $('input[type="submit"]').prop('disabled', false);
            })
        </script>
    }
}