@using RegistryWeb.Extensions
@using RegistryWeb.Enums;
@model RegistryWeb.ViewModel.TenancyProcessVM;
@{

    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового найма жилья";
    }
    else
    {
        ViewData["Title"] = "Найм жилья №" + Model.TenancyProcess.IdProcess;
    }
    ViewData["Id"] = Model.TenancyProcess.IdProcess;
    ViewData["TenancyReasonTypes"] = Model.TenancyReasonTypes;

    @*TenancyPersons*@
    ViewData["Kinships"] = Model.Kinships;
    ViewData["DocumentTypes"] = Model.DocumentTypes;
    ViewData["DocumentIssuedBy"] = Model.DocumentIssuedBy;
    ViewData["Streets"] = Model.Streets;
    ViewData["Executors"] = Model.Executors;
    ViewData["TenancyProlongRentReasons"] = Model.TenancyProlongRentReasons;
}

@section styles {
    <link href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/tenancy.processes.css" runat="server" />
}

<div class="card">
    <div class="card-header d-flex flex-column flex-lg-row">
        <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0">@ViewData["Title"]</label>

        <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
            @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
            {
                <div class="btn-group" role="group" aria-label="Панель доступа">
                    @if (ViewBag.Action == "Details" && ((ViewBag.CanEditBaseInfo ?? false) || (ViewBag.CanEditEmailsOnly ?? false)))
                    {
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@Model.TenancyProcess.IdProcess" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-wrench"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="toolsBtn_@Model.TenancyProcess.IdProcess">
                                <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                   asp-controller="TenancyProcesses" asp-action="Edit" asp-route-idProcess="@Model.TenancyProcess.IdProcess" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>

                                <a class="btn btn-outline-dark oi oi-layers @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" title="Копировать" aria-label="Копировать"
                                   asp-controller="TenancyProcesses" asp-action="Create" asp-route-idProcess="@Model.TenancyProcess.IdProcess" asp-route-action="Create" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                                <a class="btn btn-danger oi oi-x @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" title="Удалить" aria-label="Удалить"
                                   asp-controller="TenancyProcesses" asp-action="Delete" asp-route-idProcess="@Model.TenancyProcess.IdProcess" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            </div>
                        </div>
                    }

                    <div class="btn-group" role="group" aria-label="Отчеты">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@Model.TenancyProcess.IdProcess" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@Model.TenancyProcess.IdProcess">
                            <a class="dropdown-item rr-report-pre-contract" href="#" title="Предварительный договор" aria-label="Предварительный договор" data-id-process="@Model.TenancyProcess.IdProcess">Предварительный договор</a>
                            <a class="dropdown-item rr-report-dksr-contract" href="#" title="Договор (ДКСР)" aria-label="Договор (ДКСР)" data-id-process="@Model.TenancyProcess.IdProcess">Договор (ДКСР)</a>
                            @if (Model.TenancyProcess.IdRentType == 2)
                            {
                                <a class="dropdown-item rr-report-contract" href="#" title="Договор (форма 1711)" aria-label="Договор (форма 1711)" data-id-rent-type="@Model.TenancyProcess.IdRentType" data-contract-type="1" data-id-process="@Model.TenancyProcess.IdProcess">Договор (форма 1711)</a>
                                <a class="dropdown-item rr-report-contract" href="#" title="Договор (форма 1712)" aria-label="Договор (форма 1712)" data-id-rent-type="@Model.TenancyProcess.IdRentType" data-contract-type="2" data-id-process="@Model.TenancyProcess.IdProcess">Договор (форма 1712)</a>
                            }
                            else
                            {
                                <a class="dropdown-item rr-report-contract" href="#" title="Договор" aria-label="Договор" data-contract-type="1" data-id-rent-type="@Model.TenancyProcess.IdRentType" data-id-process="@Model.TenancyProcess.IdProcess">Договор</a>
                            }
                            <a class="dropdown-item rr-report-act-to-tenant" href="#" title="Акт передачи в найм" aria-label="Акт передачи в найм" data-id-process="@Model.TenancyProcess.IdProcess">Акт передачи в найм</a>
                            <a class="dropdown-item rr-report-act-from-tenant" href="#" title="Акт приема из найма" aria-label="Акт приема из найма" data-id-process="@Model.TenancyProcess.IdProcess">Акт приема из найма</a>
                            <a class="dropdown-item rr-report-act-af-tenant" href="#" title="Акт приема-передачи (АФ)" aria-label="Акт приема-передачи (АФ)" data-id-process="@Model.TenancyProcess.IdProcess">Акт приема-передачи (АФ)</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Уведомление о готовности документов" aria-label="Уведомление о готовности документов" data-report-type="1" data-id-process="@Model.TenancyProcess.IdProcess">Уведомление о готовности документов</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Уведомление о незаконном проживании" aria-label="Уведомление о незаконном проживании" data-report-type="4" data-id-process="@Model.TenancyProcess.IdProcess">Уведомление о незаконном проживании</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Уведомление о непродлении (аварийное)" aria-label="Уведомление о непродлении (аварийное)" data-report-type="5" data-id-process="@Model.TenancyProcess.IdProcess">Уведомление о непродлении (аварийное)</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Уведомление о непродлении (категории)" aria-label="Уведомление о непродлении (категории)" data-report-type="6" data-id-process="@Model.TenancyProcess.IdProcess">Уведомление о непродлении (категории)</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Предупреждение о нарушении условий" aria-label="Предупреждение о нарушении условий" data-report-type="3" data-id-process="@Model.TenancyProcess.IdProcess">Предупреждение о нарушении условий</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Уведомление о выселении из АФ" aria-label="Уведомление о выселении из АФ" data-report-type="7" data-id-process="@Model.TenancyProcess.IdProcess">Уведомление о выселении из АФ</a>
                            <a class="dropdown-item rr-report-excerpt" href="#" title="Уведомление по счетчикам" aria-label="Уведомление по счетчикам" data-report-type="8" data-id-process="@Model.TenancyProcess.IdProcess">Уведомление по счетчикам</a>
                            <a class="dropdown-item rr-report-mvd" href="#" title="Запрос в МВД (старый)" aria-label="Запрос в МВД (старый)" data-request-type="1" data-id-process="@Model.TenancyProcess.IdProcess">Запрос в МВД (старый)</a>
                            <a class="dropdown-item rr-report-mvd" href="#" title="Запрос в МВД (новый)" aria-label="Запрос в МВД (новый)" data-request-type="2" data-id-process="@Model.TenancyProcess.IdProcess">Запрос в МВД (новый)</a>
                            <a class="dropdown-item rr-report-resettle" href="#" title="Заявление на переселение Вторичка" aria-label="Заявление на переселение Вторичка" data-id-process="@Model.TenancyProcess.IdProcess">Заявление на переселение Вторичка</a>
                        </div>
                    </div>
                </div>
            }
            <div class="btn-group" role="group" aria-label="Панель доступа">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-controller="TenancyProcesses" asp-action="Index" asp-route-isBack="true">Назад</a>
                }
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" id="createBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit" && (ViewBag.CanEditBaseInfo ?? false))
                {
                    <input type="submit" value="Сохранить" id="editBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" id="deleteBtn" class="form-control btn btn-danger" />
                }

                <a href="#" data-for="TenancyProcess" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть найм жилья" style="font-weight:bold;">∧</a>
            </div>
        </div>
    </div>
    <div class="card-body pt-3 pb-3 pl-3 pr-3" id="TenancyProcess">
        <form asp-controller="TenancyProcesses" asp-action="@ViewBag.Action" id="TenancyProcessForm" autocomplete="off" data-action="@ViewBag.Action" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="TenancyProcess.IdProcess" />
            <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
            @foreach (var rentType in Model.RentTypes)
            {
                <input type="hidden" name="RentTypeGenetive" value="@rentType.IdRentType" data-genetive="@rentType.RentTypeGenetive" />
            }

            <div class="row">
                <div class="form-group col-md-4 mb-2">
                    <label class="mb-1" asp-for="TenancyProcess.RegistrationNum">Номер договора найма</label>
                    <input type="text" class="form-control" maxlength="255" asp-for="TenancyProcess.RegistrationNum" title="Номер договора найма">
                    <span asp-validation-for="TenancyProcess.RegistrationNum" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="rr-tenancy-label mb-1" asp-for="TenancyProcess.RegistrationDate">Дата регистрации договора</label>
                    <input type="date" class="form-control" asp-for="TenancyProcess.RegistrationDate"
                            value="@(Model.TenancyProcess.RegistrationDate.HasValue ? Model.TenancyProcess.RegistrationDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата регистрации договора">
                    <span asp-validation-for="TenancyProcess.RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="mb-1" asp-for="TenancyProcess.IssueDate">Дата выдачи договора</label>
                    <input type="date" class="form-control" asp-for="TenancyProcess.IssueDate"
                            value="@(Model.TenancyProcess.IssueDate.HasValue ? Model.TenancyProcess.IssueDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата выдачи договора">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-lg-4 col-md-6 mb-2">
                    <label class="mb-1 rr-tenancy-label" asp-for="TenancyProcess.BeginDate">Дата начала найма жилья</label>
                    <input type="date" class="form-control" asp-for="TenancyProcess.BeginDate"
                           value="@(Model.TenancyProcess.BeginDate.HasValue ? Model.TenancyProcess.BeginDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата начала найма жилья">
                </div>
                @if (ViewBag.Action != "Edit" || !(ViewBag.CanEditBaseInfo ?? false))
                {
                    <div class="form-group col-lg-4 col-md-6 mb-2">
                        <label class="mb-1 rr-tenancy-label" asp-for="TenancyProcess.EndDate">Дата окончания найма жилья</label>
                        <input type="date" class="form-control" asp-for="TenancyProcess.EndDate"
                               value="@(Model.TenancyProcess.EndDate.HasValue ? Model.TenancyProcess.EndDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания найма жилья">
                    </div>
                }
                else
                {
                    <div class="form-group col-lg-4 col-md-6 mb-2">
                        <label class="mb-1" asp-for="TenancyProcess.IdRentTypeCategory">Дата окончания найма жилья</label>
                        <div class="input-group">
                            <input type="date" class="form-control" asp-for="TenancyProcess.EndDate"
                                   value="@(Model.TenancyProcess.EndDate.HasValue ? Model.TenancyProcess.EndDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания найма жилья">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" title="Перенести период найма в предыдущие" type="button" id="RentPeriodToHistroy">
                                    <span class="oi oi-collapse-down"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-check col-lg-4 col-md-6 offset-md-6  offset-lg-0 rr-until-dismissal-checkbox mb-1">
                    <input type="checkbox" class="form-check-input" asp-for="TenancyProcess.UntilDismissal">
                    <label class="form-check-label" asp-for="TenancyProcess.UntilDismissal" title="На период трудовых отношений / пролонгирован">На период ТО / пролонгирован</label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4 mb-2">
                    <label class="mb-1" asp-for="TenancyProcess.IdRentType">Тип найма жилья</label>
                    <select class="selectpicker form-control" asp-for="TenancyProcess.IdRentType" asp-items="@(new SelectList(Model.RentTypes, "IdRentType", "RentTypeName"))"
                            title="Тип найма жилья" data-val="true" data-val-required="Выберите тип найма жилья">
                        <option></option>
                    </select>
                    <span asp-validation-for="TenancyProcess.IdRentType" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="mb-1" asp-for="TenancyProcess.IdExecutor">Исполнитель/составитель</label>
                    <select class="selectpicker form-control" asp-for="TenancyProcess.IdExecutor" title="Исполнитель/составитель"
                            data-val="true" data-val-required="Выберите исполнителя/составителя">
                        <option></option>
                        @{
                            var selectedExecutor = false;
                        }
                        @foreach (var executor in Model.Executors)
                        {
                            if (Model.TenancyProcess.IdExecutor == executor.IdExecutor ||
                                (ViewBag.Action == "Create" && Model.CurrentExecutor != null && executor.IdExecutor == Model.CurrentExecutor.IdExecutor) ||
                                (executor.IdExecutor == 65536 && !selectedExecutor))
                            {
                                selectedExecutor = true;
                                <option value="@executor.IdExecutor" selected>@executor.ExecutorName</option>
                            }
                            else
                            {
                                <option value="@executor.IdExecutor">@executor.ExecutorName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="TenancyProcess.IdExecutor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <input type="hidden" asp-for="TenancyProcess.IdAccount" />
                    <label class="mb-1" asp-for="TenancyProcess.IdAccount">Лицевой счет</label>
                    @if ((ViewBag.Action == "Details" || ViewBag.Action == "Delete") && Model.TenancyProcess.IdAccount != null)
                    {
                        <div class="input-group">
                            <input class="form-control" type="text" asp-for="TenancyProcess.IdAccountNavigation.Account" title="Номер лицевого счета" />
                            <a class="btn btn-outline-secondary rr-tenancy-account-btn" title="Карточка лицевого счета" target="_blank" asp-controller="KumiAccounts" asp-action="Details" asp-route-idAccount="@Model.TenancyProcess.IdAccount">
                                <span class="oi oi-eye"></span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <input type="text" class="form-control" asp-for="TenancyProcess.IdAccountNavigation.Account" title="Номер лицевого счета">
                    }

                </div>
            </div>
            <div class="row">
                @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
                {
                    <div class="form-group col-md-3 mb-2">
                        <label class="rr-tenancy-label mb-1">Размер платы (до 28.08.19)</label>
                        <input class="form-control" type="text" value="@Model.RentObjects.Select(ro => ro.Payment).Sum()" />
                    </div>
                    <div class="form-group col-md-3 mb-2">
                        <label class="rr-tenancy-label mb-1">Размер платы (после 28.08.19)</label>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="@Model.RentObjects.Select(ro => ro.PaymentAfter28082019).Sum()" />
                            <a class="btn btn-outline-secondary rr-payment-history-btn" title="История изменения платы за найм" target="_blank" asp-action="PaymentHistory" asp-route-id="@Model.TenancyProcess.IdProcess" asp-route-target="@PaymentHistoryTarget.Tenancy" id="button-addon2">
                                <span class="oi oi-eye"></span>
                            </a>
                        </div>
                    </div>

                }
                <div class="form-group mb-2 @(ViewBag.Action == "Details" || ViewBag.Action == "Delete" ? "col-md-6" : "col-md-12" )">
                    <label class="mb-1" asp-for="TenancyProcess.IdRentTypeCategory">Категория права</label>
                    <select class="selectpicker form-control" asp-for="TenancyProcess.IdRentTypeCategory" title="Категория права"
                            data-val="true" data-val-required="Выберите категорию права">
                        <option></option>
                        @foreach (var rentTypeCategory in Model.RentTypeCategories)
                        {
                            <option value="@rentTypeCategory.IdRentTypeCategory" data-id-rent-type="@rentTypeCategory.IdRentType">@rentTypeCategory.RentTypeCategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="TenancyProcess.IdRentTypeCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 rr-tenancy-card">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between pt-2 pb-2">
                            <h4 class="mt-1">Сдача в поднаем</h4>
                            <div>
                                <a href="#" data-for="TenancyProcessSubTenancy" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель разрешения на сдачу в поднаем" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <div id="TenancyProcessSubTenancy" class="card-body toggle-hide pt-3 pb-3 pl-3 pr-3">
                            <div class="form-group mb-2">
                                <label class="mb-1" asp-for="TenancyProcess.SubTenancyNum">Номер реквизита разрешения</label>
                                <input type="text" maxlength="255" class="form-control" asp-for="TenancyProcess.SubTenancyNum" title="Номер реквизита разрешения">
                                <span asp-validation-for="TenancyProcess.SubTenancyNum" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-0">
                                <label class="mb-1" asp-for="TenancyProcess.SubTenancyDate">Дата выдачи разрешения</label>
                                <input type="date" class="form-control" asp-for="TenancyProcess.SubTenancyDate"
                                       value="@(Model.TenancyProcess.SubTenancyDate.HasValue ? Model.TenancyProcess.SubTenancyDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата выдачи разрешения">
                                <span asp-validation-for="TenancyProcess.SubTenancyDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 rr-tenancy-card">
                    <partial name="RentPeriods" model="Model.TenancyProcess.TenancyRentPeriods" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 rr-tenancy-card">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between pt-2 pb-2">
                            <h4 class="mt-1" for="TenancyProcess.Description">Дополнительные сведения</h4>
                            <div class="btn-group" role="group">
                                <a href="#" data-for="TenancyProcessDescription" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть дополнительные сведения" style="font-weight:bold;">∧</a>
                            </div>
                        </div>
                        <textarea id="TenancyProcessDescription" maxlength="2048" class="form-control" asp-for="TenancyProcess.Description" title="Дополнительные сведения"></textarea>
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-12">
                <partial name="TenancyReasons" model="Model.TenancyProcess.TenancyReasons" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="TenancyAgreements" model="Model.TenancyProcess.TenancyAgreements" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="TenancyPersons" model="Model.TenancyProcess.TenancyPersons" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="RentObjects" model="Model.RentObjects" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="AttachmentFiles" model="Model.TenancyProcess.TenancyFiles" />
            </div>
        </div>
    </div>
</div>

<partial name="ReportsModals">

@section Scripts {
    <script src="~/js/tenancyProcess.common.js" asp-append-version="true"></script>
    <script src="~/js/tenancyProcess.reports.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete" || (ViewBag.Action == "Edit" && !(ViewBag.CanEditBaseInfo ?? false)))
    {
        <script>
            $(function () {
                $('select').prop('disabled', true);
                $('input').prop('disabled', true);
                $('textarea').prop('disabled', true);
                $('input[type="hidden"]').prop('disabled', false);
                $('input[type="submit"]').prop('disabled', false);
            })
        </script>
    }
}

