@using RegistryWeb.Extensions
@model RegistryWeb.ViewModel.TenancyProcessVM;
@{

    if (ViewBag.Action == "Create")
    {
        ViewData["Title"] = "Создание нового найма жилья";
    }
    else
    {
        ViewData["Title"] = "Найм жилья №" + Model.TenancyProcess.IdProcess;
    }
    ViewData["Id"] = Model.TenancyProcess.IdProcess;
    ViewData["TenancyReasonTypes"] = Model.TenancyReasonTypes;

    @*TenancyPersons*@
    ViewData["Kinships"] = Model.Kinships;
    ViewData["DocumentTypes"] = Model.DocumentTypes;
    ViewData["DocumentIssuedBy"] = Model.DocumentIssuedBy;
    ViewData["Streets"] = Model.Streets;
}

@section validation
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
}

@section styles {
    <link href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/tenancy.processes.css" runat="server" />
}


<div class="card">
    <div class="card-header d-flex flex-column flex-lg-row">
        <label class="form-check-label h2 col-sm-12 col-lg-6 col-xl-7 pl-0">@ViewData["Title"]</label>

        <div class="col-sm-12 col-lg-6 col-xl-5 text-lg-right pl-0 pr-0 mt-2 mt-lg-0">
            @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
            {
                <div class="btn-group" role="group" aria-label="Панель доступа">
                    @if (ViewBag.Action == "Details" && (ViewBag.CanEditBaseInfo ?? false))
                    {
                        <div class="btn-group" role="group" aria-label="Панель доступа">
                            <button class="btn btn-primary dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@Model.TenancyProcess.IdProcess" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-wrench"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="toolsBtn_@Model.TenancyProcess.IdProcess">
                                <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                                   asp-controller="TenancyProcesses" asp-action="Edit" asp-route-idProcess="@Model.TenancyProcess.IdProcess" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                                <a class="btn btn-danger oi oi-x @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" title="Удалить" aria-label="Удалить"
                                   asp-controller="TenancyProcesses" asp-action="Delete" asp-route-idProcess="@Model.TenancyProcess.IdProcess" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            </div>
                        </div>
                    }

                    <div class="btn-group" role="group" aria-label="Отчеты">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@Model.TenancyProcess.IdProcess" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@Model.TenancyProcess.IdProcess">
                            <a class="dropdown-item rr-report-tenancy-process" href="#" title="Договор найма" aria-label="Договор найма" data-id-process="@Model.TenancyProcess.IdProcess">Договор найма</a>
                        </div>
                    </div>
                </div>
            }
            <div class="btn-group" role="group" aria-label="Панель доступа">
                @if (@ViewBag.ReturnUrl != null)
                {
                    <a class="form-control btn btn-primary" href="@ViewBag.ReturnUrl">Назад</a>
                }
                else
                {
                    <a class="form-control btn btn-primary" asp-controller="TenancyProcess" asp-action="Index" asp-route-isBack="true">Назад</a>
                }
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" id="createBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" id="editBtn" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" id="deleteBtn" class="form-control btn btn-danger" />
                }

                <a href="#" data-for="TenancyProcess" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть найм жилья" style="font-weight:bold;">∧</a>
            </div>
        </div>
    </div>
    <div class="card-body" id="TenancyProcess">
        <form asp-controller="TenancyProcesses" asp-action="@ViewBag.Action" id="TenancyProcessForm" data-action="@ViewBag.Action" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="TenancyProcess.IdProcess" />
            <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.IdRentType">Тип найма жилья</label>
                    <select class="selectpicker form-control" asp-for="TenancyProcess.IdRentType" asp-items="@(new SelectList(Model.RentTypes, "IdRentType", "RentTypeName"))"
                            title="Тип найма жилья" data-val="true" data-val-required="Выберите тип найма жилья">
                        <option></option>
                    </select>
                    <span asp-validation-for="TenancyProcess.IdRentType" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.IdExecutor">Исполнитель/составитель</label>
                    <select class="selectpicker form-control" asp-for="TenancyProcess.IdExecutor" title="Исполнитель/составитель"
                            data-val="true" data-val-required="Выберите исполнителя/составителя">
                        <option></option>
                        @foreach (var executor in Model.Executors)
                        {
                            if (Model.CurrentExecutor != null && executor.IdExecutor == Model.CurrentExecutor.IdExecutor)
                            {
                                <option value="@executor.IdExecutor" selected>@executor.ExecutorName</option>
                            }
                            else
                            {
                                <option value="@executor.IdExecutor">@executor.ExecutorName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="TenancyProcess.IdExecutor" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
                {
                    <div class="form-group col-md-3">
                        <label class="rr-tenancy-label">Размер платы (до 28.08.19)</label>
                        <input class="form-control" type="text" value="@Model.RentObjects.Select(ro => ro.Payment).Sum()" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="rr-tenancy-label">Размер платы (после 28.08.19)</label>
                        <input class="form-control" type="text" value="@Model.RentObjects.Select(ro => ro.PaymentAfter28082019).Sum()" />
                    </div>
                }
                <div class="form-group @(ViewBag.Action == "Details" || ViewBag.Action == "Delete" ? "col-md-6" : "col-md-12" )">
                    <label asp-for="TenancyProcess.IdRentTypeCategory">Категория права</label>
                    <select class="selectpicker form-control" asp-for="TenancyProcess.IdRentTypeCategory" title="Категория права"
                            data-val="true" data-val-required="Выберите категорию права">
                        <option></option>
                        @foreach (var rentTypeCategory in Model.RentTypeCategories)
                        {
                            <option value="@rentTypeCategory.IdRentTypeCategory" data-id-rent-type="@rentTypeCategory.IdRentType">@rentTypeCategory.RentTypeCategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="TenancyProcess.IdRentTypeCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TenancyProcess.BeginDate">Дата начала найма жилья</label>
                    <input type="date" class="form-control" asp-for="TenancyProcess.BeginDate"
                           value="@(Model.TenancyProcess.BeginDate.HasValue ? Model.TenancyProcess.BeginDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата начала найма жилья">
                </div>
                @if (ViewBag.Action != "Edit")
                {
                    <div class="form-group col-md-6">
                        <label asp-for="TenancyProcess.IdRentTypeCategory">Дата окончания найма жилья</label>
                        <input type="date" class="form-control" asp-for="TenancyProcess.EndDate"
                               value="@(Model.TenancyProcess.EndDate.HasValue ? Model.TenancyProcess.EndDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания найма жилья">
                    </div>
                }
                else
                {
                    <div class="form-group col-md-6">
                        <label asp-for="TenancyProcess.IdRentTypeCategory">Дата окончания найма жилья</label>
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" asp-for="TenancyProcess.EndDate"
                                   value="@(Model.TenancyProcess.EndDate.HasValue ? Model.TenancyProcess.EndDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата окончания найма жилья">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" title="Перенести период найма в предыдущие" type="button" id="RentPeriodToHistroy">
                                    <span class="oi oi-collapse-down"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-check offset-md-6 col-md-6 rr-until-dismissal-checkbox">
                    <input type="checkbox" class="form-check-input" asp-for="TenancyProcess.UntilDismissal">
                    <label class="form-check-label" asp-for="TenancyProcess.UntilDismissal" title="На период трудовых отношений / пролонгирован">На период ТО / пролонгирован</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 rr-tenancy-card">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Сдача в поднаем</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessSubTenancy" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель разрешения на сдачу в поднаем" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <div id="TenancyProcessSubTenancy" class="card-body toggle-hide">
                            <div class="form-group">
                                <label asp-for="TenancyProcess.SubTenancyNum">Номер реквизита разрешения</label>
                                <input type="text" class="form-control" asp-for="TenancyProcess.SubTenancyNum" title="Номер реквизита разрешения">
                                <span asp-validation-for="TenancyProcess.SubTenancyNum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TenancyProcess.SubTenancyDate">Дата выдачи разрешения</label>
                                <input type="date" class="form-control" asp-for="TenancyProcess.SubTenancyDate"
                                       value="@(Model.TenancyProcess.SubTenancyDate.HasValue ? Model.TenancyProcess.SubTenancyDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата выдачи разрешения">
                                <span asp-validation-for="TenancyProcess.SubTenancyDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 rr-tenancy-card">
                    <partial name="RentPeriods" model="Model.TenancyProcess.TenancyRentPeriods" />
                </div>


            </div>
            <div class="row">
                <div class="col-12 rr-tenancy-card">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Договор найма</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessContract" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель договора найма" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <div id="TenancyProcessContract" class="card-body toggle-hide">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="TenancyProcess.RegistrationNum">Номер договора найма</label>
                                    <input type="text" class="form-control" asp-for="TenancyProcess.RegistrationNum" title="Номер договора найма">
                                    <span asp-validation-for="TenancyProcess.RegistrationNum" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="rr-tenancy-label" asp-for="TenancyProcess.RegistrationDate">Дата регистрации договора</label>
                                    <input type="date" class="form-control" asp-for="TenancyProcess.RegistrationDate"
                                           value="@(Model.TenancyProcess.RegistrationDate.HasValue ? Model.TenancyProcess.RegistrationDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата регистрации договора">
                                    <span asp-validation-for="TenancyProcess.RegistrationDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="TenancyProcess.IssueDate">Дата выдачи договора</label>
                                    <input type="date" class="form-control" asp-for="TenancyProcess.IssueDate"
                                           value="@(Model.TenancyProcess.IssueDate.HasValue ? Model.TenancyProcess.IssueDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата выдачи договора">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 rr-tenancy-card">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h3 for="TenancyProcess.Description">Дополнительные сведения</h3>
                            <div class="btn-group" role="group">
                                <a href="#" data-for="TenancyProcessDescription" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть дополнительные сведения" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <textarea id="TenancyProcessDescription" class="form-control toggle-hide" asp-for="TenancyProcess.Description" title="Дополнительные сведения"></textarea>
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-12">
                <partial name="TenancyReasons" model="Model.TenancyProcess.TenancyReasons" />
            </div>
        </div>

        @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
        {
            <div class="row">
                <div class="col-12">
                    <div class="card rr-tenancy-card">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Дополнительные соглашения</h3>
                            <div>
                                <a href="#" data-for="TenancyProcessAgreements" class="form-control btn btn-primary tenancy-process-toggler" title="Развернуть панель дополнительных соглашений" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <table id="TenancyProcessAgreements" class="table table-bordered card-body toggle-hide">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Содержание</th>
                                    <th style="width: 67px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TenancyProcess.TenancyAgreements != null && Model.TenancyProcess.TenancyAgreements.Any())
                                {
                                    for (var i = 0; i < Model.TenancyProcess.TenancyAgreements.Count; i++)
                                    {
                                        <tr class="tenancy-agreement-item">
                                            <td>
                                                <input type="hidden" asp-for="TenancyProcess.TenancyAgreements[i].IdAgreement" />
                                                <input type="hidden" asp-for="TenancyProcess.TenancyAgreements[i].IdExecutor" />
                                                <input type="date" class="form-control" asp-for="TenancyProcess.TenancyAgreements[i].AgreementDate"
                                                       value="@(Model.TenancyProcess.TenancyAgreements[i].AgreementDate.HasValue ? Model.TenancyProcess.TenancyAgreements[i].AgreementDate.Value.ToString("yyyy-MM-dd") : "")" title="Дата соглашения">
                                            </td>
                                            <td>
                                                <textarea rows="1" class="form-control tenancy-agreement-content" asp-for="TenancyProcess.TenancyAgreements[i].AgreementContent" title="@Model.TenancyProcess.TenancyAgreements[i].AgreementContent"></textarea>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary oi oi-eye tenancy-agreement-open" href="#" title="Открыть дополнительное соглашение" aria-label="Открыть дополнительное соглашение"></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="3"><i>Дополнительные соглашения отсутствуют</i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <partial name="TenancyPersons" model="Model.TenancyProcess.TenancyPersons" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="RentObjects" model="Model.RentObjects" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <partial name="AttachmentFiles" model="Model.TenancyProcess.TenancyFiles" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="agreementModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Дополнительное соглашение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6 col-lg-3">
                        <label for="Agreement_Date">Дата составления</label>
                        <div class="input-group date">
                            <input type="date" id="Agreement_Date" name="Agreement.Date" class="form-control" atitle="Дата составления">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-lg-9">
                        <label for="Agreement_IdExecutor">Исполнитель/составитель</label>
                        <select class="selectpicker form-control" data-actions-box="true" id="Agreement_IdExecutor" name="Agreement.IdExecutor" title="Исполнитель/составитель" asp-items="@(new SelectList(Model.Executors, "IdExecutor", "ExecutorName"))">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="Agreement_Content">Содержание соглашения</label>
                        <textarea rows="15" id="Agreement_Content" name="Agreement.Content" class="form-control" title="Содержание дополнительного соглашения"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
                {
                    <button id="insertAgreementModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Добавить</button>
                    <button id="cancelAgreementModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                }
                @if (ViewBag.Action == "Details")
                {
                    <button id="closeAgreementModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/address.common.js" asp-append-version="true"></script>
    <script src="~/js/tenancyProcess.common.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
    {
        <script>
            $(function () {
                $('select').prop('disabled', true);
                $('input').prop('disabled', true);
                $('textarea').prop('disabled', true);
                $('input[type="hidden"]').prop('disabled', false);
                $('input[type="submit"]').prop('disabled', false);
            })
        </script>
    }
}