@model List<Address>;
@{
    var address = (Address)ViewData["Address"];
}
<div class="row">
    <div class="dropdown col-auto">
        <button class="btn btn-success oi oi-home dropdown-toggle" type="button" title="Здания и помещения" aria-label="Здания и помещения" id="homesBtn_@ViewData["IdProcess"]_@address.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="homesBtn_@ViewData["IdProcess"]_@address.Id">
            @foreach (var addr in Model)
            {
                if (addr.AddressType == AddressTypes.Building)
                {
                    <a class="dropdown-item" asp-action="Details" asp-controller="Buildings" asp-route-idBuilding="@addr.Id" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Здание</a>
                }
                if (addr.AddressType == AddressTypes.Premise)
                {
                    <a class="dropdown-item" asp-action="Details" asp-controller="Premises" asp-route-idPremises="@addr.Id" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Помещение</a>
                }
            }
        </div>
    </div>
    <div class="col-lg-9 col-md-8">@address.Text</div>
</div>